<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>


<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-header">등급 설정
                        <button type="submit" class="btn btn-primary" style="float: right;">
                            <a th:href="@{|/admin/user/grade/new|}" stlye="color:#ffffff !important">
                                새 등급 등록
                            </a>
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">등급 설정</h5>

                        <!-- Table with hoverable rows -->
                        <table class="table table-hover ">
                            <thead>
                            <tr>
                                <th scope="col">등급단계</th>
                                <th scope="col">등급명</th>
                                <th scope="col">등급업포인트</th>
                                <th scope="col">할인율(%)</th>
                                <th scope="col">삭제</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="usergd : ${userGrade}">
                                <td th:text="${usergd.gradeStep}" style="vertical-align: middle;">Brandon Jacob</td>
                                <th scope="row" th:text="${usergd.gradeName}" style="vertical-align: middle;">user1@mail.com</th>
                                <td th:text="${usergd.rankUp}" style="vertical-align: middle;">Brandon Jacob</td>
                                <td th:text="${usergd.discount}" style="vertical-align: middle;">Brandon Jacob</td>
                                <td><a class="btn btn-danger" th:href="@{/admin/user/grade/{gradeId}/delete(gradeId=${usergd.id})}">삭제</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->

                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
<th:block th:replace="layout/footer :: #footer">

</th:block>
</body>

</html>