<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head><head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>관리자 상세 페이지</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item active">관리자 상세 페이지</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body pt-4">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="profile-overview">관리자정보</button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">특이사항</h5>
                                <p class="small fst-italic">밥 잘먹음.</p>

                                <h5 class="card-title">관리자상세정보</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">이름</div>
                                    <div class="col-lg-9 col-md-8" th:text="${adminDetail.userName}"> </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">나이</div>
                                    <div class="col-lg-9 col-md-8" th:text="${adminDetail.age()}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">성별</div>
                                    <div class="col-lg-9 col-md-8" th:text="${adminDetail.gender()}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">연락처</div>
                                    <div class="col-lg-9 col-md-8" th:text="${adminDetail.phoneNumber()}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">이메일</div>
                                    <div class="col-lg-9 col-md-8" th:text="${adminDetail.userEmail()}"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">현재등급</div>
                                    <div class="col-lg-9 col-md-8" th:text="${adminDetail.userGrade().getGradeName()}"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">잔여포인트</div>
                                    <div class="col-lg-9 col-md-8" th:text="${adminDetail.userPoint()} + ' p'"></div>
                                </div>
                            </div>
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<th:block th:replace="layout/footer :: #footer">

</th:block>

</body>

</html>