<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>

<main id="main" class="main">

    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="index.html"></a>검수목록</li>
                <li class="breadcrumb-item active">검수기록페이지</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="'검수기록-고객'+'('+${appraisalResponse.appraisal.appraisalStateStep}+')'">검수기록-고객(검수완료)</h5>

                        <!-- General Form Elements -->
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">검수상품명</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${appraisalResponse.appraisal.appraisalProductName}">
                                    고객이 작성한 검수 상품명
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">브랜드</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${appraisalResponse.appraisal.appraisalBrandName}">
                                    고양드
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">성별</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${appraisalResponse.appraisal.appraisalGender}">
                                    여
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">색상</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${appraisalResponse.appraisal.appraisalGender}">
                                    카키브라운
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">사이즈</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${appraisalResponse.appraisal.appraisalSize}">
                                    105
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">고객/이메일</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                    <div class="col-sm-10" style="font-weight: 300" th:text="${appraisalResponse.appraisal.userAccount.userName}">
                                </div>
                                <div>
                                    <a th:href="@{|/admin/user/${appraisalResponse.appraisal.userAccount.id}|}" th:text="${appraisalResponse.appraisal.userAccount.userEmail}">rnskqkd@naver.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">검수 기록 페이지</h5>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">검수상품명</label>
                                <div class="col-sm-10" th:text="${appraisalResponse.appraisal.appraisalProductName}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">매입가격(원)</label>
                                <div class="col-sm-10" th:text="${appraisalResponse.appraisalPrice}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">브랜드</label>
                                <div class="col-sm-10" th:text="${appraisalResponse.appraisal.appraisalBrandName}">

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">성별</label>
                                <div class="col-sm-10" th:text="${appraisalResponse.appraisal.appraisalGender}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">색상</label>
                                <div class="col-sm-10" th:text="${appraisalResponse.appraisal.appraisalColor}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">사이즈</label>
                                <div class="col-sm-10" th:text="${appraisalResponse.appraisal.appraisalSize}">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">검수등급</label>
                                <div class="col-sm-10" th:text="${appraisalResponse.appraisalGrade}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">검수 코멘트</label>
                                <div class="col-sm-10" th:text="${appraisalResponse.appraisalComment}">

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">요청검수코드</label>
                                <div class="col-sm-10" style="padding: 7px 12px;" th:text="${appraisalResponse.appraisal.id}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <button type="button" class="btn btn-success" style="float: right;">
                                        <a stlye="color:#ffffff !important" th:href="@{/admin/appraise}">
                                            뒤로가기
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!— End #main —>


<th:block th:replace="layout/footer :: #footer">

</th:block>

</body>

</html>