<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>


<main id="main" class="main">

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-12">

                <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header">검수목록</div>
                    <div class="card-body">
                        <h5 class="card-title">검색 조건</h5>
                        <form class="search-form" method="POST" action="#">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">검수상태</label>
                                <div class="col-sm-10">
                                    <select class="form-select">
                                        <!-- <option selected>Open this select menu</option> -->
                                        <!--                      <option value="1">Male</option>-->
                                        <!--                      <option value="2">Female</option>-->
                                        <!-- <option value="3">Three</option> -->
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">브랜드</label>
                                <div class="col-sm-10">

                                    <select class="form-select">
                                        <!-- <option selected>Open this select menu</option> -->
                                        <!--                      <option value="2">Two</option>-->
                                        <!--                      <option value="3">Three</option>-->
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">성별</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example">
                                        <!-- <option selected>Open this select menu</option> -->
                                        <!--                      <option value="1">bad</option>-->
                                        <!--                      <option value="2">Two</option>-->
                                        <!--                      <option value="3">Three</option>-->
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">사이즈</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example">
                                        <!-- <option selected>Open this select menu</option> -->
                                        <!--                      <option value="1">bad</option>-->
                                        <!--                      <option value="2">Two</option>-->
                                        <!--                      <option value="3">Three</option>-->
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">상품등급</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example">
                                        <!-- <option selected>Open this select menu</option> -->
                                        <!--                      <option value="1">bad</option>-->
                                        <!--                      <option value="2">Two</option>-->
                                        <!--                      <option value="3">Three</option>-->
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputDate" class="col-sm-2 col-form-label">등록일기준</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                            <div class="search-bar mb-3">
                                <input type="text" name="query" placeholder="검수상품명 혹은 매입가격 입력" title="Enter search keyword">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </div>
                    </div>
                    </form>
                </div><!-- End Card with header and footer -->
            </div>
        </div>
    </section>


    <div class="pagetitle">
        <nav style="--bs-breadcrumb-divider: '|';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">검색결과</li>
                <li class="breadcrumb-item active" th:text="'('+${appraisalResponse.totalElements}+') 건'">(3) 건</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">로그 내역</h5>

                        <!-- Table with hoverable rows -->
                        <table class="table table-hover ">
                            <thead>
                            <tr>
                                <th scope="col">검수상품명</th>
                                <th scope="col">브랜드명</th>
                                <th scope="col">성별</th>
                                <th scope="col">사이즈</th>
                                <th scope="col">매입가격</th>
                                <th scope="col">검수등급</th>
                                <th scope="col">검수상태</th>
                                <th scope="col">판매그룹</th>
                                <th scope="col">검수등록일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="appraisalRes : ${appraisalResponse}">
                                <th scope="row"><a href="#" th:text="${appraisalRes.appraisalName}">user1@mail.com</a></th>
                                <td th:text="${appraisalRes.appraisalBrandName}">Brandon Jacob</td>
                                <td th:text="${appraisalRes.appraisalGender}">dfd</td>
                                <td th:text="${appraisalRes.appraisalSize}">Designer</td>
                                <td th:text="${appraisalRes.appraisalPrice}">28</td>
                                <td th:text="${appraisalRes.appraisalGrade}">28</td>
                                <td th:text="${appraisalRes.appraisalStateStep}">2016-05-25</td>
                                <td th:text="${appraisalRes.appraisalStateName}">2016-05-25</td>
                                <td th:text="${appraisalRes.createdAt}">2016-05-25</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <th:block th:replace="layout/pagination :: #pagination">

    </th:block>

</main><!-- End #main -->
<script th:inline="javascript">
    <!-- 검색폼 스크립트 (user용) -->

    /*<![CDATA[*/

    function g_by(column) {
        columnArr = ["appraisalStateStep","appraisalBrandName","appraisalGender","appraisalSize","appraisalGrade"];
        let num;
        let fine_index = columnArr.map((item,index)=>{
            if (item === column) {
                num = index;
            }
        })
        console.log(num)
        let appraisalResponse = [[${appraisalResponse.content}]]
        console.log(appraisalResponse)
        let newArr = [];
        let cls = document.querySelectorAll(".form-select")[num];
        console.log("functioncall",cls);
        appraisalResponse.map((item,index)=>{
            newArr.push(item[column]);
        })
        let groupby = newArr.filter((item,index)=> {
            return newArr.indexOf(item) === index
        });
        let result = groupby.sort().map((item,index)=>{
            cls.innerHTML += `<option value="${index}">${item}</option>`;
            return cls.innerHTML;
        })
        return cls.innerHTML
    }
    g_by("appraisalStateStep");
    g_by("appraisalBrandName");
    g_by("appraisalGender")
    g_by("appraisalSize");
    g_by("appraisalGrade");
    /*]]>*/

</script>
<th:block th:replace="layout/footer :: #footer">

</th:block>

</body>

</html>