<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>


<main id="main" class="main">

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-12">

                <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header">검수목록
                        <!--<button type="submit" class="btn btn-primary" style="float: right;">
                            <a th:href="@{/admin/appraise/new}" stlye="color:#ffffff !important">
                                새 검수등록
                            </a>
                        </button>-->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">검색 조건</h5>
                        <form class="search-form" action="/admin/appraise">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">검수상태</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="appraisalState">
                                        <option value="" selected>전체</option>
                                        <option th:each="state : ${appraisalSearchResponse.stateDtos()}" th:if="${state.stateName().contains('검수')}"
                                                th:value="${state.stateStep()}" th:text="${state.stateStep}">example</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">브랜드</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="appraisalBrand">
                                        <option value="" selected>전체</option>
                                        <option th:each="brand : ${appraisalSearchResponse.brandDtos()}" th:value="${brand.brandName()}" th:text="${brand.brandName}">example</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">성별</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="appraisalGender">
                                        <option value="" selected>전체</option>
                                        <option value="Male">남자</option>
                                        <option value="Female">여자</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">사이즈</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="appraisalSize">
                                        <option value="" selected>전체</option>
                                        <option th:each="num : ${#numbers.sequence(90,290, 5)}" th:value="${num}" th:text="${num}">14</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">상품등급</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="appraisalGrade">
                                        <option value="" selected>전체</option>
                                        <option value="1">S</option>
                                        <option value="2">A</option>
                                        <option value="3">B</option>
                                        <option value="3">C</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">등록일기준</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" name="appraisalDate">
                                </div>
                            </div>
                            <div class="search-bar mb-3">
                                <input type="text" name="query" placeholder="검수상품명 혹은 매입가격 입력" title="Enter search keyword">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </div>
                    </form>
                    </div>
                </div><!-- End Card with header and footer -->
            </div>
        </div>
    </section>


    <div class="pagetitle">
        <nav style="--bs-breadcrumb-divider: '|';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">검색결과</li>
                <li class="breadcrumb-item active" th:text="'('+${appraisalResponse.totalElements}+') 건'">(3) 건</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">로그 내역</h5>

                        <!-- Table with hoverable rows -->
                        <table class="table table-hover ">
                            <thead>
                            <tr>
                                <th scope="col">검수상품명</th>
                                <th scope="col">브랜드명</th>
                                <th scope="col">성별</th>
                                <th scope="col">사이즈</th>
                                <th scope="col">매입가격</th>
                                <th scope="col">검수등급</th>
                                <th scope="col">검수상태</th>
                                <th scope="col">판매그룹</th>
                                <th scope="col">검수등록일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="appraisalRes : ${appraisalResponse}">
                                <th scope="row"><a th:href="@{/admin/appraise/{appraisalId}/new(appraisalId=${appraisalRes.id})}" th:text="${appraisalRes.appraisalName}">user1@mail.com</a></th>
                                <td th:text="${appraisalRes.appraisalBrandName}">Brandon Jacob</td>
                                <td th:text="${appraisalRes.appraisalGender}">dfd</td>
                                <td th:text="${appraisalRes.appraisalSize}">Designer</td>
                                <td th:text="${#numbers.formatInteger(appraisalRes.appraisalPrice,3,'COMMA')}+'원'">28</td>
                                <td th:text="${appraisalRes.appraisalGrade}">28</td>
                                <td th:text="${appraisalRes.appraisalStateStep}">2016-05-25</td>
                                <td th:text="${appraisalRes.appraisalStateName}">2016-05-25</td>
                                <td th:text="${#temporals.format(appraisalRes.createdAt,'yyyy-MM-dd')}">2016-05-25</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Pagination with icons -->
    <nav id="pagination" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{/admin/appraise(page=${appraisalResponse.number - 1}, sort=(${param.sort} != null ? ${param.sort} : '') + (${appraisalResponse.sort.getOrderFor('param.sort')} != null ? (${appraisalResponse.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                      query=${param.query})}" aria-label="Previous" th:class="'page-link' + (${appraisalResponse.number} <= 0 ? ' disabled' : '')">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="pageNumber : ${paginationBarNumbers}">
                <a th:text="${pageNumber + 1}"
                   th:href="@{/admin/appraise(page=${pageNumber},
                          sort=(${param.sort} != null ? ${param.sort} : '') + (${appraisalResponse.sort.getOrderFor('param.sort')} != null ? (${appraisalResponse.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                          query=${param.query}
                      )}"
                   th:class="'page-link' + (${pageNumber} == ${appraisalResponse.number} <= 0 ? ' disabled' : '')">
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/admin/appraise(page=${appraisalResponse.number + 1}, sort=(${param.sort} != null ? ${param.sort} : '') + (${appraisalResponse.sort.getOrderFor('param.sort')} != null ? (${appraisalResponse.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                      query=${param.query})}" aria-label="Next" th:class="'page-link' + (${appraisalResponse.number} >= ${appraisalResponse.totalPages - 1} ? ' disabled' : '')">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav><!-- End Pagination with icons -->

</main><!-- End #main -->
<!--<script th:inline="javascript">
    &lt;!&ndash; 검색폼 스크립트 (user용) &ndash;&gt;

    /*<![CDATA[*/

    function g_by(column) {
        columnArr = ["appraisalStateStep","appraisalBrandName","appraisalGender","appraisalSize","appraisalGrade"];
        let num;
        let fine_index = columnArr.map((item,index)=>{
            if (item === column) {
                num = index;
            }
        })
        console.log(num)
        let appraisalResponse = [[${appraisalResponse.content}]]
        console.log(appraisalResponse)
        let newArr = [];
        let cls = document.querySelectorAll(".form-select")[num];
        console.log("functioncall",cls);
        appraisalResponse.map((item,index)=>{
            newArr.push(item[column]);
        })
        let groupby = newArr.filter((item,index)=> {
            return newArr.indexOf(item) === index
        });
        let result = groupby.sort().map((item,index)=>{
            cls.innerHTML += `<option value="${index}">${item}</option>`;
            return cls.innerHTML;
        })
        return cls.innerHTML
    }
    g_by("appraisalStateStep");
    g_by("appraisalBrandName");
    g_by("appraisalGender")
    g_by("appraisalSize");
    g_by("appraisalGrade");
    /*]]>*/

</script>-->
<th:block th:replace="layout/footer :: #footer">

</th:block>

</body>

</html>