<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>

<main id="main" class="main">

    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">홈</a></li>
                <li class="breadcrumb-item"><a href="/admin/appraise">검수목록</a></li>
                <li class="breadcrumb-item active">검수기록페이지</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">검수기록-고객</h5>

                        <!-- General Form Elements -->
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">검수상품명</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${appraisalResponse.appraisalRequest.appraisalProductName}">
                                    고객이 작성한 검수 상품명
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">브랜드</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${appraisalResponse.appraisalRequest.appraisalBrandName}">
                                    고양드
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">성별</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${appraisalResponse.appraisalRequest.appraisalGender}">
                                    여
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">색상</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${appraisalResponse.appraisalRequest.appraisalColor}">
                                    카키브라운
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">사이즈</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${appraisalResponse.appraisalRequest.appraisalSize}">
                                    105
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">요청날짜</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${#temporals.format(appraisalResponse.appraisalRequest.createdAt,'yyyy-MM-dd HH:mm:ss')}">
                                    105
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">고객/이메일</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300" th:text="${appraisalResponse.appraisalRequest.userAccount.userName}">
                                </div>
                                <div>
                                    <a th:href="@{|/admin/user/${appraisalResponse.appraisalRequest.userAccount.id}|}" th:text="${appraisalResponse.appraisalRequest.userAccount.userEmail}">rnskqkd@naver.com</a>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">이미지</label>
                            <div class="col-sm-10" style="padding: 7px 12px; display: flex; justify-content: flex-start">
                                <img th:each="image : ${appraisalResponse.appraisalRequest.imageList}"
                                     th:src="${image.filePath}" style="width: 100px; height: 100px;margin-right: 16px;">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">검수 기록 페이지</h5>

                        <form id="appraisalForm" method="POST">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">검수상품명</label>
                                <div class="col-sm-10">
                                    <input type="text" name="appraisalName" id="appraisalName" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">매입가격(원)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="appraisalPrice" id="appraisalPrice" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">브랜드</label>
                                <div class="col-sm-10">
                                    <select class="form-select form-control" id="appraiseBrand" name="appraiseBrand">
                                        <option th:each="brand : ${brandList}" th:value="${brand.id}" th:text="${brand.brandName}">example</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">성별</label>
                                <div class="col-sm-10">
                                    <input type="text" name="appraisalGender" id="appraisalGender" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">색상</label>
                                <div class="col-sm-10">
                                    <input type="text" name="appraisalColor" id="appraisalColor" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">사이즈</label>
                                <div class="col-sm-10">
                                    <input type="text" name="appraisalSize" id="appraisalSize" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">검수등급</label>
                                <div class="col-sm-10">
                                    <input type="text" name="appraisalGrade" id="appraisalGrade" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">검수 코멘트</label>
                                <div class="col-sm-10">
                                    <div class="form-floating mb-3">
                                        <textarea name='appraisalComment' id="appraisalComment" class="form-control" placeholder="손상상태/담당자 이름 등 검수 코멘트를 기록해주세요." style="height: 100px;"></textarea>
                                        <label for="appraisalComment"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">검수코드</label>
                                <div class="col-sm-10" style="padding: 7px 12px;">
                                    <div id="appraisalId" class="col-sm-10" style="font-weight: 300;" th:text="${appraisalResponse.id}">1</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <button type="button" class="btn btn-success" onClick="save_btn()" id="modifyingData" style="float: right;">저장하기</button>
                                    <button type="button" class="btn btn-danger" onClick="complete_btn()" id="lastData" style="float: right; margin-right: 8px;" >검수확정</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<th:block th:replace="layout/footer :: #footer">
</th:block>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
    console.log("i'm loaded")


    function save_btn() {
        let data = {
            appraisalName: $('#appraisalName').val(),
            appraisalPrice: $('#appraisalPrice').val(),
            appraisalBrand: $("select[name=appraiseBrand]").val(),
            appraisalGender: $('#appraisalGender').val(),
            appraisalColor: $('#appraisalColor').val(),
            appraisalSize: $('#appraisalSize').val(),
            appraisalGrade: $('#appraisalGrade').val(),
            appraisalComment: $('#appraisalComment').val(),
            appraisalId: $('#appraisalId').text(),
            appraisalStateId: 2
        }
        console.log(data);
        $.ajax({
            type:"POST",
            url:"/admin/appraise/"+[[${appraisalResponse.id}]]+"/new/loading",
            data:JSON.stringify(data),
            contentType:"application/json; charset=utf-8",
            dataType:"json",
        }).done(function(res){
            console.log(res);
            location.href="/admin/appraise";
        }).fail(function(error){
            console.log("function error : "+error);
        });
    }

    function complete_btn() {
        let data = {
            appraisalName: $('#appraisalName').val(),
            appraisalPrice: $('#appraisalPrice').val(),
            appraisalBrand: $("select[name=appraiseBrand]").val(),
            appraisalGender: $('#appraisalGender').val(),
            appraisalColor: $('#appraisalColor').val(),
            appraisalSize: $('#appraisalSize').val(),
            appraisalGrade: $('#appraisalGrade').val(),
            appraisalComment: $('#appraisalComment').val(),
            appraisalId: $('#appraisalId').text(),
            appraisalStateId: 3
        }
        console.log(data);
        $.ajax({
            type:"POST",
            url:"/admin/appraise/"+[[${appraisalResponse.id}]]+"/new/loading",
            data:JSON.stringify(data),
            contentType:"application/json; charset=utf-8",
            dataType:"json",
        }).done(function(res){
            location.href="/admin/appraise";
        }).fail(function(error){
            console.log("function error : "+error);
        });
    }

</script>

</body>

</html>