<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>

<main id="main" class="main">

    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">홈</a></li>
                <li class="breadcrumb-item"><a href="/admin/appraise">검수목록</a></li>
                <li class="breadcrumb-item active">검수기록페이지</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">검수기록-고객</h5>

                        <!-- General Form Elements -->
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">검수상품명</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${appraisal.appProdNm}">
                                    고객이 작성한 검수 상품명
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">브랜드</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${appraisal.appBrand}">
                                    고양드
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">성별</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${appraisal.appGender}">
                                    여
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">색상</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${appraisal.appColor}">
                                    카키브라운
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">사이즈</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${appraisal.appSize}">
                                    105
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">요청날짜</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300;" th:text="${#temporals.format(appraisal.createdAt,'yyyy-MM-dd HH:mm:ss')}">
                                    105
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">고객/이메일</label>
                            <div class="col-sm-10" style="padding: 7px 12px;">
                                <div class="col-sm-10" style="font-weight: 300" th:text="${appraisal.userNm}">
                                </div>
                                <div>
                                    <a th:href="@{|/admin/user/${appraisal.userId}|}" th:text="${appraisal.userEmail}">rnskqkd@naver.com</a>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">이미지</label>
                            <div class="col-sm-10" style="padding: 7px 12px; display: flex; justify-content: flex-start">
                                <img th:each="image : ${appraisal.imageList}"
                                     th:src="${image.filePath}" style="width: 100px; height: 100px;margin-right: 16px;">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">검수 기록 페이지</h5>
                            <div class="row mb-3">
                                <label for="appraisalPrice" class="col-sm-2 col-form-label">매입가격(원)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="appraisalPrice" id="appraisalPrice" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="appraisalGrade" class="col-sm-2 col-form-label">검수등급</label>
                                <div class="col-sm-10">
                                    <input type="text" name="appraisalGrade" id="appraisalGrade" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="appraisalComment" class="col-sm-2 col-form-label">검수 코멘트</label>
                                <div class="col-sm-10">
                                    <div class="form-floating mb-3">
                                        <textarea name='appraisalComment' id="appraisalComment" class="form-control" placeholder="손상상태/담당자 이름 등 검수 코멘트를 기록해주세요." style="height: 100px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">검수코드</label>
                                <div class="col-sm-10" style="padding: 7px 12px;">
                                    <div id="appraisalId" class="col-sm-10" style="font-weight: 300;" th:text="${appraisal.id}">1</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <button type="button" class="btn btn-warning" th:if="${appraisal.appState != 'INSPECTION'}" onclick="change_btn()" style="float: right;">검수중</button>
                                    <button type="button" class="btn btn-danger" th:if="${appraisal.appState != 'REJECT'}" onclick="fail_btn()" style="float: right; margin-right: 8px;" >매입 거부</button>
                                    <button type="button" class="btn btn-success" onclick="complete_btn()" style="float: right; margin-right: 8px;" >검수확정</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<th:block th:replace="layout/footer :: #footer">
</th:block>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function change_btn() {
        let data = {
            appraisalState: 'INSPECTION'
        }
        console.log(data);
        $.ajax({
            type:"POST",
            url:"/admin/appraise/"+$('#appraisalId').text()+"/change",
            data:JSON.stringify(data),
            contentType:"application/json; charset=utf-8",
            dataType:"json"
        }).done(function(res){
            location.href="/admin/appraise";
        }).fail(function(error){
            console.log("function error : "+error);
        });
    }

    function fail_btn() {
        let data = {
            appraisalState: 'REJECT'
        }
        console.log(data);
        $.ajax({
            type:"POST",
            url:"/admin/appraise/"+$('#appraisalId').text()+"/change",
            data:JSON.stringify(data),
            contentType:"application/json; charset=utf-8",
            dataType:"json"
        }).done(function(res){
            location.href="/admin/appraise";
        }).fail(function(error){
            console.log("function error : "+error);
        });
    }

    function complete_btn() {
        let data = {
            appraisalPrice: $('#appraisalPrice').val(),
            appraisalGrade: $('#appraisalGrade').val(),
            appraisalComment: $('#appraisalComment').val(),
            appraisalId: $('#appraisalId').text(),
            appraisalState: 'COMPLETE'
        }
        console.log(data);
        $.ajax({
            type:"POST",
            url:"/admin/appraise/"+data.appraisalId+"/new/loading",
            data:JSON.stringify(data),
            contentType:"application/json; charset=utf-8",
            dataType:"json"
        }).done(function(res){
            location.href="/admin/appraise";
        }).fail(function(error){
            console.log("function error : "+error);
        });
    }
</script>

</body>

</html>