<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>


<main id="main" class="main">

    <!--    <section class="section">-->
    <!--        <div class="row align-items-top">-->
    <!--            <div class="col-lg-12">-->

    <!--                &lt;!&ndash; Card with header and footer &ndash;&gt;-->
    <!--                <div class="card">-->
    <!--                    <div class="card-header">회원목록</div>-->
    <!--                    <div class="card-body">-->
    <!--                        <h5 class="card-title">검색 조건</h5>-->
    <!--                        <form class="search-form" method="POST" action="#">-->
    <!--                            <div class="row mb-3">-->
    <!--                                <label class="col-sm-2 col-form-label">성별</label>-->
    <!--                                <div class="col-sm-10">-->
    <!--                                    <select class="form-select">-->
    <!--                                        &lt;!&ndash; <option selected>Open this select menu</option> &ndash;&gt;-->
    <!--                                        &lt;!&ndash;                      <option value="1">Male</option>&ndash;&gt;-->
    <!--                                        &lt;!&ndash;                      <option value="2">Female</option>&ndash;&gt;-->
    <!--                                        &lt;!&ndash; <option value="3">Three</option> &ndash;&gt;-->
    <!--                                    </select>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div class="row mb-3">-->
    <!--                                <label class="col-sm-2 col-form-label">나이</label>-->
    <!--                                <div class="col-sm-10">-->

    <!--                                    <select class="form-select">-->
    <!--                                        &lt;!&ndash; <option selected>Open this select menu</option> &ndash;&gt;-->
    <!--                                        &lt;!&ndash;                      <option value="2">Two</option>&ndash;&gt;-->
    <!--                                        &lt;!&ndash;                      <option value="3">Three</option>&ndash;&gt;-->
    <!--                                    </select>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div class="row mb-3">-->
    <!--                                <label class="col-sm-2 col-form-label">등급</label>-->
    <!--                                <div class="col-sm-10">-->
    <!--                                    <select class="form-select" aria-label="Default select example">-->
    <!--                                        &lt;!&ndash; <option selected>Open this select menu</option> &ndash;&gt;-->
    <!--                                        &lt;!&ndash;                      <option value="1">bad</option>&ndash;&gt;-->
    <!--                                        &lt;!&ndash;                      <option value="2">Two</option>&ndash;&gt;-->
    <!--                                        &lt;!&ndash;                      <option value="3">Three</option>&ndash;&gt;-->
    <!--                                    </select>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div class="row mb-3">-->
    <!--                                <label for="inputDate" class="col-sm-2 col-form-label">가입일기준</label>-->
    <!--                                <div class="col-sm-10">-->
    <!--                                    <input type="date" class="form-control">-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div class="search-bar mb-3">-->
    <!--                                <input type="text" name="query" placeholder="이메일 혹은 고객명 입력" title="Enter search keyword">-->
    <!--                                <button type="submit"><i class="bi bi-search"></i></button>-->
    <!--                            </div>-->
    <!--                    </div>-->
    <!--                    </form>-->
    <!--                </div>&lt;!&ndash; End Card with header and footer &ndash;&gt;-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->


    <!--    <div class="pagetitle">-->
    <!--        <nav style="&#45;&#45;bs-breadcrumb-divider: '|';">-->
    <!--            <ol class="breadcrumb">-->
    <!--                <li class="breadcrumb-item active">검색결과</li>-->
    <!--                <li class="breadcrumb-item active" th:text="'('+${userGrade.totalElements}+') 건'">(3) 건</li>-->
    <!--            </ol>-->
    <!--        </nav>-->
    <!--    </div>&lt;!&ndash; End Page Title &ndash;&gt;-->
    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-12">

                <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header">
                        <button type="submit" class="btn btn-primary" style="float: right;">
                            <a th:href="@{/admin/product/brand/new}" stlye="color:#ffffff !important">
                                새 브랜드등록
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">브랜드 설정</h5>
                        <table class="table table-hover ">
                            <thead>
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">브랜드명</th>
                                <th scope="col">삭제</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="brandlist : ${brandList}">
                                <th scope="row" style="vertical-align: middle;"><a href="#" th:text="${brandlist.id}">user1@mail.com</a></th>
                                <td th:text="${brandlist.brandName}" style="vertical-align: middle;">Brandon Jacob</td>
                                <td>
                                    <form action="#">
                                        <button type="submit" class="btn btn-danger">
                                            삭제
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </th:block>

</main><!-- End #main -->
<th:block th:replace="layout/footer :: #footer">

</th:block>
</body>

</html>