<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
  header
</header>

<th:block th:replace="layout/aside :: .sidebar">
  aside
</th:block>

<main id="main" class="main">

  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item">카테고리 설정</li>
        <li class="breadcrumb-item active">새 카테고리 등록</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">새 카테고리 등록</h5>

            <!-- General Form Elements -->
            <form th:action="@{|/admin/product/category/new/create|}" method="post">
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">카테고리 선택</label>
                  <input type="radio"  class="form-control" name="categoryType" value="big" checked onclick="javacript:display(1)">큰 카테고리
                  <input type="radio"  class="form-control" name="categoryType" value="middle" onclick="javacript:display(0)">작은 카테고리
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">카테고리명</label>
                <div class="col-sm-10">
                  <input type="text" id="inputText" class="form-control" name="categoryName">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">종속될 카테고리</label>
                <div class="col-sm-10 " id = "selectBox" name = "Bid">
                  <select name="Bid" >
                      <option value="">선택해주세요</option>
                      <option th:each="list : ${listDtos}" th:value="${list.id()}" th:text="${list.categoryBName()}"></option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-success" style="float: right;">
                    <a th:href="@{/admin/product/category}">
                      뒤로가기
                    </a>
                  </button>
                  <button type="submit" class="btn btn-primary" style="float: right; margin-right: 8px;">등록하기</button>
                </div>
              </div>
            </form><!-- End General Form Elements -->
          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->


<th:block th:replace="layout/footer :: #footer">

</th:block>
<script>
  function display(a)
  {
      let sel = document.getElementById("selectBox");
      if(a == 1 && sel.style.display=="block")
      {
        sel.style.display = "none";
        return;
      }else if(a == 0) {
        if (sel.style.display === "none") {
          sel.style.display = "block";
        } else if (sel.style.display === "block") {
          sel.style.display = "none";
        }
      }

  }

  window.onload = () => {
    document.getElementById("selectBox").style.display = "none";
  }


</script>
</body>

</html>