<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head">

</head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>


<main id="main" class="main">

    <!--    <section class="section">-->
    <!--        <div class="row align-items-top">-->
    <!--            <div class="col-lg-12">-->

    <!--                &lt;!&ndash; Card with header and footer &ndash;&gt;-->
    <!--                <div class="card">-->
    <!--                    <div class="card-header">회원목록</div>-->
    <!--                    <div class="card-body">-->
    <!--                        <h5 class="card-title">검색 조건</h5>-->
    <!--                        <form class="search-form" method="POST" action="#">-->
    <!--                            <div class="row mb-3">-->
    <!--                                <label class="col-sm-2 col-form-label">성별</label>-->
    <!--                                <div class="col-sm-10">-->
    <!--                                    <select class="form-select">-->
    <!--                                        &lt;!&ndash; <option selected>Open this select menu</option> &ndash;&gt;-->
    <!--                                        &lt;!&ndash;                      <option value="1">Male</option>&ndash;&gt;-->
    <!--                                        &lt;!&ndash;                      <option value="2">Female</option>&ndash;&gt;-->
    <!--                                        &lt;!&ndash; <option value="3">Three</option> &ndash;&gt;-->
    <!--                                    </select>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div class="row mb-3">-->
    <!--                                <label class="col-sm-2 col-form-label">나이</label>-->
    <!--                                <div class="col-sm-10">-->

    <!--                                    <select class="form-select">-->
    <!--                                        &lt;!&ndash; <option selected>Open this select menu</option> &ndash;&gt;-->
    <!--                                        &lt;!&ndash;                      <option value="2">Two</option>&ndash;&gt;-->
    <!--                                        &lt;!&ndash;                      <option value="3">Three</option>&ndash;&gt;-->
    <!--                                    </select>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div class="row mb-3">-->
    <!--                                <label class="col-sm-2 col-form-label">등급</label>-->
    <!--                                <div class="col-sm-10">-->
    <!--                                    <select class="form-select" aria-label="Default select example">-->
    <!--                                        &lt;!&ndash; <option selected>Open this select menu</option> &ndash;&gt;-->
    <!--                                        &lt;!&ndash;                      <option value="1">bad</option>&ndash;&gt;-->
    <!--                                        &lt;!&ndash;                      <option value="2">Two</option>&ndash;&gt;-->
    <!--                                        &lt;!&ndash;                      <option value="3">Three</option>&ndash;&gt;-->
    <!--                                    </select>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div class="row mb-3">-->
    <!--                                <label for="inputDate" class="col-sm-2 col-form-label">가입일기준</label>-->
    <!--                                <div class="col-sm-10">-->
    <!--                                    <input type="date" class="form-control">-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div class="search-bar mb-3">-->
    <!--                                <input type="text" name="query" placeholder="이메일 혹은 고객명 입력" title="Enter search keyword">-->
    <!--                                <button type="submit"><i class="bi bi-search"></i></button>-->
    <!--                            </div>-->
    <!--                    </div>-->
    <!--                    </form>-->
    <!--                </div>&lt;!&ndash; End Card with header and footer &ndash;&gt;-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->


    <!--    <div class="pagetitle">-->
    <!--        <nav style="&#45;&#45;bs-breadcrumb-divider: '|';">-->
    <!--            <ol class="breadcrumb">-->
    <!--                <li class="breadcrumb-item active">검색결과</li>-->
    <!--                <li class="breadcrumb-item active" th:text="'('+${userGrade.totalElements}+') 건'">(3) 건</li>-->
    <!--            </ol>-->
    <!--        </nav>-->
    <!--    </div>&lt;!&ndash; End Page Title &ndash;&gt;-->
    <section class="section" id="top">
        <div class="row align-items-top">
            <div class="col-lg-12">

                <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header">
                        <button  class="btn btn-primary" style="float: right;">
                            <a th:onclick="changeCategory('big')"  stlye="color:#ffffff !important">
                                큰카테고리
                            </a>
                        </button>
                        <button  class="btn btn-primary" style="float: right;">
                            <a  th:onclick="changeCategory('middle')" stlye="color:#ffffff !important">
                                작은 카테고리
                            </a>
                        </button>
                        <button type="submit" class="btn btn-primary" style="float: right;">
                            <a th:href="@{/admin/product/category/new}" stlye="color:#ffffff !important">
                                새 카테고리등록
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id = "bottom">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" id = "cardTitle">큰 카테고리</h5>

                        <!-- Table with hoverable rows -->
                        <table class="table table-hover ">
                            <thead>
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">카테고리 이름</th>
                                <th scope="col">삭제</th>
                            </tr>
                            </thead>
                            <tbody id ="list">
                            <tr th:each="BCategoryList : ${categoryList}">
                                <th scope="row" style="vertical-align: middle;" th:text="${BCategoryListStat.count}">user1@mail.com</th>
                                <td th:text="${BCategoryList.categoryBName}" style="vertical-align: middle;">Brandon Jacob</td>
                                <td><a class="btn btn-danger" th:href="@{/admin/product/category/{categoryId}/delete(categoryId=${BCategoryList.id})}">삭제</a></td>
                                <!-- @{/admin/product/category/{categoryId}/delete(categoryId=${BCategoryList.id})}-->
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    </th:block>

</main><!-- End #main -->
<th:block th:replace="layout/footer :: #footer">

</th:block>
    <!-- SCRIPT DO NOT CHANGE IN THIS PLACE -->
<script  type="text/javascript" th:inline="javascript">

    function changeCategory(check)
    {
        console.log(check)
        var httpRequest = new XMLHttpRequest();

        //ajax상태 체크
        httpRequest.onreadystatechange = () =>{
            if(httpRequest.readyState === 4) {if(httpRequest.status === 200) {console.log("사용가능");}}
        }

        //ajax 전송
        const sdata = {
            check: check
        };
        httpRequest.open("POST","/admin/product/category/changer",true)
        httpRequest.setRequestHeader("Context-Type","application/json");
        httpRequest.send(JSON.stringify(sdata));

        httpRequest.onload = () =>{
            if(httpRequest.status === 200) {
                let data = JSON.parse(httpRequest.response);
                let textHTML="";
                let id,name;
                const  textHTMLForm =
                    "<tr> " +
                    "<th scope='row' style='vertical-align: middle;'  >"+id+"</th>"+
                    "<td  style='vertical-align: middle;' >"+name+"</td>" +
                    "<td><a className='btn btn-danger'>삭제</a></td>"+
                    "</tr>";
                for(const key in data)
                {
                    console.log(data[key].categoryBName);
                    id = data[key].id;
                    name = data[key].categoryBName;
                    textHTML += textHTMLForm;
                }



                if(check === "big")
                {
                    //카드 재작성
                    document.getElementById("cardTitle").textContent = "큰 카테고리"
                    //html 작성


                    for(const key in data)
                    {

                    }
                    console.log(textHTML);
                    document.getElementById("list").innerHTML = textHTML;
                }else if(check === "middle")
                {
                    document.getElementById("cardTitle").textContent = "작은 카테고리"

                }

            }else
            {
                console.log("???????");
            }

        }

    }


</script>
</body>

</html>