
<!-- Recent Activity -->
<div class="card">
  <!--                    <div class="filter">-->
  <!--                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
  <!--                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
  <!--                            <li><a class="dropdown-item" href="#">오늘</a></li>-->
  <!--                            <li><a class="dropdown-item" href="#">이번달 </a></li>-->
  <!--                            <li><a class="dropdown-item" href="#">이번 년도</a></li>-->
  <!--                        </ul>-->
  <!--                    </div>-->
  <div class="card-body">
    <h5 class="card-title">최근 관리자 활동</h5>
    <div class="activity">
      <div class="activity-item d-flex">
        <div class="activite-label">32 min</div>
        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
        <div class="activity-content">
          <a href="#" class="fw-bold text-dark">OOO</a>님이 회원탈퇴를 검토하였습니다.
        </div>
      </div><!-- End activity item-->

      <div class="activity-item d-flex">
        <div class="activite-label">56 min</div>
        <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
        <div class="activity-content">
          예산보고가 갱신되었습니다.
        </div>
      </div><!-- End activity item-->

      <div class="activity-item d-flex">
        <div class="activite-label">2 hrs</div>
        <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
        <div class="activity-content">
          <a href="#" class="fw-bold text-dark">OOO</a>님이 회원승급을 검토하였습니다.
        </div>
      </div><!-- End activity item-->

      <div class="activity-item d-flex">
        <div class="activite-label">1 day</div>
        <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
        <div class="activity-content">
          <a href="#" class="fw-bold text-dark">OOO</a>님이 회원강등을 검토하였습니다.
        </div>
      </div><!-- End activity item-->

      <div class="activity-item d-flex">
        <div class="activite-label">2 days</div>
        <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
        <div class="activity-content">
          누적 방문자가 100000명을 넘었습니다.
        </div>
      </div><!-- End activity item-->

      <div class="activity-item d-flex">
        <div class="activite-label">4 weeks</div>
        <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
        <div class="activity-content">
          예산보고가 갱신되었습니다.
        </div>
      </div><!-- End activity item-->

    </div>

  </div>
</div><!-- End Recent Activity -->