<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">홈</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li><a class="dropdown-item" href="#">오늘</a></li>
                                    <li><a class="dropdown-item" href="#">이번달 </a></li>
                                    <li><a class="dropdown-item" href="#">이번 년도</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">판매 <span>| 오늘</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 ><a th:text="${countOrder}"></a>개</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->

                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li><a class="dropdown-item" href="#">오늘</a></li>
                                    <li><a class="dropdown-item" href="#">이번 달</a></li>
                                    <li><a class="dropdown-item" href="#">이번 년도</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">수익 <span>| 오늘</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>3,264</h6>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->

                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card customers-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li><a class="dropdown-item" href="#">오늘</a></li>
                                    <li><a class="dropdown-item" href="#">이번 달</a></li>
                                    <li><a class="dropdown-item" href="#">이번 년도</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">고객 <span>| 오늘</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>1244</h6>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->

                    <!-- Reports -->
                    <div class="col-12">
                        <div class="card">
<!--                            <div class="filter">-->
<!--                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
<!--                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
<!--                                    <li><a class="dropdown-item" href="#">오늘</a></li>-->
<!--                                    <li><a class="dropdown-item" href="#">이번 달</a></li>-->
<!--                                    <li><a class="dropdown-item" href="#">이번 년도</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
                            <div class="card-body">
                                <h5 class="card-title">보고</h5>


                                <div id="reportsChart">
                                    <h5 class="card-title">회원탈퇴를 요청하는 고객이 00명 있습니다.</h5>
                                    <h5 class="card-title">승급을 대기하는 고객이 00명 있습니다.</h5>
                                    <h5 class="card-title">검수를 요청하는 고객이 00명 있습니다.</h5>
                                    <h5 class="card-title">주문 00개가 대기하고 있습니다.</h5>
                                    <h5 class="card-title">주문을 취소하는 요청 00개가 있습니다.</h5>
                                </div>

                                <script>
                                    document.addEventListener("DOMContentLoaded", () => {
                                        new ApexCharts(document.querySelector("#reportsChart"), {
                                            series: [{
                                                name: 'Sales',
                                                data: [31, 40, 28, 51, 42, 82, 56],
                                            }, {
                                                name: 'Revenue',
                                                data: [11, 32, 45, 32, 34, 52, 41]
                                            }, {
                                                name: 'Customers',
                                                data: [15, 11, 32, 18, 9, 24, 11]
                                            }],
                                            chart: {
                                                height: 350,
                                                type: 'area',
                                                toolbar: {
                                                    show: false
                                                },
                                            },
                                            markers: {
                                                size: 4
                                            },
                                            colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                            fill: {
                                                type: "gradient",
                                                gradient: {
                                                    shadeIntensity: 1,
                                                    opacityFrom: 0.3,
                                                    opacityTo: 0.4,
                                                    stops: [0, 90, 100]
                                                }
                                            },
                                            dataLabels: {
                                                enabled: false
                                            },
                                            stroke: {
                                                curve: 'smooth',
                                                width: 2
                                            },
                                            xaxis: {
                                                type: 'datetime',
                                                categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                                            },
                                            tooltip: {
                                                x: {
                                                    format: 'dd/MM/yy HH:mm'
                                                },
                                            }
                                        }).render();
                                    });
                                </script>
                                <!-- End Line Chart -->

                            </div>

                        </div>
                    </div><!-- End Reports -->

                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li><a class="dropdown-item" href="#">오늘</a></li>
                                    <li><a class="dropdown-item" href="#">이번 달</a></li>
                                    <li><a class="dropdown-item" href="#">이번 년도</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">경매 상품 <span>| 오늘</span></h5>

                                <table class="table table-borderless datatable">
                                    <thead>
                                    <tr>
                                        <th scope="col">종료 시간</th>
                                        <th scope="col">입찰 고객</th>
                                        <th scope="col">상품</th>
                                        <th scope="col">현재 가격</th>
                                        <th scope="col">상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row"><a href="#">#2457</a></th>
                                        <td>Brandon Jacob</td>
                                        <td><a href="#" class="text-primary">상품</a></td>
                                        <td>$64</td>
                                        <td><span class="badge bg-success">입찰완료</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2147</a></th>
                                        <td>Bridie Kessler</td>
                                        <td><a href="#" class="text-primary">상품</a></td>
                                        <td>$47</td>
                                        <td><span class="badge bg-warning">입찰중</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2049</a></th>
                                        <td>Ashleigh Langosh</td>
                                        <td><a href="#" class="text-primary">상품</a></td>
                                        <td>$147</td>
                                        <td><span class="badge bg-success">입찰완료</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2644</a></th>
                                        <td>Angus Grady</td>
                                        <td><a href="#" class="text-primar">상품</a></td>
                                        <td>$67</td>
                                        <td><span class="badge bg-danger">유찰됨</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2644</a></th>
                                        <td>Raheem Lehner</td>
                                        <td><a href="#" class="text-primary">상품</a></td>
                                        <td>$165</td>
                                        <td><span class="badge bg-success">입찰완료</span></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Recent Sales -->

                    <!-- Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li><a class="dropdown-item" href="#">오늘</a></li>
                                    <li><a class="dropdown-item" href="#">이번 달</a></li>
                                    <li><a class="dropdown-item" href="#">이번 년도</a></li>
                                </ul>
                            </div>

                            <div class="card-body pb-0">
                                <h5 class="card-title">주목해야 하는 상품<span>| 오늘</span></h5>

                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col">유형</th>
                                        <th scope="col">상품</th>
                                        <th scope="col">가격</th>
                                        <th scope="col">판매량</th>
                                        <th scope="col">수익</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row"><a href="#"><img src="/static/assets/img/product-1.jpg" alt=""></a>
                                        </th>
                                        <td><a href="#" class="text-primary fw-bold">상품</a></td>
                                        <td>$64</td>
                                        <td class="fw-bold">124</td>
                                        <td>$5,828</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#"><img src="/static/assets/img/product-2.jpg" alt=""></a>
                                        </th>
                                        <td><a href="#" class="text-primary fw-bold">상품</a></td>
                                        <td>$46</td>
                                        <td class="fw-bold">98</td>
                                        <td>$4,508</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#"><img src="/static/assets/img/product-3.jpg" alt=""></a>
                                        </th>
                                        <td><a href="#" class="text-primary fw-bold">상품</a></td>
                                        <td>$59</td>
                                        <td class="fw-bold">74</td>
                                        <td>$4,366</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#"><img src="/static/assets/img/product-4.jpg" alt=""></a>
                                        </th>
                                        <td><a href="#" class="text-primary fw-bold">상품</a></td>
                                        <td>$32</td>
                                        <td class="fw-bold">63</td>
                                        <td>$2,016</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#"><img src="/static/assets/img/product-5.jpg" alt=""></a>
                                        </th>
                                        <td><a href="#" class="text-primary fw-bold">상품</a></td>
                                        <td>$79</td>
                                        <td class="fw-bold">41</td>
                                        <td>$3,239</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Top Selling -->

                </div>
            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">

                <!-- Recent Activity -->
                <div class="card">
<!--                    <div class="filter">-->
<!--                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
<!--                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
<!--                            <li><a class="dropdown-item" href="#">오늘</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">이번달 </a></li>-->
<!--                            <li><a class="dropdown-item" href="#">이번 년도</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <div class="card-body">
                        <h5 class="card-title">최근 관리자 활동</h5>
                        <div class="activity">
                            <div class="activity-item d-flex">
                                <div class="activite-label">32 min</div>
                                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                <div class="activity-content">
                                    <a href="#" class="fw-bold text-dark">OOO</a>님이 회원탈퇴를 검토하였습니다.
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">56 min</div>
                                <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                                <div class="activity-content">
                                    예산보고가 갱신되었습니다.
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">2 hrs</div>
                                <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                                <div class="activity-content">
                                    <a href="#" class="fw-bold text-dark">OOO</a>님이 회원승급을 검토하였습니다.
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">1 day</div>
                                <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                                <div class="activity-content">
                                    <a href="#" class="fw-bold text-dark">OOO</a>님이 회원강등을 검토하였습니다.
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">2 days</div>
                                <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                                <div class="activity-content">
                                    누적 방문자가 100000명을 넘었습니다.
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">4 weeks</div>
                                <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                                <div class="activity-content">
                                    예산보고가 갱신되었습니다.
                                </div>
                            </div><!-- End activity item-->

                        </div>

                    </div>
                </div><!-- End Recent Activity -->

                <!-- Budget Report -->
                <div class="card">
<!--                    <div class="filter">-->
<!--                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
<!--                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
<!--                            <li><a class="dropdown-item" href="#">오늘</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">이번달</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">이번 년도</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <div class="card-body pb-0">
                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li><a class="dropdown-item" href="#">오늘</a></li>
                                <li><a class="dropdown-item" href="#">이번 달</a></li>
                                <li><a class="dropdown-item" href="#">이번 년도</a></li>
                            </ul>
                        </div>

                        <h5 class="card-title">예산 보고</h5>

                        <div id="budgetChart" style="min-height: 400px;" class="echart"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                                    legend: {
                                        data: ['Allocated Budget', 'Actual Spending']
                                    },
                                    radar: {
                                        // shape: 'circle',
                                        indicator: [{
                                            name: 'Sales',
                                            max: 6500
                                        },
                                            {
                                                name: 'Administration',
                                                max: 16000
                                            },
                                            {
                                                name: 'Information Technology',
                                                max: 30000
                                            },
                                            {
                                                name: 'Customer Support',
                                                max: 38000
                                            },
                                            {
                                                name: 'Development',
                                                max: 52000
                                            },
                                            {
                                                name: 'Marketing',
                                                max: 25000
                                            }
                                        ]
                                    },
                                    series: [{
                                        name: 'Budget vs spending',
                                        type: 'radar',
                                        data: [{
                                            value: [4200, 3000, 20000, 35000, 50000, 18000],
                                            name: 'Allocated Budget'
                                        },
                                            {
                                                value: [5000, 14000, 28000, 26000, 42000, 21000],
                                                name: 'Actual Spending'
                                            }
                                        ]
                                    }]
                                });
                            });
                        </script>

                    </div>
                </div><!-- End Budget Report -->

                <!-- Website Traffic -->
                <!--          <div class="card">-->
                <!--            <div class="filter">-->
                <!--              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
                <!--              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
                <!--                <li class="dropdown-header text-start">-->
                <!--                  <h6>Filter</h6>-->
                <!--                </li>-->

                <!--                <li><a class="dropdown-item" href="#">오늘</a></li>-->
                <!--                <li><a class="dropdown-item" href="#">이번달 </a></li>-->
                <!--                <li><a class="dropdown-item" href="#">이번 년도</a></li>-->
                <!--              </ul>-->
                <!--            </div>-->

                <!--            <div class="card-body pb-0">-->
                <!--              <h5 class="card-title">웹 활동량 <span>| 오늘</span></h5>-->

                <!--              <div id="trafficChart" style="min-height: 400px;" class="echart"></div>-->

                <!--              <script>-->
                <!--                document.addEventListener("DOMContentLoaded", () => {-->
                <!--                  echarts.init(document.querySelector("#trafficChart")).setOption({-->
                <!--                    tooltip: {-->
                <!--                      trigger: 'item'-->
                <!--                    },-->
                <!--                    legend: {-->
                <!--                      top: '5%',-->
                <!--                      left: 'center'-->
                <!--                    },-->
                <!--                    series: [{-->
                <!--                      name: 'Access From',-->
                <!--                      type: 'pie',-->
                <!--                      radius: ['40%', '70%'],-->
                <!--                      avoidLabelOverlap: false,-->
                <!--                      label: {-->
                <!--                        show: false,-->
                <!--                        position: 'center'-->
                <!--                      },-->
                <!--                      emphasis: {-->
                <!--                        label: {-->
                <!--                          show: true,-->
                <!--                          fontSize: '18',-->
                <!--                          fontWeight: 'bold'-->
                <!--                        }-->
                <!--                      },-->
                <!--                      labelLine: {-->
                <!--                        show: false-->
                <!--                      },-->
                <!--                      data: [{-->
                <!--                          value: 1048,-->
                <!--                          name: 'Search Engine'-->
                <!--                        },-->
                <!--                        {-->
                <!--                          value: 735,-->
                <!--                          name: 'Direct'-->
                <!--                        },-->
                <!--                        {-->
                <!--                          value: 580,-->
                <!--                          name: 'Email'-->
                <!--                        },-->
                <!--                        {-->
                <!--                          value: 484,-->
                <!--                          name: 'Union Ads'-->
                <!--                        },-->
                <!--                        {-->
                <!--                          value: 300,-->
                <!--                          name: 'Video Ads'-->
                <!--                        }-->
                <!--                      ]-->
                <!--                    }]-->
                <!--                  });-->
                <!--                });-->
                <!--              </script>-->

                <!--            </div>-->
                <!--          </div>&lt;!&ndash; End Website Traffic &ndash;&gt;-->

                <!-- News & Updates Traffic -->
                <!--          <div class="card">-->
                <!--            <div class="filter">-->
                <!--              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
                <!--              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
                <!--                <li class="dropdown-header text-start">-->
                <!--                  <h6>Filter</h6>-->
                <!--                </li>-->

                <!--                <li><a class="dropdown-item" href="#">오늘</a></li>-->
                <!--                <li><a class="dropdown-item" href="#">이번 달</a></li>-->
                <!--                <li><a class="dropdown-item" href="#">이번 년도</a></li>-->
                <!--              </ul>-->
                <!--            </div>-->

                <!--            <div class="card-body pb-0">-->
                <!--              <h5 class="card-title">소식 &amp; 활동 <span>| 오늘</span></h5>-->

                <!--              <div class="news">-->
                <!--                <div class="post-item clearfix">-->
                <!--                  <img src="/static/assets/img/news-1.jpg" alt="">-->
                <!--                  <h4><a href="#">소식</a></h4>-->
                <!--                  <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>-->
                <!--                </div>-->

                <!--                <div class="post-item clearfix">-->
                <!--                  <img src="/static/assets/img/news-2.jpg" alt="">-->
                <!--                  <h4><a href="#">소식2</a></h4>-->
                <!--                  <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>-->
                <!--                </div>-->

                <!--                <div class="post-item clearfix">-->
                <!--                  <img src="/static/assets/img/news-3.jpg" alt="">-->
                <!--                  <h4><a href="#">소식3</a></h4>-->
                <!--                  <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>-->
                <!--                </div>-->

                <!--                <div class="post-item clearfix">-->
                <!--                  <img src="/static/assets/img/news-4.jpg" alt="">-->
                <!--                  <h4><a href="#">소식4</a></h4>-->
                <!--                  <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>-->
                <!--                </div>-->

                <!--                <div class="post-item clearfix">-->
                <!--                  <img src="/static/assets/img/news-5.jpg" alt="">-->
                <!--                  <h4><a href="#">소식5</a></h4>-->
                <!--                  <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>-->
                <!--                </div>-->

                <!--              </div>&lt;!&ndash; End sidebar recent posts&ndash;&gt;-->

                <!--            </div>-->
                <!--          </div>&lt;!&ndash; End News & Updates &ndash;&gt;-->

                <!--        </div>&lt;!&ndash; End Right side columns &ndash;&gt;-->

            </div>
        </div>
    </section>

</main><!-- End #main -->

<th:block th:replace="layout/footer :: #footer">

</th:block>
<!-- bootstrap.js import-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>