<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">홈</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6" >
                        <div class="card info-card sales-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li><a class="dropdown-item" onclick="bannerChanger('salesCard','today')">오늘</a></li>
                                    <li><a class="dropdown-item" onclick="bannerChanger('salesCard','month')">이번 달 </a></li>
                                    <li><a class="dropdown-item" onclick="bannerChanger('salesCard','year')">이번 년도</a></li>
                                </ul>
                            </div>

                            <div class="card-body" id = "salesCard">
                                <h5 class="card-title">판매 <span>| 오늘</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 ><a th:text="${countOrder}"></a>개</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->

                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6" >
                        <div class="card info-card revenue-card">
                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li><a class="dropdown-item" onclick="bannerChanger('revenueCard','today')">오늘</a></li>
                                    <li><a class="dropdown-item" onclick="bannerChanger('revenueCard','month')">이번 달</a></li>
                                    <li><a class="dropdown-item" onclick="bannerChanger('revenueCard','year')">이번 년도</a></li>
                                </ul>
                            </div>

                            <div class="card-body" id = "revenueCard">
                                <h5 class="card-title">수익 <span>| 오늘</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6><a th:text="${#numbers.formatInteger(sumPrice,3,'COMMA')}"></a>\</h6>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->

                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card customers-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li><a class="dropdown-item" onclick="bannerChanger('costomersCard','today')">오늘</a></li>
                                    <li><a class="dropdown-item" onclick="bannerChanger('costomersCard','month')">이번 달</a></li>
                                    <li><a class="dropdown-item" onclick="bannerChanger('costomersCard','year')">이번 년도</a></li>
                                </ul>
                            </div>

                            <div class="card-body" id  ="costomersCard">
                                <h5 class="card-title">방문 고객 <span>| 오늘</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6><a th:text="${countCustomer}"></a>명</h6>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->

                    <!-- Reports -->
                    <div class="col-12">
                        <div class="card">
<!--                            <div class="filter">-->
<!--                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
<!--                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
<!--                                    <li><a class="dropdown-item" href="#">오늘</a></li>-->
<!--                                    <li><a class="dropdown-item" href="#">이번 달</a></li>-->
<!--                                    <li><a class="dropdown-item" href="#">이번 년도</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
                            <div class="card-body">
                                <h5 class="card-title">보고</h5>

                                <div id="reportsChart">
                                    <h5 class="card-title">회원탈퇴를 요청하는 고객이 <a th:text="${countWithdrawal}"></a>명 있습니다.</h5>
                                    <h5 class="card-title">승급을 대기하는 고객이 <a th:text="${countGrade}"></a>명 있습니다.</h5>
                                    <h5 class="card-title">검수를 요청하는 고객이 <a th:text="${countAppraise}"></a>명 있습니다.</h5>
                                    <h5 class="card-title">주문 <a th:text="${countOrderNotTreat}"></a>개가 대기하고 있습니다.</h5>
                                    <h5 class="card-title">주문을 취소하는 요청 <a th:text="${countCancle}"></a>개가 있습니다.</h5>
                                </div>

                                <script>
                                    document.addEventListener("DOMContentLoaded", () => {
                                        new ApexCharts(document.querySelector("#reportsChart"), {
                                            series: [{
                                                name: 'Sales',
                                                data: [31, 40, 28, 51, 42, 82, 56],
                                            }, {
                                                name: 'Revenue',
                                                data: [11, 32, 45, 32, 34, 52, 41]
                                            }, {
                                                name: 'Customers',
                                                data: [15, 11, 32, 18, 9, 24, 11]
                                            }],
                                            chart: {
                                                height: 350,
                                                type: 'area',
                                                toolbar: {
                                                    show: false
                                                },
                                            },
                                            markers: {
                                                size: 4
                                            },
                                            colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                            fill: {
                                                type: "gradient",
                                                gradient: {
                                                    shadeIntensity: 1,
                                                    opacityFrom: 0.3,
                                                    opacityTo: 0.4,
                                                    stops: [0, 90, 100]
                                                }
                                            },
                                            dataLabels: {
                                                enabled: false
                                            },
                                            stroke: {
                                                curve: 'smooth',
                                                width: 2
                                            },
                                            xaxis: {
                                                type: 'datetime',
                                                categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                                            },
                                            tooltip: {
                                                x: {
                                                    format: 'dd/MM/yy HH:mm'
                                                },
                                            }
                                        }).render();
                                    });
                                </script>
                                <!-- End Line Chart -->

                            </div>

                        </div>
                    </div><!-- End Reports -->

                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li><a class="dropdown-item" onclick="bannerChanger('recentSales','today')">오늘</a></li>
                                    <li><a class="dropdown-item" onclick="bannerChanger('recentSales','month')">이번 달</a></li>
                                    <li><a class="dropdown-item" onclick="bannerChanger('recentSales','year')">이번 년도</a></li>
                                </ul>
                            </div>

                            <div class="card-body" id ="recentSales">
                                <h5 class="card-title">경매 상품 <span>| 오늘</span></h5>

                                <table class="table table-borderless datatable">
                                    <thead>
                                    <tr>
                                        <th scope="col">종료 시간</th>
                                        <th scope="col">입찰 고객</th>
                                        <th scope="col">상품 번호</th>
                                        <th scope="col">입찰/낙찰 가격</th>
                                        <th scope="col">상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row"><a th:text="${#temporals.format(auctionBanner.get(0).getAuctionClosingDate,'yyyy-MM-dd HH:mm:ss')}">상품없음</a></th>
                                        <td><a th:text="${auctionBanner.get(0).getBidder}">상품없음</a></td>
                                        <td><a class="text-primary" th:text="${auctionBanner.get(0).getId}" th:href="@{/admin/product/product-detail/{productId}(productId=${auctionBanner.get(0).getId})}">상품없음</a></td>
                                        <td><a th:text="${#numbers.formatInteger(auctionBanner.get(0).getPresentPrice,3,'COMMA')}">상품없음</a></td>
                                        <td><span class="badge bg-success">입찰완료</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a th:text="${#temporals.format(auctionBanner.get(1).getAuctionClosingDate,'yyyy-MM-dd HH:mm:ss')}">상품없음</a></th>
                                        <td><a th:text="${auctionBanner.get(1).getBidder}">상품없음</a></td>
                                        <td><a class="text-primary" th:text="${auctionBanner.get(1).getId}" th:href="@{/admin/product/product-detail/{productId}(productId=${auctionBanner.get(1).getId})}">상품없음</a></td>
                                        <td><a th:text="${#numbers.formatInteger(auctionBanner.get(1).getPresentPrice,3,'COMMA')}">상품없음</a></td>
                                        <td><span class="badge bg-info">가장 높은 낙찰가</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a th:text="${#temporals.format(auctionBanner.get(2).getAuctionClosingDate,'yyyy-MM-dd HH:mm:ss')}">상품없음</a></th>
                                        <td><a th:text="${auctionBanner.get(2).getBidder}">상품없음</a></td>
                                        <td><a class="text-primary" th:text="${auctionBanner.get(2).getId}" th:href="@{/admin/product/product-detail/{productId}(productId=${auctionBanner.get(2).getId})}">상품없음</a></td>
                                        <td><a th:text="${#numbers.formatInteger(auctionBanner.get(2).getPresentPrice,3,'COMMA')}">상품없음</a></td>
                                        <td><span class="badge bg-danger">유찰</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a th:text="${#temporals.format(auctionBanner.get(3).getAuctionClosingDate,'yyyy-MM-dd HH:mm:ss')}">상품없음</a></th>
                                        <td><a th:text="${auctionBanner.get(3).getBidder}">상품없음</a></td>
                                        <td><a class="text-primary" th:text="${auctionBanner.get(3).getId}" th:href="@{/admin/product/product-detail/{productId}(productId=${auctionBanner.get(3).getId})}">상품없음</a></td>
                                        <td><a th:text="${#numbers.formatInteger(auctionBanner.get(3).getPresentPrice,3,'COMMA')}">상품없음</a></td>
                                        <td><span class="badge bg-secondary">가장 높은 입찰가</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a th:text="${#temporals.format(auctionBanner.get(4).getAuctionClosingDate,'yyyy-MM-dd HH:mm:ss')}">상품없음</a></th>
                                        <td><a th:text="${auctionBanner.get(4).getBidder}">상품없음</a></td>
                                        <td><a class="text-primary" th:text="${auctionBanner.get(4).getId}" th:href="@{/admin/product/product-detail/{productId}(productId=${auctionBanner.get(4).getId})}">상품없음</a></td>
                                        <td><a th:text="${#numbers.formatInteger((auctionBanner.get(4).getPresentPrice),3,'COMMA')}">상품없음</a></td>
                                        <td><span class="badge bg-warning">높은 경쟁률</span></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Recent Sales -->

                    <!-- Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li><a class="dropdown-item" onclick="bannerChanger('attentionPoint','today')">오늘</a></li>
                                    <li><a class="dropdown-item" onclick="bannerChanger('attentionPoint','month')">이번 달</a></li>
                                    <li><a class="dropdown-item" onclick="bannerChanger('attentionPoint','year')">이번 년도</a></li>
                                </ul>
                            </div>

                            <div class="card-body pb-0" id ="attentionPoint">
                                <h5 class="card-title">주목해야 하는 몇몇 유형<span>| 오늘</span></h5>

                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col">판매 유형</th>
                                        <th scope="col">큰 카테고리</th>
                                        <th scope="col">작은 카테고리</th>
                                        <th scope="col">가격대</th>
                                        <th scope="col">조회수</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                        <h4><a th:text="${saleTypeBanner.get(0)}"></a></h4>
                                        <h6>가장 활발한 판매 경로</h6>
                                        </td>
                                        <td>
                                        <h4><a th:text="${saleTypeBanner.get(1)}"></a></h4>
                                        <h6>가장 잘팔리는 큰 카테고리 유형</h6>
                                        </td>
                                        <td>
                                        <h4><a th:text="${saleTypeBanner.get(2)}"></a></h4>
                                        <h6>가장 잘팔리는 작은 카테고리 유형</h6>
                                        </td>
                                        <td>
                                        <h4><a th:text="${saleTypeBanner.get(3)}"></a></h4>
                                        <h6>가장 잘팔리는 가격대</h6>
                                        </td>
                                        <td>
                                        <h4><a th:text="${saleTypeBanner.get(4)}"></a></h4>
                                        <h6>가장 많이 본 상품</h6>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Top Selling -->

                </div>
            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">


                <!-- Budget Report -->
                <div class="card">
<!--                    <div class="filter">-->
<!--                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
<!--                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
<!--                            <li><a class="dropdown-item" href="#">오늘</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">이번달</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">이번 년도</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li><a class="dropdown-item" onclick="bannerChanger('costReport','today')">오늘</a></li>
                                <li><a class="dropdown-item" onclick="bannerChanger('costReport','week')">이번 주</a></li>
                                <li><a class="dropdown-item" onclick="bannerChanger('costReport','month')">이번 달</a></li>
                            </ul>
                        </div>
                    <div class="card-body pb-0" id = "costReport">
                        <h5 class="card-title">예산 보고</h5>
                        <table>
                            <tbody>
                            <tr>
                                <td><h4 class="card-title">총수익</h4></td>
                                <td><h4 class="card-title"><a th:text="${costReport.get(0)}"></a></h4></td>
                            </tr>
                            <tr>
                                <td><h4 class="card-title">상품 수익</h4></td>
                                <td><h4 class="card-title"><a th:text="${costReport.get(1)}"></a></h4></td>
                            </tr>
                            <tr>
                                <td><h4 class="card-title">경매수익</h4></td>
                                <td><h4 class="card-title"><a th:text="${costReport.get(2)}"></a></h4></td>
                            </tr>
                            <tr>
                                <td><h4 class="card-title">상품 순이익</h4></td>
                                <td><h4 class="card-title"><a th:text="${costReport.get(3)}"></a></h4></td>
                            </tr>
                            <tr>
                                <td><h4 class="card-title">경매 순이익</h4></td>
                                <td><h4 class="card-title"><a th:text="${costReport.get(4)}"></a></h4></td>
                            </tr>
                            <tr>
                                <td><h4 class="card-title">판매중인 상품</h4></td>
                                <td><h4 class="card-title"><a th:text="${costReport.get(5)}"></a></h4></td>
                            </tr>
                            <tr>
                                <td><h4 class="card-title">진행중인 경매</h4></td>
                                <td><h4 class="card-title"><a th:text="${costReport.get(6)}"></a></h4></td>
                            </tr>
                            </tbody>
                        </table>
                       <!-- <div id="budgetChart" style="min-height: 400px;" class="echart"></div> -->

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                                    legend: {
                                        data: ['Allocated Budget', 'Actual Spending']
                                    },
                                    radar: {
                                        // shape: 'circle',
                                        indicator: [{
                                            name: 'Sales',
                                            max: 6500
                                        },
                                            {
                                                name: 'Administration',
                                                max: 16000
                                            },
                                            {
                                                name: 'Information Technology',
                                                max: 30000
                                            },
                                            {
                                                name: 'Customer Support',
                                                max: 38000
                                            },
                                            {
                                                name: 'Development',
                                                max: 52000
                                            },
                                            {
                                                name: 'Marketing',
                                                max: 25000
                                            }
                                        ]
                                    },
                                    series: [{
                                        name: 'Budget vs spending',
                                        type: 'radar',
                                        data: [{
                                            value: [4200, 3000, 20000, 35000, 50000, 18000],
                                            name: 'Allocated Budget'
                                        },
                                            {
                                                value: [5000, 14000, 28000, 26000, 42000, 21000],
                                                name: 'Actual Spending'
                                            }
                                        ]
                                    }]
                                });
                            });
                        </script>

                    </div>
                </div><!-- End Budget Report -->

                <!-- Website Traffic -->
                <!--          <div class="card">-->
                <!--            <div class="filter">-->
                <!--              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
                <!--              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
                <!--                <li class="dropdown-header text-start">-->
                <!--                  <h6>Filter</h6>-->
                <!--                </li>-->

                <!--                <li><a class="dropdown-item" href="#">오늘</a></li>-->
                <!--                <li><a class="dropdown-item" href="#">이번달 </a></li>-->
                <!--                <li><a class="dropdown-item" href="#">이번 년도</a></li>-->
                <!--              </ul>-->
                <!--            </div>-->

                <!--            <div class="card-body pb-0">-->
                <!--              <h5 class="card-title">웹 활동량 <span>| 오늘</span></h5>-->

                <!--              <div id="trafficChart" style="min-height: 400px;" class="echart"></div>-->

                <!--              <script>-->
                <!--                document.addEventListener("DOMContentLoaded", () => {-->
                <!--                  echarts.init(document.querySelector("#trafficChart")).setOption({-->
                <!--                    tooltip: {-->
                <!--                      trigger: 'item'-->
                <!--                    },-->
                <!--                    legend: {-->
                <!--                      top: '5%',-->
                <!--                      left: 'center'-->
                <!--                    },-->
                <!--                    series: [{-->
                <!--                      name: 'Access From',-->
                <!--                      type: 'pie',-->
                <!--                      radius: ['40%', '70%'],-->
                <!--                      avoidLabelOverlap: false,-->
                <!--                      label: {-->
                <!--                        show: false,-->
                <!--                        position: 'center'-->
                <!--                      },-->
                <!--                      emphasis: {-->
                <!--                        label: {-->
                <!--                          show: true,-->
                <!--                          fontSize: '18',-->
                <!--                          fontWeight: 'bold'-->
                <!--                        }-->
                <!--                      },-->
                <!--                      labelLine: {-->
                <!--                        show: false-->
                <!--                      },-->
                <!--                      data: [{-->
                <!--                          value: 1048,-->
                <!--                          name: 'Search Engine'-->
                <!--                        },-->
                <!--                        {-->
                <!--                          value: 735,-->
                <!--                          name: 'Direct'-->
                <!--                        },-->
                <!--                        {-->
                <!--                          value: 580,-->
                <!--                          name: 'Email'-->
                <!--                        },-->
                <!--                        {-->
                <!--                          value: 484,-->
                <!--                          name: 'Union Ads'-->
                <!--                        },-->
                <!--                        {-->
                <!--                          value: 300,-->
                <!--                          name: 'Video Ads'-->
                <!--                        }-->
                <!--                      ]-->
                <!--                    }]-->
                <!--                  });-->
                <!--                });-->
                <!--              </script>-->

                <!--            </div>-->
                <!--          </div>&lt;!&ndash; End Website Traffic &ndash;&gt;-->

                <!-- News & Updates Traffic -->
                <!--          <div class="card">-->
                <!--            <div class="filter">-->
                <!--              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
                <!--              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
                <!--                <li class="dropdown-header text-start">-->
                <!--                  <h6>Filter</h6>-->
                <!--                </li>-->

                <!--                <li><a class="dropdown-item" href="#">오늘</a></li>-->
                <!--                <li><a class="dropdown-item" href="#">이번 달</a></li>-->
                <!--                <li><a class="dropdown-item" href="#">이번 년도</a></li>-->
                <!--              </ul>-->
                <!--            </div>-->

                <!--            <div class="card-body pb-0">-->
                <!--              <h5 class="card-title">소식 &amp; 활동 <span>| 오늘</span></h5>-->

                <!--              <div class="news">-->
                <!--                <div class="post-item clearfix">-->
                <!--                  <img src="/static/assets/img/news-1.jpg" alt="">-->
                <!--                  <h4><a href="#">소식</a></h4>-->
                <!--                  <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>-->
                <!--                </div>-->

                <!--                <div class="post-item clearfix">-->
                <!--                  <img src="/static/assets/img/news-2.jpg" alt="">-->
                <!--                  <h4><a href="#">소식2</a></h4>-->
                <!--                  <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>-->
                <!--                </div>-->

                <!--                <div class="post-item clearfix">-->
                <!--                  <img src="/static/assets/img/news-3.jpg" alt="">-->
                <!--                  <h4><a href="#">소식3</a></h4>-->
                <!--                  <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>-->
                <!--                </div>-->

                <!--                <div class="post-item clearfix">-->
                <!--                  <img src="/static/assets/img/news-4.jpg" alt="">-->
                <!--                  <h4><a href="#">소식4</a></h4>-->
                <!--                  <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>-->
                <!--                </div>-->

                <!--                <div class="post-item clearfix">-->
                <!--                  <img src="/static/assets/img/news-5.jpg" alt="">-->
                <!--                  <h4><a href="#">소식5</a></h4>-->
                <!--                  <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>-->
                <!--                </div>-->

                <!--              </div>&lt;!&ndash; End sidebar recent posts&ndash;&gt;-->

                <!--            </div>-->
                <!--          </div>&lt;!&ndash; End News & Updates &ndash;&gt;-->

                <!--        </div>&lt;!&ndash; End Right side columns &ndash;&gt;-->

            </div>
        </div>
    </section>

</main><!-- End #main -->

<th:block th:replace="layout/footer :: #footer">

</th:block>
<!-- bootstrap.js import-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../static/assets/js/requestBannerChange.js"></script>
</body>

</html>