<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>


<main id="main" class="main">

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-12">

                <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header">주문내역
                        <!--<button type="submit" class="btn btn-primary" style="float: right;">
                            <a th:href="@{/admin/appraise/new}" stlye="color:#ffffff !important">
                                새 검수등록
                            </a>
                        </button>-->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">검색 조건</h5>
                        <form class="search-form" method="POST" action="#">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">주문상태</label>
                                <div class="col-sm-10">
                                    <select th:field="*{stateList}"  class="form-select" aria-label="Default select example">
                                        <option value="">==선택하세요==</option>
                                        <option th:each="state:${stateList}" th:if="${state.stateName=='주문'}" th:value="${state.getStateStep()}" th:text="${state.getStateStep()}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">판매그룹</label>
                                <div class="col-sm-10">
                                    <select class="form-select">
                                        <option selected>==판매타입==</option>
                                        <option value="경매">경매</option>
                                        <option value="중고">중고</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputDate" class="col-sm-2 col-form-label">업데이트날짜</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                            <div class="search-bar mb-3">
                                <input type="text" name="query" placeholder="상품명 혹은 고객휴대폰번호 입력" title="Enter search keyword">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </div>
                    </form>
                    </div>
                </div><!-- End Card with header and footer -->
            </div>
        </div>
    </section>


    <div class="pagetitle">
        <nav style="--bs-breadcrumb-divider: '|';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">검색결과</li>
                <li class="breadcrumb-item active" th:text="'('+${orderList.totalElements}+') 건'">(3) 건</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">로그 내역</h5>

                        <!-- Table with hoverable rows -->
                        <table class="table table-hover ">
                            <thead>
                            <tr>
                                <th scope="col">주문번호</th>
                                <th scope="col">상품명</th>
                                <th scope="col">판매그룹</th>
                                <th scope="col">판매가격</th>
                                <th scope="col">주문자명</th>
                                <th scope="col">휴대폰번호</th>
                                <th scope="col">주문상태</th>
                                <th scope="col">업데이트날짜</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="orderlist : ${orderList}">
                                <th scope="row"><a th:href="@{|/admin/order/${orderlist.id}|}" th:text="${orderlist.id}">user@mail.com</a></th>
                                <td th:text="${orderlist.productName}">Brandon Jacob</td>
                                <td th:text="${orderlist.productSellType}">28</td>
                                <td th:text="${#numbers.formatInteger(orderlist.productPrice,3,'COMMA')+'원'}">dfd</td>
                                <td th:text="${orderlist.orderName}">Designer</td>
                                <td th:text="${orderlist.orderPhoneNumber}">28</td>
                                <td th:text="${orderlist.stateStep}">28</td>
                                <td th:text="${#temporals.format(orderlist.modifiedAt,'yyyy-MM-dd')}">2022-01-01</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <th:block th:replace="layout/pagination :: #pagination">

    </th:block>

</main><!-- End #main -->
<script th:inline="javascript">
    <!-- 검색폼 스크립트 (user용) -->

    /*<![CDATA[*/

    function g_by(column) {
        columnArr = ["stateStep","productSellType"];
        let num;
        let fine_index = columnArr.map((item,index)=>{
            if (item === column) {
                num = index;
            }
        })
        console.log(num)
        let orderList = [[${orderList.content}]]
        console.log(orderList)
        let newArr = [];
        let cls = document.querySelectorAll(".form-select")[num];
        console.log("functioncall",cls);
        appraisalResponse.map((item,index)=>{
            newArr.push(item[column]);
        })
        let groupby = newArr.filter((item,index)=> {
            return newArr.indexOf(item) === index
        });
        let result = groupby.sort().map((item,index)=>{
            cls.innerHTML += `<option value="${index}">${item}</option>`;
            return cls.innerHTML;
        })
        return cls.innerHTML
    }
    g_by("stateStep");
    g_by("productSellType");
    /*]]>*/

</script>
<th:block th:replace="layout/footer :: #footer">

</th:block>

</body>

</html>