<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>

<main id="main" class="main">

    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">홈</a></li>
                <li class="breadcrumb-item"><a href="/admin/product">상품목록</a></li>
                <li class="breadcrumb-item active">새 상품 등록</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">새 상품 등록</h5>

                        <!-- General Form Elements -->
                        <form action="/admin/product/product-detail/new" method="post" enctype="multipart/form-data">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">검수상품명</label>
                                <div class="col-sm-10" style="padding: 7px 12px;">
                                    <div class="col-sm-10">
                                        <a th:href="@{|/admin/appraise/${productDetail.productDto.appraisalId}|}"
                                            th:text="${productDetail.productDto.productName}">많이 낡고 헤져버린 옷</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">검수요약정보</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" style="height: 100px" disabled th:placeholder="'색상:'+${productDetail.productDto().productColor()}+', '+'성별:'+${productDetail.productDto().productGender()}+', '+'사이즈:'+${productDetail.productDto().productSize()}+', '+'브랜드:'+${productDetail.productDto().productBrandName()}+', '+'검수등급:'+${productDetail.productDto().productGrade()}+', '+'매입가격:'+${productDetail.productDto().appraisalPrice()}+', '+'검수코멘트:'+${productDetail.productDto().appraisalComment()}"></textarea>
                                </div>

                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">상품명</label>
                                <div class="col-sm-10">
                                    <input type="hidden" class="form-control" name="productId" th:value="${productDetail.productDto().id()}">
                                    <input type="text" class="form-control" name="productName" required>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">판매가격(원)</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="productPrice" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0">판매그룹</legend>
                                <div class="col-sm-10">

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="productSellType" value="중고" checked>
                                        <label class="form-check-label">
                                            중고
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="productSellType" value="경매">
                                        <label class="form-check-label">
                                            경매
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">브랜드</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example" name="brandId" required>
                                        <option th:each="list : ${brandDto}" th:value="${list.id}" th:text="${list.brandName}">Open this select menu</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">카테고리(대,중)</label>
                                <div class="col-sm-5 mb-3">
                                    <select class="form-select" multiple aria-label="multiple select example" name="categoryBId" required>
                                        <option th:each="list : ${categoryBDtos}" th:value="${list.id}" th:text="${list.categoryBName}">Open this select menu</option>
                                    </select>
                                </div>
                                <div class="col-sm-5">
                                    <select class="form-select" multiple aria-label="multiple select example" name="categoryMId" required>
                                        <option th:each="list : ${categoryMDtos}" th:value="${list.id}" th:text="${list.categoryMName}">Open this select menu</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="formFile1" class="col-sm-2 col-form-label">상품이미지1</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" id="formFile1" name="images" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="formFile2" class="col-sm-2 col-form-label">상품이미지2</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" id="formFile2" name="images" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="formFile3" class="col-sm-2 col-form-label">상품이미지3</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" id="formFile3" name="images" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">상품코멘트</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" style="height: 100px" name="productContent" placeholder="상품에 대한 정보를 기입해주세요." required></textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-success" style="float: right;">
                                        <a th:href="@{/admin/product}">
                                            뒤로가기
                                        </a>
                                    </button>
                                    <button type="submit" class="btn btn-primary" style="float: right; margin-right: 8px;">등록하기</button>
                                </div>
                            </div>
                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<th:block th:replace="layout/footer :: #footer">

</th:block>
</body>

</html>