<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>

<main id="main" class="main">

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-12">

                <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header">상품목록</div>
                    <div class="card-body">
                        <h5 class="card-title">검색 조건</h5>
                        <form class="search-form" action="/admin/product">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">판매상태</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="productSellType">
                                        <option value="" selected>전체</option>
                                        <option value="중고">중고</option>
                                        <option value="경매">경매</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">브랜드</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="productBrand">
                                        <option value="" selected>전체</option>
                                        <option th:each="brand : ${productSearchResponse.brandDtos()}" th:value="${brand.brandName()}" th:text="${brand.brandName}">example</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">성별</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="productGender">
                                        <option value="" selected>전체</option>
                                        <option value="Male">남자</option>
                                        <option value="Female">여자</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">사이즈</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="productSize">
                                        <option value="" selected>전체</option>
                                        <option th:each="num : ${#numbers.sequence(90,290, 5)}" th:value="${num}" th:text="${num}">14</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">상품등급</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="productGrade">
                                        <option value="" selected>전체</option>
                                        <option value="1">S</option>
                                        <option value="2">A</option>
                                        <option value="3">B</option>
                                        <option value="3">C</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">판매상태</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="productState">
                                        <option value="" selected>전체</option>
                                        <option th:each="state : ${productSearchResponse.stateDtos()}" th:if="${state.stateName().contains('상품')}"
                                                th:value="${state.stateStep()}" th:text="${state.stateStep}">example</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">등록일기준</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" name="productDate">
                                </div>
                            </div>
                            <div class="search-bar mb-3">
                                <input type="text" name="query" placeholder="상품명 혹은 판매가격 입력" title="Enter search keyword">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div><!-- End Card with header and footer -->
            </div>
        </div>
    </section>


    <div class="pagetitle">
        <nav style="--bs-breadcrumb-divider: '|';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">검색결과</li>
                <li class="breadcrumb-item active" th:text="'('+${productResponses.totalElements}+') 건'">(3) 건</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">로그 내역</h5>

                        <!-- Table with hoverable rows -->
                        <table class="table table-hover ">
                            <thead>
                            <tr>
                                <th scope="col">상품명</th>
                                <th scope="col">브랜드명</th>
                                <th scope="col">성별</th>
                                <th scope="col">사이즈</th>
                                <th scope="col">판매가격</th>
                                <th scope="col">상품등급</th>
                                <th scope="col">판매상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="productResponse : ${productResponses}">
                                <th scope="row">
                                    <a th:href="@{/admin/product/product-detail/{productId}(productId=${productResponse.id})}" th:text="${productResponse.productName}">user1@mail.com</a>
                                </th>
                                <td th:text="${productResponse.productBrandName}">Brandon Jacob</td>
                                <td th:text="${productResponse.productGender}">Designer</td>
                                <td th:text="${productResponse.productSize}">Designer</td>
                                <td th:text="${#numbers.formatInteger(productResponse.productPrice,3,'COMMA')}+ '원'">28</td>
                                <td th:text="${productResponse.productGrade}">28</td>
                                <td th:text="${productResponse.productState.stateStep}">2016-05-25</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Pagination with icons -->
    <nav id="pagination" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{/admin/product(page=${productResponses.number - 1}, sort=(${param.sort} != null ? ${param.sort} : '') + (${productResponses.sort.getOrderFor('param.sort')} != null ? (${productResponses.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                      query=${param.query})}" aria-label="Previous" th:class="'page-link' + (${productResponses.number} <= 0 ? ' disabled' : '')">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="pageNumber : ${paginationBarNumbers}">
                <a th:text="${pageNumber + 1}"
                   th:href="@{/admin/product(page=${pageNumber},
                          sort=(${param.sort} != null ? ${param.sort} : '') + (${productResponses.sort.getOrderFor('param.sort')} != null ? (${productResponses.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                          query=${param.query}
                      )}"
                   th:class="'page-link' + (${pageNumber} == ${productResponses.number} <= 0 ? ' disabled' : '')">
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/admin/product(page=${productResponses.number + 1}, sort=(${param.sort} != null ? ${param.sort} : '') + (${productResponses.sort.getOrderFor('param.sort')} != null ? (${productResponses.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                      query=${param.query})}" aria-label="Next" th:class="'page-link' + (${productResponses.number} >= ${productResponses.totalPages - 1} ? ' disabled' : '')">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav><!-- End Pagination with icons -->

</main><!-- End #main -->
<!--<script th:inline="javascript">
    &lt;!&ndash; 검색폼 스크립트 (user용) &ndash;&gt;

    /*<![CDATA[*/

    function g_by(column) {
        columnArr = ["productSellType","productBrandName","productGender","productSize","productGrade"];
        let num;
        let fine_index = columnArr.map((item,index)=>{
            if (item === column) {
                num = index;
            }
        })
        console.log(num)
        let productResponses = [[${productResponses.content}]]
        console.log(productResponses)
        let newArr = [];
        let cls = document.querySelectorAll(".form-select")[num];
        console.log("functioncall",cls);
        productResponses.map((item,index)=>{
            newArr.push(item[column]);
        })
        let groupby = newArr.filter((item,index)=> {
            return newArr.indexOf(item) === index
        });
        let result = groupby.sort().map((item,index)=>{
            cls.innerHTML += `<option value="${index}">${item}</option>`;
            return cls.innerHTML;
        })
        return cls.innerHTML
    }
    g_by("productSellType");
    g_by("productBrandName");
    g_by("productGender")
    g_by("productSize");
    g_by("productGrade");
    /*]]>*/

</script>-->
<th:block th:replace="layout/footer :: #footer">

</th:block>

</body>

</html>