<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<!--<form th:action="@{|/admin/appraise/new/${appraisalResponse.id}|}" method="POST" >-->
<!--    <input type="text" name="appraisalGrade">-->
<!--    <input type="text" name="appraisalComment">-->
<!--    <input type="text" name="appraisalPrice">-->
<!--    <button type="submit">보내기</button>-->
<!--</form>-->
<form th:action="@{|/admin/user/grade/new/create|}" method="post">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">등급명</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="gradeName">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">할인율(%)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="discount">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success" style="float: right;">
                <a th:href="@{/admin/user/grade}">
                    뒤로가기
                </a>
            </button>
            <button type="submit" class="btn btn-primary" style="float: right; margin-right: 8px;">등록하기</button>
        </div>
    </div>
</form>
</body>
</html>