<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>

<main id="main" class="main">

    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">홈</a></li>
                <li class="breadcrumb-item active">매입 상품 등록</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="admin-main">
            <div class="join-row">
                <div class="d-flex justify-content-center align-items-center">
                    <span id="search-result" th:text="'검색결과 | ('+${appraisalList.totalElements}+') 건'">검색 결과 : 0개</span>
                </div>
            </div>
            <div class="admin-body">

                <table class="table table-hover user-table">
                    <thead>
                    <tr>
                        <th>검수상품명</th>
                        <th>브랜드명</th>
                        <th>판매회원</th>
                        <th>매입가격</th>
                        <th>검수등급</th>
                        <th>검수등록일</th>
                    </tr>
                    </thead>
                    <tbody id="appraisalList">
                    <tr th:each="appraisal : ${appraisalList}" th:id="'appraisal-'+${appraisal.id}" th:onclick="|javascript:rowSelected(${appraisal.id})|">
                        <td th:text="${appraisal.appProdNm}">user1@mail.com</td>
                        <td th:text="${appraisal.appBrand}">Brandon Jacob</td>
                        <td th:text="${appraisal.userEmail}">dfd</td>
                        <td th:text="${#numbers.formatInteger(appraisal.appPrice,3,'COMMA')}+'원'">28</td>
                        <td th:text="${appraisal.appGrade}">28</td>
                        <td th:text="${#temporals.format(appraisal.createdAt,'yyyy-MM-dd HH:mm:ss')}">2016-05-25</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section id="prodForm" class="section" style="display: none;">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">상품정보</h5>

                        <!-- General Form Elements -->
                        <div class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">판매그룹</legend>
                            <div class="col-sm-10">

                                <div class="form-check" style="display: inline !important;">
                                    <input class="form-check-input" style="float: none !important;" type="radio" name="productSellType" id="sellTypeUsed" value="USED" checked>
                                    <label class="form-check-label" for="sellTypeUsed">
                                        중고
                                    </label>
                                </div>

                                <div class="form-check" style="display: inline !important;">
                                    <input class="form-check-input" style="float: none !important;" type="radio" name="productSellType" id="sellTypeAuction" value="AUCTION">
                                    <label class="form-check-label" for="sellTypeAuction">
                                        경매
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="prodNm" class="col-form-label">상품명</label>
                            <div>
                                <input type="text" name="prodNm" id="prodNm" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="categoryBId" class="col-form-label">카테고리 대분류</label>
                                <select class="form-select" name="categoryBId" id="categoryBId" required>
                                    <option value="">카테고리를 선택해주세요.</option>
                                    <option th:each="cate : ${cateBList}" th:value="${cate.id}" th:text="${cate.cateBNm}">카테고리를 선택해주세요.</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="categoryMId" class="col-form-label">카테고리 중분류</label>
                                <select class="form-select" name="categoryMId" id="categoryMId" required>
                                    <option value="">대분류 카테고리를 선택해주세요.</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="prodBrand" class="col-form-label">브랜드</label>
                                <select class="form-select" name="prodBrand" id="prodBrand" required>
                                    <option value="">브랜드를 선택해주세요.</option>
                                    <option th:each="brand : ${brandList}" th:value="${brand.id}" th:text="${brand.brandName}">브랜드를 선택해주세요.</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="prodSize" class="col-form-label">사이즈</label>
                                <div>
                                    <input type="text" name="prodSize" id="prodSize" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="prodGender" class="col-form-label">성별</label>
                                <select class="form-select" name="prodGender" id="prodGender" required>
                                    <option value="">성별을 선택해주세요.</option>
                                    <option value="COMMON">공용</option>
                                    <option value="MALE">남자</option>
                                    <option value="FEMALE">여자</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="prodColor" class="col-form-label">색상</label>
                                <div>
                                    <input type="text" name="prodColor" id="prodColor" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="prodGrade" class="col-form-label">상품 등급</label>
                                <select class="form-select" name="prodGrade" id="prodGrade" required>
                                    <option value="">등급을 선택해주세요.</option>
                                    <option th:each="grade : ${gradeList}" th:value="${grade}" th:text="${grade}">등급을 선택해주세요.</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="prodPrice" class="col-form-label">판매가격(원)</label>
                                <div>
                                    <input type="text" name="prodPrice" id="prodPrice" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="prodContent" class="col-form-label">상품설명</label>
                            <div>
                                <textarea name="prodContent" id="prodContent" class="form-control" cols="10" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="uploader" class="col-form-label">상품이미지</label>
                            <div class="flex-column" id ="dragArea"
                                 style="display: flex; justify-content: flex-end; align-items: center; border-radius: 12px;
                                 background-color: #fafafa; border: 1px solid #ced4da; position: relative;">
                                <div class="row" id ="a" style="min-height: 300px;">
                                </div>
                                <label for ="uploader" class="btn btn-secondary" style="position: absolute; bottom: 5px; opacity: 0.3; width: 80%;">파일을 선택해 주세요.</label>
                                <input type="file" name="images" accept="image/*" multiple id ="uploader" hidden>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section" id="auctionForm" style="display: none;">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">경매정보</h5>

                        <div>
                            <div class="row mb-3">
                                <label for="appraisalPrice" class="col-sm-2 col-form-label">매입가격(원)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="appraisalPrice" id="appraisalPrice" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="appraisalGrade" class="col-sm-2 col-form-label">검수등급</label>
                                <div class="col-sm-10">
                                    <input type="text" name="appraisalGrade" id="appraisalGrade" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="appraisalComment" class="col-sm-2 col-form-label">검수 코멘트</label>
                                <div class="col-sm-10">
                                    <div class="form-floating mb-3">
                                        <textarea name='appraisalComment' id="appraisalComment" class="form-control" placeholder="손상상태/담당자 이름 등 검수 코멘트를 기록해주세요." style="height: 100px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">검수코드</label>
                                <div class="col-sm-10" style="padding: 7px 12px;">
                                    <div id="appraisalId" class="col-sm-10" style="font-weight: 300;">1</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <button type="button" id="prod-register" class="btn btn-success mb-5" style="float: right; display: none;">상품 등록</button>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/js/back/appraisal/app-control.js"></script>
<script type="text/javascript" src="/static/assets/js/back/service.js"></script>
</body>

</html>