<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="sidebar">
    <!-- ======= Sidebar ======= -->
    <aside class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="bi bi-grid"></i>
                    <span>대시보드</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-person"></i><span>회원관리</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/admin/user/}">
                            <i class="bi bi-circle"></i><span>회원목록</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/user/grade}">
                            <i class="bi bi-circle"></i><span>등급설정</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/user/withdrawal}">
                            <i class="bi bi-circle"></i><span>탈퇴회원</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Components Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bucket"></i><span>상품관리</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/admin/product}">
                            <i class="bi bi-circle"></i><span>상품목록</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="bi bi-circle"></i><span>카테고리설정</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/product/brand}">
                            <i class="bi bi-circle"></i><span>브랜드설정</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Forms Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/admin/appraise}">
                    <i class="bi bi-journal-text"></i>
                    <span>검수목록</span>
                </a>
            </li><!-- End F.A.Q Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/admin/order}">
                    <i class="bi bi-menu-button-wide"></i>
                    <span>주문내역</span>
                </a>
            </li><!-- End Profile Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/admin/auction}">
                    <i class="bi bi-gem"></i>
                    <span>경매목록</span>
                </a>
            </li><!-- End Icons Nav -->

            <li class="nav-heading">관리자</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/detail">
                    <i class="bi bi-person"></i>
                    <span>관리자정보</span>
                </a>
            </li><!-- End Profile Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="/logout">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>로그아웃</span>
                </a>
            </li><!-- End Login Page Nav -->
        </ul>

    </aside><!-- End Sidebar-->
</body>
</html>