<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- header section strats -->
<header class="header_section header d-flex align-items-center">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
            <a class="navbar-brand" href="/">
      <span>
          LUX
      </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form action="/search" class="form-inline col-lg-5 my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0" style="justify-content: center;">
                    <input type="text" name="query" class="form-control mr-2 col-lg-10 col-sm-10" placeholder="어떤 중고 상품을 둘러보고 싶으신가요? 검색">
                    <button class="btn my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
                <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link" href="/product">중고 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auction">경매</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/appraisalResult">검수</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="nav-link" href="/mypage" >마이페이지</a>
                        </li>
                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <a class="nav-link" href="/login">로그인</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="nav-link" href="/logout">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

</header>
<!-- end header section -->
</body>
</html>