<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="hero_area" id="profile-header">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
                <a class="navbar-brand" href="/">
            <span>
              LUX
            </span>
                </a>
            </nav>
        </div>
    </header>
    <!-- end header section -->

</div>
</body>
</html>