<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>경매 상세페이지</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item"><a href="/admin/auction">경매목록</a></li>
                <li class="breadcrumb-item active">경매 제품 상세</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">새 경매상세</h5>
                        <!-- General Form Elements -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">경매상품명</label>
                                <div class="col-sm-10" style="padding: 7px 12px;">
                                    <div class="col-sm-10">
                                        <a th:href="@{/admin/product/product-detail/{productId}(productId=${auctionDetail.auc.prod.id})}" th:text="${auctionDetail.auc.prod.prodNm}"></a>
                                    </div>
                                </div>
                            </div>
                        
                    <div class="row mb-3" >
                        <label class="col-sm-2 col-form-label">브랜드</label>
                        <div class="col-sm-5" style="display:flex;">
                            <p th:text="${auctionDetail.auc.prod.prodBrand}"></p>
                        </div>

                        <div class="row mb-3" >
                            <label class="col-sm-2 col-form-label">대분류</label>
                            <div class="col-sm-5" style="display:flex;">
                                <p th:text="${auctionDetail.auc.prod.prodCateB}"></p>
                            </div>
                        </div>


                        <div class="row mb-3" >
                                <label class="col-sm-2 col-form-label">중분류</label>
                                <div class="col-sm-10" style="font-weight: 300; padding: 7px 12px;" th:text="${auctionDetail.auc.prod.prodCateM}">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" >시작가격(원)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:value="${auctionDetail.auc.startPrice}+'원'" readonly="readonly">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" >현재가격(원)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:value="${auctionDetail.auc.presentPrice}+'원'" readonly="readonly">
                                </div>
                            </div>
                            <div class="row mb-3" >
                                <label class="col-sm-2 col-form-label">현재입찰자</label>
                                <div class="col-sm-10" style="font-weight: 300; padding: 7px 12px;">
                                    <a th:href="@{/admin/user/{userId}(userId=${auctionDetail.auc.id})}" th:text="${auctionDetail.auc.bidder}"></a>
                                </div>
                            </div>

                            <div>
                                <div class="row mb-3" >
                                    <label class="col-sm-2 col-form-label">시작시간</label>
                                    <div class="col-sm-5" style="display:flex;">
                                        <input type="date" class="form-control" style="margin-right: 8px;" th:value="${#temporals.format(auctionDetail.auc.aucStartDate,'yyyy-MM-dd')}" readonly="readonly">
                                        <input type="time" class="form-control" th:value="${#temporals.format(auctionDetail.auc.aucStartDate,'HH:mm')}" readonly="readonly">
                                    </div>
                                </div>
                                <div class="row mb-3" >
                                    <label class="col-sm-2 col-form-label">종료시간</label>
                                    <div class="col-sm-5" style="display:flex;">
                                        <input type="date" class="form-control" style="margin-right: 8px;"  th:value="${#temporals.format(auctionDetail.auc.aucEndDate,'yyyy-MM-dd')}" readonly="readonly">
                                        <input type="time" class="form-control" th:value="${#temporals.format(auctionDetail.auc.aucEndDate,'HH:mm')}" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-success" style="float: right;">
                                        <a th:href="@{/admin/auction}">
                                            뒤로가기
                                        </a>
                                    </button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">경매로그</h5>

                        <!-- Default Table -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">현재입찰자</th>
                                <th scope="col">입찰가격</th>
                                <th scope="col">입찰날짜 </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="log : ${auctionDetail.aucLogList}">
                                <td th:text="${log.bidder}"></td>
                                <td th:text="${log.presentPrice}"></td>
                                <td th:text="${#temporals.format(log.createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>
                            </tr>
                            </tbody>

                        </table>
                        <!-- End Default Table Example -->
                        <div class="float-lg-end">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav><!-- End Disabled and active states -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->


<th:block th:replace="layout/footer :: #footer">

</th:block>
</body>

</html>