<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>


<main id="main" class="main">

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-12">

                <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header">경매목록</div>
                    <div class="card-body">
                        <h5 class="card-title">검색 조건</h5>
                        <form class="search-form" action="/admin/auction">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">경매상태</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="auctionState">
                                        <option value="" selected>전체</option>
<!--                                        <option th:each="state : ${stateList}" th:if="${state.stateName().contains('경매')}"-->
<!--                                                th:value="${state.stateStep()}" th:text="${state.stateStep}">example</option>-->
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">기준날짜</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" name="auctionDate">
                                </div>
                            </div>
                            <div class="search-bar mb-3">
                                <input type="text" name="query" placeholder="경매상품명 혹은 가격 입력" title="Enter search keyword">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div><!-- End Card with header and footer -->
            </div>
        </div>
    </section>


    <div class="pagetitle">
        <nav style="--bs-breadcrumb-divider: '|';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">검색결과</li>
                <li class="breadcrumb-item active" th:text="'('+${aucList.totalElements}+') 건'">(3) 건</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">로그 내역</h5>


                        <!-- Table with hoverable rows -->
                        <table class="table table-hover ">
                            <thead>
                            <tr>
                                <th scope="col">경매코드</th>
                                <th scope="col">상품명</th>
                                <th scope="col">기존가격</th>
                                <th scope="col">시작가격</th>
                                <th scope="col">종료가격</th>
                                <th scope="col">경매상태</th>
                                <th scope="col">경매시작날짜</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="auc : ${aucList}">
                                <th scope="row"><a th:href="@{|/admin/auction/${auc.id}|}" th:text="${auc.id}">user1@mail.com</a></th>
                                <td th:text="${auc.prod.prodNm}">Brandon Jacob</td>
                                <td th:text="${#numbers.formatInteger(auc.presentPrice,3,'COMMA')}+'원'">dfd</td>
                                <td th:text="${#numbers.formatInteger(auc.startPrice,3,'COMMA')}+'원'">Designer</td>
                                <td th:text="${#numbers.formatInteger(auc.endPrice,3,'COMMA')}+'원'">28</td>
                                <td th:text="${auc.aucState}">28</td>
                                <td th:text="${#temporals.format(auc.aucStartDate,'yyyy-MM-dd HH:mm')}">28</td>
                            </tr>
                            </tbody>
                        </table>


                        <!-- End Table with hoverable rows -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Pagination with icons -->
    <nav id="pagination" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{/templates/admin/auction(page=${aucList.number - 1}, sort=(${param.sort} != null ? ${param.sort} : '') + (${aucList.sort.getOrderFor('param.sort')} != null ? (${aucList.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                      query=${param.query})}" aria-label="Previous" th:class="'page-link' + (${aucList.number} <= 0 ? ' disabled' : '')">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="pageNumber : ${paginationBarNumbers}">
                <a th:text="${pageNumber + 1}"
                   th:href="@{/templates/admin/auction(page=${pageNumber},
                          sort=(${param.sort} != null ? ${param.sort} : '') + (${aucList.sort.getOrderFor('param.sort')} != null ? (${aucList.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                          query=${param.query}
                      )}"
                   th:class="'page-link' + (${pageNumber} == ${aucList.number} <= 0 ? ' disabled' : '')">
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/templates/admin/auction(page=${aucList.number + 1}, sort=(${param.sort} != null ? ${param.sort} : '') + (${aucList.sort.getOrderFor('param.sort')} != null ? (${aucList.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                      query=${param.query})}" aria-label="Next" th:class="'page-link' + (${aucList.number} >= ${aucList.totalPages - 1} ? ' disabled' : '')">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav><!-- End Pagination with icons -->

</main><!-- End #main -->

</script>
<th:block th:replace="layout/footer :: #footer">

</th:block>

</body>

</html>