<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>경매 등록페이지</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">홈</a></li>
                <li class="breadcrumb-item"><a href="/admin/auction">경매목록</a></li>
                <li class="breadcrumb-item active">경매 제품 상세</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <form method="post" th:action="@{/admin/auction/{auctionId}/update(auctionId=${auctionDetail.auctionDto.id})}" th:object="${auctionDetail.auctionDto}">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">새 경매상세</h5>
                            <!-- General Form Elements -->
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">경매상품명</label>
                                    <div class="col-sm-10" style="padding: 7px 12px;">
                                        <div class="col-sm-10">
                                            <a th:href="@{/admin/product/product-detail/{productId}(productId=${auctionDetail.auctionDto.productDto.id})}" th:text="${auctionDetail.auctionDto().productDto().productName()}"></a>
                                        </div>
                                    </div>
                                </div>
                            <div class="row mb-3" >
                                <label class="col-sm-2 col-form-label">브랜드</label>
                                <div class="col-sm-10" style="font-weight: 300; padding: 7px 12px;" th:text="${auctionDetail.auctionDto.productDto.productBrandName}">
                                </div>
                            </div>
                            <div>
                                <div class="row mb-3" >
                                    <label class="col-sm-2 col-form-label">대분류</label>
                                    <div class="col-sm-10" style="font-weight: 300; padding: 7px 12px;" th:text="${auctionDetail.auctionDto.productDto.categoryBName}">
                                    </div>
                                </div>
                                <div class="row mb-3" >
                                    <label class="col-sm-2 col-form-label">중분류</label>
                                    <div class="col-sm-10" style="font-weight: 300; padding: 7px 12px;" th:text="${auctionDetail.auctionDto.productDto.categoryMName}">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label" for="startPrice">시작가격(원)</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="startPrice" name="startPrice" placeholder="가격을 입력하세요">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label" for="presentPrice">현재가격(원)</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="presentPrice" th:value="${auctionDetail.auctionDto.presentPrice}" name="presentPrice">
                                    </div>
                                </div>
                                <div class="row mb-3" >
                                    <label class="col-sm-2 col-form-label" for="auctionStartDate">시작시간</label>
                                    <div class="col-sm-5" style="display:flex; " >
                                        <input type="datetime-local" class="form-control" style="margin-right: 8px;" th:value="${#temporals.format(auctionDetail.auctionDto.auctionStartDate,'yyyy-MM-dd HH:mm')}" id="auctionStartDate" name="auctionStartDate">
                                    </div>
                                </div>
                                <div class="row mb-3" >
                                    <label class="col-sm-2 col-form-label" for="auctionClosingDate">종료시간</label>
                                    <div class="col-sm-5" style="display:flex;">
                                        <input type="datetime-local" class="form-control" style="margin-right: 8px;" th:value="${#temporals.format(auctionDetail.auctionDto.auctionClosingDate,'yyyy-MM-dd HH:mm')}" id="auctionClosingDate" name="auctionClosingDate">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-success" style="float: right;">
                                            <a th:href="@{/templates/admin/auction}">
                                                뒤로가기
                                            </a>
                                        </button>
                                        <button type="submit" class="btn btn-primary" style="float: right; margin-right: 8px;">등록하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<th:block th:replace="layout/footer :: #footer">
</th:block>
</body>

</html>
