<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: .head"></head>
<body>

<header th:replace="layout/header :: .header">
    header
</header>

<th:block th:replace="layout/aside :: .sidebar">
    aside
</th:block>

<main id="main" class="main">

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-12">

                <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header">상품목록</div>
                    <div class="card-body">
                        <h5 class="card-title">검색 조건</h5>
                        <form class="search-form" action="/admin/product">
                            <div class="row mb-3">
                                <label for="productSellType" class="col-sm-2 col-form-label">판매상태</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="productSellType" id="productSellType">
                                        <option value="" selected>전체</option>
                                        <option value="중고">중고</option>
                                        <option value="경매">경매</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="productBrand" class="col-sm-2 col-form-label">브랜드</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="productBrand" id="productBrand">
                                        <option value="" selected>전체</option>
                                        <option th:each="brand : ${brandList}" th:value="${brand.id}" th:text="${brand.brandName}">example</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="productGender" class="col-sm-2 col-form-label">성별</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="productGender" id="productGender">
                                        <option value="" selected>전체</option>
                                        <option value="COMMON">공용</option>
                                        <option value="MALE">남자</option>
                                        <option value="FEMALE">여자</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="productSize" class="col-sm-2 col-form-label">사이즈</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="productSize" id="productSize">
                                        <option value="" selected>전체</option>
                                        <option th:each="num : ${#numbers.sequence(90,290, 5)}" th:value="${num}" th:text="${num}">14</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="productGrade" class="col-sm-2 col-form-label">상품등급</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="productGrade" id="productGrade">
                                        <option value="" selected>전체</option>
                                        <option th:each="grade : ${gradeList}" th:value="${grade}" th:text="${grade}">example</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">판매상태</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="productState">
                                        <option value="" selected>전체</option>
                                        <option th:each="state : ${stateList}" th:value="${state}" th:text="${state}">example</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">등록일기준</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" name="productDate">
                                </div>
                            </div>
                            <div class="search-bar mb-3">
                                <input type="text" name="query" placeholder="상품명 혹은 판매가격 입력" title="Enter search keyword">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div><!-- End Card with header and footer -->
            </div>
        </div>
    </section>


    <div class="pagetitle">
        <nav style="--bs-breadcrumb-divider: '|';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">검색결과</li>
                <li class="breadcrumb-item active" th:text="'('+${productList.totalElements}+') 건'">(3) 건</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">로그 내역</h5>

                        <!-- Table with hoverable rows -->
                        <table class="table table-hover ">
                            <thead>
                            <tr>
                                <th scope="col">상품명</th>
                                <th scope="col">브랜드명</th>
                                <th scope="col">성별</th>
                                <th scope="col">사이즈</th>
                                <th scope="col">판매가격</th>
                                <th scope="col">상품등급</th>
                                <th scope="col">판매상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--테이블 한행 자체에 링크-->
                            <tr th:each="product : ${productList}" th:onclick="|location.href='@{/admin/product/product-detail/{productId}(productId=${product.id})}'|">
                                <th scope="row">
                                    <a th:href="@{/admin/product/product-detail/{productId}(productId=${product.id})}" th:text="${product.prodNm}">user1@mail.com</a>
                                </th>
                                <td th:text="${product.prodBrand}">Brandon Jacob</td>
                                <td th:text="${product.prodGender}">Designer</td>
                                <td th:text="${product.prodSize}">Designer</td>
                                <td th:text="${#numbers.formatInteger(product.prodPrice,3,'COMMA')}+ '원'">28</td>
                                <td th:text="${product.prodGrade}">28</td>
                                <td th:text="${product.prodState}">2016-05-25</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Pagination with icons -->
    <nav id="pagination" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{/templates/admin/product(page=${productList.number - 1}, sort=(${param.sort} != null ? ${param.sort} : '') + (${productList.sort.getOrderFor('param.sort')} != null ? (${productList.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                      query=${param.query})}" aria-label="Previous" th:class="'page-link' + (${productList.number} <= 0 ? ' disabled' : '')">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="pageNumber : ${paginationBarNumbers}">
                <a th:text="${pageNumber + 1}"
                   th:href="@{/templates/admin/product(page=${pageNumber},
                          sort=(${param.sort} != null ? ${param.sort} : '') + (${productList.sort.getOrderFor('param.sort')} != null ? (${productList.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                          query=${param.query}
                      )}"
                   th:class="'page-link' + (${pageNumber} == ${productList.number} <= 0 ? ' disabled' : '')">
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/templates/admin/product(page=${productList.number + 1}, sort=(${param.sort} != null ? ${param.sort} : '') + (${productList.sort.getOrderFor('param.sort')} != null ? (${productList.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                      query=${param.query})}" aria-label="Next" th:class="'page-link' + (${productList.number} >= ${productList.totalPages - 1} ? ' disabled' : '')">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav><!-- End Pagination with icons -->

</main><!-- End #main -->
<th:block th:replace="layout/footer :: #footer">
</th:block>

</body>

</html>