<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/front-head :: .head"></head>
<header th:replace="layout/front-header :: .header"></header>
<body class="sub_page">

<aside id="sidebar" class="mysidebar">
    <div id="accordion" class="sidebar-nav">

        <div class="nav-item" th:each="bcategory : ${categoryList}">

            <div class="nav-link collapsed flex" style="justify-content: space-between;" th:id="'heading'+${bcategoryStat.count}" data-toggle="collapse"
                 th:data-target="'#collapse'+${bcategoryStat.count}" aria-expanded="true" th:aria-controls="'collapse'+${bcategoryStat.count}">
                <h6 class="mb-0 font-weight-bold" th:text="${bcategory.categoryBName}">
                    상의
                </h6>
                <h6 class="mb-0 font-weight-bold">+</h6>
            </div>

            <div th:id="'collapse'+${bcategoryStat.count}" class="collapse"
                 th:aria-labelledby="'heading'+${bcategoryStat.count}" data-parent="#accordion">
                <div class="nav-link collapsed" th:each="mcategory : ${bcategory.categoryMDtos()}">
                    <h6 class="mb-0" style="font-size:15px;">
                        <a th:href="@{|/searchcate/${mcategory.id}|}" class="text-black-50" th:text="${mcategory.categoryMName()}">짧은 상의</a>
                    </h6>
                </div>
            </div>

        </div>

    </div>
</aside>
<main id="main" class="main p-5">

    <section class="section mb-5">
        <div class="row align-items-top">
            <div class="col-lg-12">

                <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header">01. 검수정보입력</div>
                    <div class="card-body">
                        <div class="row gy-4" style="font-weight: 300;">
                            <div class="col-lg-12">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td><label for="productName">상품명</label></td>
                                        <td colspan="3">
                                            <input class="form-control input-sm" id="productName" name="productName" type="text" required/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="brand">브랜드</label></td>
                                        <td colspan="3">
                                            <div>
                                                <select class="form-select form-control" id="brand" name="brandId">
                                                    <option th:each="brand : ${brandList}" th:value="${brand.id}" th:text="${brand.brandName}">example</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="gender">성별</label></td>
                                        <td colspan="3">
                                            <div>
                                                <select class="form-select form-control" id="gender" name="gender">
                                                    <option value="공용">공용</option>
                                                    <option value="남자">남자</option>
                                                    <option value="여자">여자</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="color">색상</label></td>
                                        <td colspan="3">
                                            <input class="form-control" type="text" id="color" name="color"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="size">사이즈</label></td>
                                        <td colspan="3">
                                            <input class="form-control" type="text" id="size" name="size"/>
                                        </td>
                                    </tr>
                                    <input class="form-control" type="hidden" name="stateId" id ="stateId" value="1"/>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!-- End Card with header and footer -->
            </div>
        </div>
    </section>
    <section class="section mb-5">
        <div class="row align-items-top">
            <div class="col-lg-12">

                <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header">02. 검수이미지등록</div>
                    <div class="card-body">
                        <div class="gy-4" style="font-weight: 300;">
                            <div class="col-lg-12 flex-column " style="display: flex; justify-content: flex-end; align-items: center;" id ="dragArea">
                                <div class="row" id ="a">
                                </div>
                                <label for ="uploader" class="btn btn-secondary col-lg-12 " style="position: absolute; opacity: 0.5;">파일을 선택해 주세요.</label>
                                <input type="file" name="images" accept="image/*" multiple id ="uploader" hidden>

                            </div>
                        </div>
                    </div>
                </div><!-- End Card with header and footer -->
            </div>
        </div>
    </section>

    <div class="section" style="font-weight: 300;">
        <button  class="btn btn-info w-100" onclick="submitPage()">검수 등록하기</button>
    </div>



</main>
<footer id="footer" class="footer">
    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            © 2022 All Rights Reserved By
            <a href="#">Lux ARP Project</a>
        </p>
    </section>
    <!-- footer section -->
</footer>


<!-- end info_section -->

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/assets/js/bootstrap.js"></script>
<script src="/static/assets/js/frontmain.js"></script>
<script>

    let imageFileList = [];

    //드래그해서 파일 받기
    let imageViewer = document.getElementById("dragArea");
    let a = document.getElementById("a");
    imageViewer.ondragover =(e) =>{e.preventDefault();};
    imageViewer.ondrop =(e) =>{
        e.preventDefault();

        let data = e.dataTransfer.files;
        let img;
        for(let i =0;i<data.length;i++) {
            if (data[i].type.match("image.*")) {
                img = document.createElement("img");
                img.src = window.URL.createObjectURL(data[i]);
                img.style.outline = "none";
                img.style.width = "200px";
                img.style.height = "200px";
                img.style.display = "flex";
                img.classList += "col-lg-3";
                a.appendChild(img);
                imageFileList.push(data[i]);
            } else {
                console.log("데이터 유형이 이미지파일이 아닙니다.");
            }
        }

    }
    //input을 이용한 이미지 파일 전송
    let imageFiles = document.getElementById("uploader");

    imageFiles.onchange = (e) =>
    {
        for(let i =0;i<imageFiles.files.length;i++) {
            let img =  document.createElement("img");
            img.src = window.URL.createObjectURL(imageFiles.files[i]);
            img.style.outline = "none";
            img.style.width = "200px";
            img.style.height = "200px";
            img.style.display = "flex";
            img.classList += "col-lg-3";

            a.appendChild(img);
            imageFileList.push(imageFiles.files[i]);
        }

    }

    function submitPage(){
        let productName = document.getElementById("productName").value;
        let brand = document.getElementById("brand").value;
        let gender = document.getElementById("gender").value;
        let color = document.getElementById("color").value;
        let size = document.getElementById("size").value;
        let stateId = document.getElementById("stateId").value;
        let formData = new FormData();

        //form 데이터 등록
        imageFileList.forEach(e => formData.append("images",e))
        formData.append("productName",productName);
        formData.append("brandId",brand);
        formData.append("gender",gender);
        formData.append("color",color);
        formData.append("size",size);
        formData.append("stateId",stateId);

        let sender = new XMLHttpRequest();

        sender.open('POST','/appraisal/new/loading');
        //sender.setRequestHeader('Content-Type','multipart/form-data');

        //전송
        sender.send(formData);

        sender.onload =() => {
            if(sender.status === 200){
                location.href = "/appraisal";
            }else {
                console.log("error");
            }

        }

    }
</script>
</body>

</html>