<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/front-head :: .head"></head>
<header th:replace="layout/front-header :: .header"></header>
<body class="sub_page">

<aside id="sidebar" class="mysidebar">
    <div id="accordion" class="sidebar-nav">

        <div class="nav-item" th:each="bcategory : ${categoryList}">

            <div class="nav-link collapsed flex" style="justify-content: space-between;" th:id="'heading'+${bcategoryStat.count}" data-toggle="collapse"
                 th:data-target="'#collapse'+${bcategoryStat.count}" aria-expanded="true" th:aria-controls="'collapse'+${bcategoryStat.count}">
                <h6 class="mb-0 font-weight-bold" th:text="${bcategory.categoryBName}">
                    상의
                </h6>
                <h6 class="mb-0 font-weight-bold">+</h6>
            </div>

            <div th:id="'collapse'+${bcategoryStat.count}" class="collapse"
                 th:aria-labelledby="'heading'+${bcategoryStat.count}" data-parent="#accordion">
                <div class="nav-link collapsed" th:each="mcategory : ${bcategory.categoryMDtos()}">
                    <h6 class="mb-0" style="font-size:15px;">
                        <a th:href="@{|/searchcate/${mcategory.id}|}" class="text-black-50" th:text="${mcategory.categoryMName()}">짧은 상의</a>
                    </h6>
                </div>
            </div>

        </div>

    </div>
</aside>
<main id="main" class="main p-5">
    <form action="/appraisal/new/loading" method="post" enctype="multipart/form-data">
    <section class="section mb-5">
        <div class="row align-items-top">
            <div class="col-lg-12">

                <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header">01. 검수정보입력</div>
                    <div class="card-body">
                        <div class="row gy-4" style="font-weight: 300;">
                            <div class="col-lg-12">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td><label for="productName">상품명</label></td>
                                        <td colspan="3">
                                            <input class="form-control input-sm" id="productName" name="productName" type="text" required/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="brand">브랜드</label></td>
                                        <td colspan="3">
                                            <div>
                                                <select class="form-select form-control" id="brand" name="brandId">
                                                    <option th:each="brand : ${brandList}" th:value="${brand.id}" th:text="${brand.brandName}">example</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="gender">성별</label></td>
                                        <td colspan="3">
                                            <div>
                                                <select class="form-select form-control" id="gender" name="gender">
                                                    <option value="공용">공용</option>
                                                    <option value="남자">남자</option>
                                                    <option value="여자">여자</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="color">색상</label></td>
                                        <td colspan="3">
                                            <input class="form-control" type="text" id="color" name="color"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="size">사이즈</label></td>
                                        <td colspan="3">
                                            <input class="form-control" type="text" id="size" name="size"/>
                                        </td>
                                    </tr>
                                    <input class="form-control" type="hidden" name="stateId" value="1"/>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!-- End Card with header and footer -->
            </div>
        </div>
    </section>
    <section class="section mb-5">
        <div class="row align-items-top">
            <div class="col-lg-12">

                <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header">02. 검수이미지등록</div>
                    <div class="card-body">
                        <div class="gy-4" style="font-weight: 300;">
                            <div class="col-lg-12 flex-column" style="display: flex;">
                                <input type="file" class="mb-2" name="images">
                                <input type="file" class="mb-2" name="images">
                                <input type="file" name="images">
                            </div>
                        </div>
                    </div>
                </div><!-- End Card with header and footer -->
            </div>
        </div>
    </section>

    <div class="section" style="font-weight: 300;">
        <button type="submit" class="btn btn-info w-100">검수 등록하기</button>
    </div>
    </form>


</main>
<footer id="footer" class="footer">
    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            © 2022 All Rights Reserved By
            <a href="#">Lux ARP Project</a>
        </p>
    </section>
    <!-- footer section -->
</footer>


<!-- end info_section -->

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/assets/js/bootstrap.js"></script>
<script src="/static/assets/js/frontmain.js"></script>
</body>

</html>