<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head th:replace="layout/front-head :: .head"></head>

<header th:replace="layout/front-header :: .header"></header>

<body class="sub_page">

<aside id="sidebar" class="mysidebar">
    <div id="accordion" class="sidebar-nav">

        <div class="nav-item" th:each="bcategory : ${categoryList}">

            <div class="nav-link collapsed flex" style="justify-content: space-between;" th:id="'heading'+${bcategoryStat.count}" data-toggle="collapse"
                 th:data-target="'#collapse'+${bcategoryStat.count}" aria-expanded="true" th:aria-controls="'collapse'+${bcategoryStat.count}">
                <h6 class="mb-0 font-weight-bold" th:text="${bcategory.categoryBName}">
                    상의
                </h6>
                <h6 class="mb-0 font-weight-bold">+</h6>
            </div>

            <div th:id="'collapse'+${bcategoryStat.count}" class="collapse"
                 th:aria-labelledby="'heading'+${bcategoryStat.count}" data-parent="#accordion">
                <div class="nav-link collapsed" th:each="mcategory : ${bcategory.categoryMDtos()}">
                    <h6 class="mb-0" style="font-size:15px;">
                        <a th:href="@{|/searchcate/${mcategory.id}|}" class="text-black-50" th:text="${mcategory.categoryMName()}">짧은 상의</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- brand section -->
<main id="main" class="main">

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-12">

                <!-- Card with header and footer -->
                <div class="card">
                    <div class="card-header">옵션 검색</div>
                    <div class="card-body">
                        <h5 class="card-title">상세 조건</h5>
                        <form class="search-form" action="/auction">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">색상</label>
                                <div class="col-sm-10">
                                    <select class="form-select form-control" name="auctionColor">
                                        <option value="" selected>전체</option>
                                        <option th:each="auction : ${auctions}" th:value="${auction.productResponse.productColor}" th:text="${auction.productResponse.productColor}">example</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">브랜드</label>
                                <div class="col-sm-10">
                                    <select class="form-select form-control" name="auctionBrand">
                                        <option value="" selected>전체</option>
                                        <option th:each="brand : ${brandList}" th:value="${brand.brandName}" th:text="${brand.brandName}">example</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">성별</label>
                                <div class="col-sm-10">
                                    <select class="form-select form-control" name="auctionGender">
                                        <option value="" selected>전체</option>
                                        <option value="공용">공용</option>
                                        <option value="남자">남자</option>
                                        <option value="여자">여자</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">사이즈</label>
                                <div class="col-sm-10">
                                    <select class="form-select form-control" name="auctionSize">
                                        <option value="" selected>전체</option>
                                        <option th:each="num : ${#numbers.sequence(90,290, 5)}" th:value="${num}" th:text="${num}">14</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">상품등급</label>
                                <div class="col-sm-10">
                                    <select class="form-select form-control" name="auctionGrade">
                                        <option value="" selected>전체</option>
                                        <option value="S">S</option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <!--d아-->
                                <label class="col-sm-2 col-form-label">상품가격</label>
                                <label class="col-sm-1 col-form-label" id="value1">100000</label>
                                <input type="hidden" name="minPrice" id="minPrice" value="100000">
                                <div class="col-sm-8">
                                    <div class="slider">
                                        <input type="range" class="a"  id="input-left" min="1" max="100" value="1"  step="1" />
                                        <input type="range" class="a" id="input-right" min="1" max="100"  value="100"  step="1"/>
                                        <div class="track"  style="">
                                            <div class="range" ></div>
                                            <div class="thumb left"></div>
                                            <div class="thumb right"></div>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label" id="value2" name="maxPrice">10000000</label>
                                <input type="hidden" name="maxPrice" id="maxPrice" value="10000000">
                            </div>
                            <div class="search-bar mb-2 row pl-2">
                                <input type="text" class="form-control mr-4" style="width: 90%;" name="query" placeholder="검색" title="Enter search keyword">
                                <button type="submit" class="btn btn-outline-info row " style="width: 8%;"><i class="bi bi-search-heart">검색</i></button>
                            </div>
                        </form>
                    </div>
                </div><!-- End Card with header and footer -->
            </div>
        </div>
    </section>

    <section class="layout_padding2">
        <div class="container-fluid">
            <div class="brand_heading">
                <h3 class="custom_heading font-weight-light">
                    경매 탭 검색결과 >
                </h3>
                <p th:text="'전체결과: ' +${auctions.totalElements}+' 건'">
                    전체결과: n 건
                </p>
            </div>
        </div>
        <div class="album py-3 bg-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2" th:each="auction: ${auctions}">
                        <div class="card mb-4 box-shadow">
                            <div th:if="${auction.stateStep=='경매전' or auction.stateStep=='경매대기'}">
                                    <img class="card-img-top p-1" th:src="${auction.productResponse.imageList[0].filePath}" alt="Card image cap">
                            </div>
                            <div th:unless="${auction.stateStep=='경매전' or auction.stateStep=='경매대기'}">
                                <a th:href="@{|/auction/detail/${auction.id}|}">
                                    <img class="card-img-top p-1" th:src="${auction.productResponse.imageList[0].filePath}" alt="Card image cap">
                                </a>
                            </div>
                                <div class="p-2">
                                    <p class="card-text font-weight-lighter mb-1 text-black-50" th:text="${auction.productResponse.productBrandName}">브랜드</p>
                                    <p class="card-text font-weight-light mb-1" th:if="${auction.productResponse.productName.length() >= 15}" th:text="${#strings.append(#strings.substring(auction.productResponse.productName, 0, 15), '...')}">상품명</p>
                                    <p class="card-text font-weight-light mb-1" th:unless="${auction.productResponse.productName.length() >= 15}" th:text="${auction.productResponse.productName}">상품명</p>
                                    <p class="card-text font-weight-light" th:text="${#numbers.formatInteger(auction.presentPrice(),3,'COMMA')}">40.000P</p>
                                    <p class="card-text font-weight-light" th:text="${#temporals.format(auction.auctionStartDate(),'yyyy-MM-dd HH:mm:ss')}"></p>
                                    <p class="card-text font-weight-light" th:text="${#temporals.format(auction.auctionClosingDate(),'yyyy-MM-dd HH:mm:ss')}"></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="sec7-text-box">
                                            <p class="time-title" th:id="'title'+${auctionStat.count}"></p>
                                            <div class="time" >
                                                <span th:id="'days'+${auctionStat.count}"></span>
                                                <span th:id="'hours'+${auctionStat.count}"></span>
                                                <span th:id="'minutes'+${auctionStat.count}"></span>
                                                <span th:id="'seconds'+${auctionStat.count}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        </div>
    </section>
    <!-- Pagination with icons -->
    <nav id="pagination" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{/auction(page=${auctions.number - 1}, sort=(${param.sort} != null ? ${param.sort} : '') + (${auctions.sort.getOrderFor('param.sort')} != null ? (${auctions.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                      query=${param.query}, auctionColor=${param.auctionColor}, auctionBrand=${param.auctionBrand}, auctionGender=${param.auctionGender},
                          auctionSize=${param.auctionSize}, auctionGrade=${param.auctionGrade}, maxPrice=${param.maxPrice}, minPrice=${param.minPrice})}"
                   aria-label="Previous" th:class="'page-link' + (${auctions.number} <= 0 ? ' disabled-link' : '')">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="pageNumber : ${paginationBarNumbers}">
                <a th:text="${pageNumber + 1}"
                   th:href="@{/auction(page=${pageNumber},
                          sort=(${param.sort} != null ? ${param.sort} : '') + (${auctions.sort.getOrderFor('param.sort')} != null ? (${auctions.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                          query=${param.query}, auctionColor=${param.auctionColor}, auctionBrand=${param.auctionBrand}, auctionGender=${param.auctionGender},
                          auctionSize=${param.auctionSize}, auctionGrade=${param.auctionGrade}, maxPrice=${param.maxPrice}, minPrice=${param.minPrice}
                      )}"
                   th:class="'page-link' + (${pageNumber} == ${auctions.number} <= 0 ? ' disabled-link' : '')">
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/auction(page=${auctions.number + 1}, sort=(${param.sort} != null ? ${param.sort} : '') + (${auctions.sort.getOrderFor('param.sort')} != null ? (${auctions.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                      query=${param.query}, auctionColor=${param.auctionColor}, auctionBrand=${param.auctionBrand}, auctionGender=${param.auctionGender},
                          auctionSize=${param.auctionSize}, auctionGrade=${param.auctionGrade}, maxPrice=${param.maxPrice}, minPrice=${param.minPrice})}"
                   aria-label="Next" th:class="'page-link' + (${auctions.number} >= ${auctions.totalPages - 1} ? ' disabled-link' : '')">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav><!-- End Pagination with icons -->

</main>

<footer id="footer" class="footer">
    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            © 2022 All Rights Reserved By
            <a href="#">Lux ARP Project</a>
        </p>
    </section>
    <!-- footer section -->
</footer>


<!-- end info_section -->

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/assets/lib/js/bootstrap.js"></script>
<script src="/static/assets/js/frontmain.js"></script>

<script th:inline="javascript">

    function remaindTime() {
        let auctions=[[${auctions.content}]];
        //현재시간
        var now = new Date();

        for(i=0; i<auctions.length;i++){
            var open = new Date([[${auctions.content}]][i].auctionStartDate);
            //종료시간
            var end = new Date([[${auctions.content}]][i].auctionClosingDate);

            var auctionId=[[${auctions.content}]][i].id;

            var statestep=[[${auctions.content}]][i].stateStep;

            var nt = now.getTime();
            var ot = open.getTime();
            var et = end.getTime();

            if(nt<ot){
                //경매 전
                $(".time").fadeIn();
                document.getElementById("title"+(i+1)).innerHTML="경매 시작까지";
                sec =parseInt(ot - nt) / 1000;
                day  = parseInt(sec/60/60/24);
                sec = (sec - (day * 60 * 60 * 24));
                hour = parseInt(sec/60/60);
                sec = (sec - (hour*60*60));
                min = parseInt(sec/60);
                sec = parseInt(sec-(min*60));
                if(hour<10){hour="0"+hour;}
                if(min<10){min="0"+min;}
                if(sec<10){sec="0"+sec;}

                document.getElementById("days"+(i+1)).innerHTML = day+"일";
                document.getElementById("hours"+(i+1)).innerHTML = hour+"시";
                document.getElementById("minutes"+(i+1)).innerHTML = min+"분";
                document.getElementById("seconds"+(i+1)).innerHTML = sec+"초";

            } else if(nt>et){
                //후 경매 종료  최종가격,경매상태

                if (statestep !="경매완료") {
                    $.ajax({
                        type: "POST",
                        url: "/auction/after/" + auctionId + "/11",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json"
                    }).done(function (res) {
                        location.href = "/auction";
                        console.log("완료");
                    }).fail(function (error) {
                        console.log("function error : " + error);
                    });

                }

                $(".time").fadeOut();
                document.getElementById("title"+(i+1)).innerHTML="경매 마감<br/><br/>";

            } else {
                //중  경매 상태를 경매전 -> 경매 중으로 변경

                if (statestep !="경매중") {
                    $.ajax({
                        type: "POST",
                        url: "/auction/present/" + auctionId + "/10",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json"
                    }).done(function (res) {
                        location.href = "/auction";
                        console.log("완료");
                    }).fail(function (error) {
                        console.log("function error : " + error);
                    });
                }

                document.getElementById("title"+(i+1)).innerHTML=" 경매 마감까지";
                sec =parseInt(et - nt) / 1000;
                day  = parseInt(sec/60/60/24);
                sec = (sec - (day * 60 * 60 * 24));
                hour = parseInt(sec/60/60);
                sec = (sec - (hour*60*60));
                min = parseInt(sec/60);
                sec = parseInt(sec-(min*60));
                if(hour<10){hour="0"+hour;}
                if(min<10){min="0"+min;}
                if(sec<10){sec="0"+sec;}

                document.getElementById("days"+(i+1)).innerHTML = day+"일";
                document.getElementById("hours"+(i+1)).innerHTML = hour+"시";
                document.getElementById("minutes"+(i+1)).innerHTML = min+"분";
                document.getElementById("seconds"+(i+1)).innerHTML = sec+"초";

            }
        }

    }
    setInterval(remaindTime,1000);
</script>
</body>

</html>