<!DOCTYPE html>
<html>

<head th:replace="layout/front-head :: .head"></head>


<header th:replace="layout/front-header :: .header"></header>


<body>
  <div class="hero_area">
    <section class=" slider_section position-relative">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="slider_img-box">
                        <div>
                          <img src="/static/assets/img/watch.png" alt="" class="" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="slider_item-detail">
                        <div>
                          <h1>
                            Cartier Watch
                          </h1>
                          <p>
                            방금 전 LUX스토어에 Cartier 손목시계가 등록되었습니다!<br>
                            따끈따끈한 새 상품, 지금 한번 둘러보시겠어요?
                          </p>
                          <div class="d-flex">
                            <a href="" class="slider-btn1 mr-3">
                              상세보기
                            </a>
                            <!-- <a href="" class="slider-btn2">
                              Contact Us
                            </a> -->
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="slider_img-box">
                        <div>
                          <img src="/static/assets/img/watch.png" alt="" class="" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="slider_item-detail">
                        <div>
                          <h1>
                            Stylish watches
                          </h1>
                          <p>
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco l
                          </p>
                          <div class="d-flex">
                            <a href="" class="slider-btn1 mr-3">
                              Read More
                            </a>
                            <a href="" class="slider-btn2">
                              Contact Us
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="slider_img-box">
                        <div>
                          <img src="/static/assets/img/watch.png" alt="" class="" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="slider_item-detail">
                        <div>
                          <h1 class="">
                            Stylish watches
                          </h1>
                          <p>
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco l
                          </p>
                          <div class="d-flex">
                            <a href="" class="slider-btn1 mr-3">
                              Read More
                            </a>
                            <a href="" class="slider-btn2">
                              Contact Us
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="custom_carousel-control">
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>
  <div class="bg">

    <!-- about section -->
    <section class="about_section layout_padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 offset-md-2">
            <div class="about_detail-box">
              <h3 class="custom_heading ">
                LUX STORE
              </h3>
              <p class="">
                명품 중고/경매 쇼핑몰, LUX 스토어에 오신 것을 환영합니다.<br>
                '중고'에서는 다양한 중고 명품 거래가 이루어지고 있습니다.<br>
                '경매'에서는 그동안 구매를 망설이셨던 상품에 저렴한 가격부터 입찰 도전해 보실 수 있습니다.<br>
                오랫동안 사용하지 않고 있는 명품이 있으시다구요? 그럼 회원가입을 진행하신 뒤, <br>'검수'에서 중고 판매에 도전해보세요!
                <br><br>
                🙆🏻‍♀️ : 모든 LUX 구매활동은 포인트 충전을 통해서만 가능합니다!
              </p>
              <div>
                <a href="#">
                  LUX 회원가입 >
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="about_img-box">
              <img src="/static/assets/img/about.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end about section -->

    <!-- brand section -->

    <section class="brand_section layout_padding2">
      <div class="container">
        <div class="">
          <h3 class="font-weight-normal">
            💍 현재 경매 진행 중인 상품
          </h3>
          <p class="font-weight-light text-white">
            가격이 부담스러워서 구매를 망설였던 그 제품, 지금 바로 입찰에 도전해보세요!
          </p>
        </div>
      </div>
      <div class="container-fluid brand_item-container">
        <div class="brand_item-box">
          <div class="brand_img-box  item-1">
            <a href="">
              마감 04시 20분 10초 전<br>
              상세보기 >
            </a>
          </div>
          <div class="brand_detail-box">
            <h6 class="font-weight-light">
              고야드 클러치백
            </h6>
            <h6 class="font-weight-normal">
              💸 마지막 입찰가: 40,000P
            </h6>
          </div>
        </div>
        <div class="brand_item-box">
          <div class="brand_img-box  item-2">
            <a href="">
              마감 04시 20분 10초 전<br>
              상세보기 >
            </a>
          </div>
          <div class="brand_detail-box">
            <h6 class="font-weight-light">
              고야드 클러치백
            </h6>
            <h6 class="font-weight-normal">
              💸 마지막 입찰가: 40,000P
            </h6>
          </div>
        </div>
        <div class="brand_item-box">
          <div class="brand_img-box  item-3">
             <a href="">
              마감 04시 20분 10초 전<br>
              상세보기 >
            </a>
          </div>
          <div class="brand_detail-box">
            <h6 class="font-weight-light">
              고야드 클러치백
            </h6>
            <h6 class="font-weight-normal">
              💸 마지막 입찰가: 40,000P
            </h6>
          </div>
        </div>
        <div class="brand_item-box">
          <div class="brand_img-box  item-5">
            <a href="">
              마감 04시 20분 10초 전<br>
              상세보기 >
            </a>
          </div>
          <div class="brand_detail-box">
            <h6 class="font-weight-light">
              고야드 클러치백
            </h6>
            <h6 class="font-weight-normal">
              💸 마지막 입찰가: 40,000P
            </h6>
          </div>
        </div>
      </div>

    </section>


    <!-- end brand section -->

    <!-- why section -->
    <section class="why_section layout_padding">
      <div class="container">
        <div class="">
          <h3 class="font-weight-normal">
            👌 최근 등록된 상품
          </h3>
          <p class="font-weight-light">
            방금 전 새 상품에 가까운 퀄리티의 상품이 등록되었습니다! 지금 바로 확인해보세요!
          </p>
        </div>
      </div>
      <div class="container-fluid brand_item-container"  style="display: flex; justify-content: center;" >
        <div class="brand_item-box">
          <div class="brand_img-box  item-1">
            <a href="">
              상세보기 >
            </a>
          </div>
          <div class="brand_detail-box">
            <h6 class="font-weight-light text-black-50">
              고야드 클러치백
            </h6>
            <h6 class="font-weight-normal text-black-50">
              💸 판매가격: 40,000P
            </h6>
          </div>
        </div>
        <div class="brand_item-box">
          <div class="brand_img-box  item-2">
            <a href="">
              상세보기 >
            </a>
          </div>
          <div class="brand_detail-box">
            <h6 class="font-weight-light text-black-50">
              고야드 클러치백
            </h6>
            <h6 class="font-weight-normal text-black-50">
              💸 판매가격: 40,000P
            </h6>
          </div>
        </div>
        <div class="brand_item-box">
          <div class="brand_img-box  item-3">
             <a href="">
              상세보기 >
            </a>
          </div>
          <div class="brand_detail-box">
            <h6 class="font-weight-light text-black-50">
              고야드 클러치백
            </h6>
            <h6 class="font-weight-normal text-black-50">
              💸 판매가격: 40,000P
            </h6>
          </div>
        </div>
        <div class="brand_item-box">
          <div class="brand_img-box  item-5">
            <a href="">
              상세보기 >
            </a>
          </div>
          <div class="brand_detail-box">
            <h6 class="font-weight-light text-black-50">
              고야드 클러치백
            </h6>
            <h6 class="font-weight-normal text-black-50">
              💸 판매가격: 40,000P
            </h6>
          </div>
        </div>
      </div>
      <!-- <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="img_box">
              <img src="/static/assets/img/feature-1.png" alt="">
            </div>
            <div class="detail_box">
              <h5>
                중고
              </h5>
              <p>
                variations of passages of Lorem Ipsum available, but the majority have suffered
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img_box">
              <img src="/static/assets/img/feature-2.png" alt="">
            </div>
            <div class="detail_box">
              <h5>
                경매
              </h5>
              <p>
                variations of passages of Lorem Ipsum available, but the majority have suffered
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img_box">
              <img src="/static/assets/img/feature-3.png" alt="">
            </div>
            <div class="detail_box">
              <h5>
                검수
              </h5>
              <p>
                variations of passages of Lorem Ipsum available, but the majority have suffered
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img_box">
              <img src="/static/assets/img/feature-4.png" alt="">
            </div>
            <div class="detail_box">
              <h5>
                포인트 충전
              </h5>
              <p>
                variations of passages of Lorem Ipsum available, but the majority have suffered
              </p>
            </div>
          </div>
        </div>
      </div> -->
    </section>


    <!-- end why section -->
  </div>

  <!-- client section -->

  <!-- <section class="client_section layout_padding-bottom">
    <div class="container">
      <h3 class="custom_heading">
        Testimonial
      </h3>
      <p class="font-weight-bold">
        It is a long established fact that a reader will be distracted by the readable content of a page
      </p>
    </div>
    <div class="container"></div>
    <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="detail_box">
                  <div class="img_box">
                    <img src="/static/assets/img/client.jpg" alt="">
                  </div>
                  <div class="name_box">
                    <h5>
                      Sandy Den
                    </h5>
                    <h6>
                      Many Variations
                    </h6>
                  </div>
                </div>
                <div class="detail_text">
                  <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration
                    in some form, by injected humour, or randomised words which don't look even slightly believable. If
                    you
                    are going to use a passage of Lorem Ipsum, you need to beThere are many variations of passages
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="detail_box">
                  <div class="img_box">
                    <img src="/static/assets/img/client.jpg" alt="">
                  </div>
                  <div class="name_box">
                    <h5>
                      Sandy Den
                    </h5>
                    <h6>
                      Many Variations
                    </h6>
                  </div>
                </div>
                <div class="detail_text">
                  <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration
                    in some form, by injected humour, or randomised words which don't look even slightly believable. If
                    you
                    are going to use a passage of Lorem Ipsum, you need to beThere are many variations of passages
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="detail_box">
                  <div class="img_box">
                    <img src="/static/assets/img/client.jpg" alt="">
                  </div>
                  <div class="name_box">
                    <h5>
                      Sandy Den
                    </h5>
                    <h6>
                      Many Variations
                    </h6>
                  </div>
                </div>
                <div class="detail_text">
                  <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration
                    in some form, by injected humour, or randomised words which don't look even slightly believable. If
                    you
                    are going to use a passage of Lorem Ipsum, you need to beThere are many variations of passages
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
        <span class="sr-only">Next</span>
      </a>
    </div>

    </div>
  </section> -->


  <!-- end client section -->

  <!-- contact section -->

  <!-- <section class="contact_section layout_padding">
    <h2 class="custom_heading text-center">
      NOW CONTACT US
    </h2>
    <div class="container mt-5 pt-5">
      <form action="">
        <div>
          <input type="text" placeholder="NAME">
        </div>
        <div>
          <input type="email" placeholder="EMAIL">
        </div>
        <div>
          <input type="text" placeholder="PHONE NUMBER">
        </div>
        <div>
          <input type="text" class="message-box" placeholder="MESSAGE">
        </div>
        <div class="d-flex justify-content-center mt-5 pt-5">
          <button>
            SEND
          </button>
        </div>
      </form>
    </div>
  </section> -->

  <!-- end contact section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_items">
        <a href="">
          <div class="item ">
            <div class="img-box box-1" style="background-color: tan;">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                경기도 의정부시 서부로 545<br>
                경민대학교<br>
                융합소프트웨어학과
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-2" style="background-color: tan;">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                031-828-0000
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-3" style="background-color: tan;">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                lux@lux.com
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>



  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      © 2020 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/bootstrap.js"></script>
</body>

</html>