<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/front-head :: .head"></head>


<header th:replace="layout/front-header :: .header"></header>


<body>
  <div class="bg">

    <!-- about section -->
    <section class="about_section layout_padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 offset-md-2">
            <div class="about_detail-box">
              <h3 class="custom_heading ">
                LUX STORE
              </h3>
              <p class="">
                명품 중고/경매 쇼핑몰, LUX 스토어에 오신 것을 환영합니다.<br>
                '중고'에서는 다양한 중고 명품 거래가 이루어지고 있습니다.<br>
                '경매'에서는 그동안 구매를 망설이셨던 상품에 저렴한 가격부터 입찰 도전해 보실 수 있습니다.<br>
                오랫동안 사용하지 않고 있는 명품이 있으시다구요? 그럼 회원가입을 진행하신 뒤, <br>'검수'에서 중고 판매에 도전해보세요!
                <br><br>
                🙆🏻‍♀️ : 모든 LUX 구매활동은 포인트 충전을 통해서만 가능합니다!
              </p>
              <div>
                <a href="#">
                  LUX 회원가입 >
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="about_img-box">
              <img src="/static/assets/img/about.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end about section -->

    <!-- brand section -->
    <section class="brand_section layout_padding2">
      <div class="container">
        <div>
          <h3 class="font-weight-normal">
            💍 현재 경매 진행 중인 상품
          </h3>
          <p class="font-weight-light text-white">
            가격이 부담스러워서 구매를 망설였던 그 제품, 지금 바로 입찰에 도전해보세요!
          </p>
        </div>
      </div>
      <div class="container brand_item-container" style="display: flex; justify-content: flex-start;">
        <div class="brand_item-box" th:each="auction : ${auctions}">
          <div class="brand_img-box" th:style="${'background-image: url('+auction.productResponse.imageList[0].filePath+');'}">
            <a th:href="@{|/auction/detail/${auction.id()}|}" >
              마감 <p th:text="${#temporals.format(auction.auctionClosingDate(),'yyyy-MM-dd HH:mm')}"> 04시 20분 10초 전</p><br>
              상세보기 >
            </a>
          </div>
          <div class="brand_detail-box">
            <h6 class="font-weight-light" th:text="${auction.productResponse().productName()}">
              고야드 클러치백
            </h6>
            <h6 class="font-weight-normal" >
              💸 마지막 입찰가: <p th:text="${auction.presentPrice()}">40,000P</p>
            </h6>
          </div>
        </div>
      </div>
    </section>
    <!-- end brand section -->

    <!-- why section -->
    <section class="why_section layout_padding">
      <div class="container">
        <div class="">
          <h3 class="font-weight-normal">
            👌 최근 등록된 상품
          </h3>
          <p class="font-weight-light">
            방금 전 새 상품에 가까운 퀄리티의 상품이 등록되었습니다! 지금 바로 확인해보세요!
          </p>
        </div>
      </div>
      <div class="container brand_item-container"  style="display: flex; justify-content: flex-start;" >
        <div class="brand_item-box" th:each="product : ${products}">
          <div class="brand_img-box" th:style="${'background-image: url('+product.imageList[0].filePath+');'}">
            <a th:href="@{|/product/${product.id()}|}">
              상세보기 >
            </a>
          </div>
          <div class="brand_detail-box">
            <h6 class="font-weight-light text-black-50" th:text="${product.productName()}">
              고야드 클러치백
            </h6>
            <h6 class="font-weight-normal text-black-50" >
              💸 판매가격: <p th:text="${product.productPrice()}">40,000P</p>
            </h6>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_items">
        <a href="">
          <div class="item ">
            <div class="img-box box-1" style="background-color: tan;">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                경기도 의정부시 서부로 545<br>
                경민대학교<br>
                컴퓨터소프트웨어학과
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-2" style="background-color: tan;">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                031-828-0000
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-3" style="background-color: tan;">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                lux@lux.com
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

<footer th:replace="layout/front-footer :: .footer"></footer>
</body>

</html>