<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/front-head :: .head"></head>

<body class="sub_page">

<header th:replace="layout/front-header :: .header"></header>
<header th:replace="layout/front-header-mypage :: #mypage-header"></header>

<aside th:replace="layout/front-aside-mypage :: .mysidebar"></aside>
    <!-- brand section -->
    <main id="main" class="main">
        <section class="layout_padding2">
            <div class="container-fluid">
                <div class="brand_heading">
                <h3 class="custom_heading">
                    검수 요청 조회
                </h3>
                <p th:text="'전체결과: '+${appList.totalElements}+' 건'">
                    전체결과: n 건
                </p>
                </div>
            </div>
            <div class="container-fluid brand_item-container">
                    <table class="table table-hover ">
                    <thead>
                    <tr>
                        <th scope="col">검수요청정보</th>
                        <th scope="col">검수완료일자</th>
                        <th scope="col">검수번호</th>
                        <th scope="col">매입가격(원)</th>
                        <th scope="col">검수상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="app : ${appList}">
                    <form th:action="@{|/appraisal/${app.id}/delete|}" method="post">
                        <th scope="row">
                                <div style="display:flex;">
                                    <div>
                                        <img th:src="${app.imageList[0].filePath}" style="width: 100px; height:100px;" alt="" class="" />
                                    </div>
                                    <div style="display: flex;flex-direction: column;justify-content: center;">
                                        <h6 style="vertical-align: middle;" th:text="${app.appBrand}">브랜드</h6>
                                        <h6 style="vertical-align: middle;" th:text="${app.appProdNm}">검수요청상품명</h6>
                                    </div>
                                </div>
                        </th>
                        <td style="vertical-align: middle;" th:if="${app.appResultId == null}"><h6>-</h6></td>
                        <td style="vertical-align: middle;" th:unless="${app.appResultId == null}"><h6 th:text="${#temporals.format(app.createdAt,'yyyy-MM-dd HH:mm:ss')}">-</h6></td>
                        <td style="vertical-align: middle;" th:text="${app.appResultId}"><h6>12345678</h6></td>
                        <td style="vertical-align: middle;" th:if="${app.appResultId == null}"><h6>-</h6></td>
                        <td style="vertical-align: middle;" th:unless="${app.appResultId == null}"><h6>4,500,000원</h6></td>
                        <td style="vertical-align: middle;">
                            <div style="display:flex; flex-direction: column; align-items: flex-start;">
                                <h6 style="margin-left: 17px;" th:if="${app.appState} == 'BEFORE'" th:text="${app.appState}">검수전</h6>
                                <h6 style="margin-left: 17px;" th:if="(${app.appState} == 'COMPLETE')" th:text="'검수완료'">검수전</h6>
                                <h6 style="margin-left: 17px;" th:if="(${app.appState} == 'REJECT')" th:text="'매입거부'">검수전</h6>
                                <button th:if="${app.appState} == 'BEFORE'" type="submit" class="btn btn-danger" >삭제하기</button>
                                <button class="btn btn-danger" type="button" disabled  th:if="${app.appState} == 'INSPECTION'">
                                    <span class="spinner-border spinner-border-sm " role="status" aria-hidden="true"></span>
                                    검수중..
                                </button>
                                <a style="margin-left: 17px;" th:if="${app.appState} != 'BEFORE' AND ${app.appState} != 'INSPECTION'" th:href="@{|/appraisal/${app.id}|}" >결과보기 ></a>
                            </div>
                        </td>
                    </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <!-- Pagination with icons -->
        <nav id="pagination" aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:href="@{/mypage/appraise(page=${appList.number - 1})}"
                       aria-label="Previous" th:class="'page-link' + (${appList.number} <= 0 ? ' disabled-link' : '')">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNumber : ${paginationBarNumbers}">
                    <a th:text="${pageNumber + 1}"
                       th:href="@{/mypage/appraise(page=${pageNumber})}"
                       th:class="'page-link' + (${pageNumber} == ${appList.number} <= 0 ? ' disabled-link' : '')">
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/mypage/appraise(page=${appList.number + 1})}"
                       aria-label="Next" th:class="'page-link' + (${appList.number} >= ${appList.totalPages - 1} ? ' disabled-link' : '')">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Pagination with icons -->
    </main>

<footer th:replace="layout/front-footer :: .footer"></footer>
</body>

</html>