<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/front-head :: .head"></head>

<body class="sub_page">

<header th:replace="layout/front-header :: .header"></header>
<header th:replace="layout/front-header-mypage :: #mypage-header"></header>

<aside th:replace="layout/front-aside-mypage :: .mysidebar"></aside>
    <!-- brand section -->
    <main id="main" class="main">
        <section class="layout_padding2">
            <div class="container-fluid">
                <div class="brand_heading">
                <h3 class="custom_heading">
                    경매 내역 조회
                </h3>
                    <p th:text="'전체결과: '+${aucLogList.totalElements}+' 건'">
                        전체결과: n 건
                    </p>
                </div>
            </div>
            <div class="container-fluid brand_item-container">
                    <table class="table table-hover ">
                    <thead>
                    <tr>
                        <th scope="col">경매상품정보</th>
                        <th scope="col">입찰일자</th>
                        <th scope="col">경매번호</th>
                        <th scope="col">입찰상태</th>
                        <th scope="col">입찰가격(원)</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tbody>
                        <tr th:each="aucLog : ${aucLogList}">
                            <td th:text="${aucLog.prodNm}"></td>
                            <td th:text="${#temporals.format(aucLog.createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${aucLog.aucId}"></td>
                            <td th:if="${(aucLog.userId == aucLog.presentUserId) and (aucLog.endPrice == 0)}"><div class="badge badge-primary">입찰</div></td>
                            <td th:if="${(aucLog.userId != aucLog.presentUserId) and (aucLog.endPrice == 0)}"><div class="badge badge-danger">유찰</div></td>
                            <td th:if="${(aucLog.userId == aucLog.presentUserId) and (aucLog.presentPrice == aucLog.endPrice) and (aucLog.endPrice != 0)}"><div class="badge badge-success">낙찰</div></td>
                            <td th:if="${(aucLog.userId != aucLog.presentUserId) and (aucLog.presentPrice != aucLog.endPrice) and (aucLog.endPrice != 0)}"><div class="badge badge-danger">패찰</div></td>
                            <td th:text="${aucLog.presentPrice}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
<footer th:replace="layout/front-footer :: .footer"></footer>
</body>

</html>