<!DOCTYPE html>
<html>
<head th:replace="layout/front-head :: .head"></head>

<body class="sub_page">

<header th:replace="layout/front-header :: .header"></header>
<header th:replace="layout/front-header-mypage :: #mypage-header"></header>

<aside th:replace="layout/front-aside-mypage :: .mysidebar"></aside>
    <!-- brand section -->
    <main id="main" class="main">
        <section class="layout_padding2">
            <div class="container-fluid">
                <div class="brand_heading">
                <h3 class="custom_heading">
                    포인트 내역/충전
                </h3>
                <div style="display: flex; justify-content: space-between;">
                    <p>
                        전체결과: n 건
                    </p>
                    <button type="submit" class="btn btn-info mb-2"><a href="#" style="color:white">충전하기</a></button>
                </div>
                </div>
            </div>
            <div class="container-fluid brand_item-container">
                    <table class="table table-hover ">
                    <thead>
                    <tr>
                        <th scope="col">상태</th>
                        <th scope="col">포인트</th>
                        <th scope="col">세부내용</th>
                        <th scope="col">판매그룹/번호</th>
                        <th scope="col">적용일시</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" list : ${pointlist}">
                        <th scope="row">
                            <h6 style="vertical-align: middle; color:blue;">충전</h6>
                        </th>
                        <td style="vertical-align: middle;color:blue;"><h6>+5,000</h6></td>
                        <td style="vertical-align: middle;"><h6>충전</h6></td>
                        <td style="vertical-align: middle;"><h6>-</h6></td>
                        <td style="vertical-align: middle;">
                            <div style="display:flex; flex-direction: column; align-items: flex-start;">
                                <h6 style="margin-left: 13px;">2022.10.22T06:18:22</h6>
                                <!-- <button type="submit" class="btn btn-danger" >취소요청</button> -->
                            </div>
                        </td>
                    </form>
                    </tr>
                    <tr each="brandlist : ${brandList}">
                        <th scope="row">
                            <h6 style="vertical-align: middle; color:red;">차감</h6>
                        </th>
                        <td style="vertical-align: middle;color:red;"><h6>-5,000</h6></td>
                        <td style="vertical-align: middle;"><h6>무슨무슨상품</h6></td>
                        <td style="vertical-align: middle;"><h6>경매/12345678</h6></td>
                        <td style="vertical-align: middle;">
                            <div style="display:flex; flex-direction: column; align-items: flex-start;">
                                <h6 style="margin-left: 13px;">2022.10.22T06:18:22</h6>
                                <!-- <button type="submit" class="btn btn-danger" >취소요청</button> -->
                            </div>
                        </td>
                    </form>
                    </tr>   
                    </tbody>
                </table>
            </div>
        
        </section>
    
        <!-- <div class="bg">
            <section class="brand_section layout_padding2">
                <div class="container">
                    <div class="brand_heading">
                    <h3 class="custom_heading">
                        Our watch brands
                    </h3>
                    <p class="font-weight-bold">
                        It is a long established fact that a reader will be distracted by the readable content of a page
                    </p>
                    </div>
                </div>
                <div class="container-fluid brand_item-container">
                    <div class="brand_item-box">
                    <div class="brand_img-box  item-1">
                        <a href="">
                        View More
                        </a>
                    </div>
                    <div class="brand_detail-box">
                        <h5>
                        $<span> 40 </span>
                        </h5>
                        <h6 class="">
                        best watch
                        </h6>
                    </div>
                    </div>
                    <div class="brand_item-box">
                    <div class="brand_img-box  item-2">
                        <a href="">
                        View More
                        </a>
                    </div>
                    <div class="brand_detail-box">
                        <h5>
                        $<span> 50 </span>
                        </h5>
                        <h6 class="">
                        best watch
                        </h6>
                    </div>
                    </div>
                    <div class="brand_item-box">
                    <div class="brand_img-box  item-3">
                        <a href="">
                        View More
                        </a>
                    </div>
                    <div class="brand_detail-box">
                        <h5>
                        $<span> 60 </span>
                        </h5>
                        <h6 class="">
                        best watch
                        </h6>
                    </div>
                    </div>
                    <div class="brand_item-box">
                    <div class="brand_img-box  item-4">
                        <a href="">
                        View More
                        </a>
                    </div>
                    <div class="brand_detail-box">
                        <h5>
                        $<span> 70 </span>
                        </h5>
                        <h6 class="">
                        best watch
                        </h6>
                    </div>
                    </div>
                    <div class="brand_item-box">
                    <div class="brand_img-box  item-5">
                        <a href="">
                        View More
                        </a>
                    </div>
                    <div class="brand_detail-box">
                        <h5>
                        $<span> 80 </span>
                        </h5>
                        <h6 class="">
                        best watch
                        </h6>
                    </div>
                    </div>
                </div>
            
            </section>
        </div>
        
        <section class="info_section layout_padding">
            <div class="container">
            <div class="info_items">
                <a href="">
                <div class="item ">
                    <div class="img-box box-1">
                    <img src="" alt="">
                    </div>
                    <div class="detail-box">
                    <p>
                        Lorem Ipsum is simply dummy text
                    </p>
                    </div>
                </div>
                </a>
                <a href="">
                <div class="item ">
                    <div class="img-box box-2">
                    <img src="" alt="">
                    </div>
                    <div class="detail-box">
                    <p>
                        +02 1234567890
                    </p>
                    </div>
                </div>
                </a>
                <a href="">
                <div class="item ">
                    <div class="img-box box-3">
                    <img src="" alt="">
                    </div>
                    <div class="detail-box">
                    <p>
                        demo@gmail.com
                    </p>
                    </div>
                </div>
                </a>
            </div>
            </div>
        </section> -->

    </main>
<footer th:replace="layout/front-footer :: .footer"></footer>
</body>

</html>