<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/front-head :: .head"></head>

<body class="sub_page">

<header th:replace="layout/front-header :: .header"></header>
<header th:replace="layout/front-header-mypage :: #mypage-header"></header>

<aside th:replace="layout/front-aside-mypage :: .mysidebar"></aside>


<!-- brand section -->
<main id="main" class="main">
    <section class="layout_padding2">
        <div class="container-fluid">

        </div>
        <div class="container-fluid brand_item-container">
            <table class="table table-hover ">
                <thead>
                <tr>
                    <th scope="col">사진</th>
                    <th scope="col">상품정보</th>
                    <th scope="col">본 날짜 </th>
                    <th scope="col">상태</th>
                </tr>
                </thead>
                <tbody id = "a">
                    <tr CLASS="A"  >
                        <td><img class="card-text font-weight-lighter mb-1 text-black-50" id="image" style="width:100px;height: 100px;" ></td>
                        <td><p class="card-text font-weight-lighter mb-1 text-black-50" id="name"></p></td>
                        <td><p class="card-text font-weight-lighter mb-1 text-black-50" id="date"></p></td>
                        <td><p class="card-text font-weight-lighter mb-1 text-black-50" id="state"></p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>

<script th:inline="javascript">
    let recnet=JSON.parse(sessionStorage.getItem("allEntries"));
    let a = document.getElementById("a");
   // let a = document.getElementsByClassName("a");
    let str ="";
    for(let i = 0; i < recnet.length; i++) {
        str +="  <tr></tr><td><img class=\"card-text font-weight-lighter mb-1 text-black-50\" id=\"image\" style=\"width:100px;height: 100px;\" src =' "+recnet[i].image+"' ></td>" +
            "                        <td><p class=\"card-text font-weight-lighter mb-1 text-black-50\" id=\"name\">"+recnet[i].name+"</p></td>" +
            "                        <td><p class=\"card-text font-weight-lighter mb-1 text-black-50\" id=\"date\">"+recnet[i].date+"</p></td>" +
            "                        <td><p class=\"card-text font-weight-lighter mb-1 text-black-50\" id=\"state\">"+recnet[i].state+"</p></td></tr>  "


        /*
        document.getElementById("image").src = recnet[i].image;
        document.getElementById("name").innerHTML =recnet[i].name + '<br>';
        document.getElementById("date").innerHTML =recnet[i].date + '<br>';
        document.getElementById("state").innerHTML =recnet[i].state+'<br>';
           */
    }
    a.innerHTML = str;
    console.log(name);





</script>
<footer th:replace="layout/front-footer :: .footer"></footer>

</body>

</html>