<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/front-head :: .head"></head>

<body class="sub_page">

<header th:replace="layout/front-header :: .header"></header>
<header th:replace="layout/front-header-mypage :: #mypage-header"></header>

<aside th:replace="layout/front-aside-mypage :: .mysidebar"></aside>
    <!-- brand section -->
    <main id="main" class="main">
        <section class="layout_padding2">
            <div class="container-fluid">
                <div class="brand_heading">
                <h3 class="custom_heading">
                    검수 요청 결과
                </h3>
                <p th:text="'전체결과: '+${appraisals.totalElements}+' 건'">
                    전체결과: n 건
                </p>
                </div>
            </div>
            <div class="container-fluid brand_item-container">
                    <table class="table table-hover ">
                    <thead>
                    <tr>
                        <th scope="col">검수요청정보</th>
                        <th scope="col">검수완료일자</th>
                        <th scope="col">검수번호</th>
                        <th scope="col">매입가격(원)</th>
                        <th scope="col">검수상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="appraisal : ${appraisals}">
                    <form th:action="@{|/appraisal/${appraisal.appraisalRequest.id}/delete|}" method="post">
                        <th scope="row">
                                <div style="display:flex;">
                                    <div>
                                        <img th:src="${appraisal.appraisalRequest.imageList[0].filePath}" style="width: 100px; height:100px;" alt="" class="" />
                                    </div>
                                    <div style="display: flex;flex-direction: column;justify-content: center;">
                                        <h6 style="vertical-align: middle;" th:text="${appraisal.appraisalRequest.appraisalBrandName}">브랜드</h6>
                                        <h6 style="vertical-align: middle;" th:text="${appraisal.appraisalRequest.appraisalProductName}">검수요청상품명</h6>
                                    </div>
                                </div>
                        </th>
                        <td style="vertical-align: middle;" th:if="${appraisal.appraisalRequest.id == null}"><h6>-</h6></td>
                        <td style="vertical-align: middle;" th:unless="${appraisal.appraisalRequest.id == null}"><h6 th:text="${appraisal.createdAt}">-</h6></td>
                        <td style="vertical-align: middle;" th:text="${appraisal.appraisalRequest.id}"><h6>12345678</h6></td>
                        <td style="vertical-align: middle;" th:if="${appraisal.appraisalRequest.id == null}"><h6>-</h6></td>
                        <td style="vertical-align: middle;" th:unless="${appraisal.appraisalRequest.id == null}"><h6>4,500,000원</h6></td>
                        <td style="vertical-align: middle;">
                            <div style="display:flex; flex-direction: column; align-items: flex-start;">
                                <h6 style="margin-left: 17px;" th:if="${appraisal.appraisalRequest.appraisalStateStep} == '검수전'" th:text="${appraisal.appraisalRequest.appraisalStateStep}">검수전</h6>
                                <h6 style="margin-left: 17px;" th:if="(${appraisal.appraisalRequest.appraisalStateStep} == '검수완료') and (${appraisal.appraisalGrade} == 'F')" th:text="${appraisal.appraisalRequest.appraisalStateStep} + '(거절)'">검수전</h6>
                                <h6 style="margin-left: 17px;" th:if="(${appraisal.appraisalRequest.appraisalStateStep} == '검수완료') and (${appraisal.appraisalGrade} != 'F')" th:text="${appraisal.appraisalRequest.appraisalStateStep} + '(매입)'">검수전</h6>
                                <button th:if="${appraisal.appraisalRequest.appraisalStateStep} == '검수전'" type="submit" class="btn btn-danger" >삭제하기</button>
                                <button class="btn btn-danger" type="button" disabled  th:if="${appraisal.appraisalRequest.appraisalStateStep} == '검수중'">
                                    <span class="spinner-border spinner-border-sm " role="status" aria-hidden="true"></span>
                                    검수중..
                                </button>
                                <a style="margin-left: 17px;" th:if="${appraisal.appraisalRequest.appraisalStateStep} == '검수완료'" th:href="@{|/appraisal/${appraisal.id}|}" >결과보기 ></a>
                            </div>
                        </td>
                    </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        
        </section>
    </main>

<footer th:replace="layout/front-footer :: .footer"></footer>
</body>

</html>