<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/front-head :: .head"></head>

<body class="sub_page">

<header th:replace="layout/front-header :: .header"></header>
<header th:replace="layout/front-header-mypage :: #mypage-header"></header>

<aside th:replace="layout/front-aside-mypage :: .mysidebar"></aside>
    <!-- brand section -->
    <main id="main" class="main">
        <section class="layout_padding2">
            <div class="container-fluid">
                <div class="brand_heading">
                <h3 class="custom_heading">
                    포인트 내역/충전
                </h3>
                <div style="display: flex; justify-content: space-between;">
                    <p th:text="'전체결과: ' + ${pointList.getTotalElements} + ' 건'">
                        전체결과: n 건
                    </p>
                    <button type="submit" class="btn btn-info mb-2"><a href="/mypage/point/new" style="color:white">충전하기</a></button>
                </div>
                </div>
            </div>
            <div class="container-fluid brand_item-container">
                    <table class="table table-hover ">
                    <thead>
                    <tr>
                        <th scope="col">상태</th>
                        <th scope="col">포인트</th>
                        <th scope="col">세부내용</th>
                        <th scope="col">판매그룹/번호</th>
                        <th scope="col">적용일시</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="point : ${pointList}">
                        <th scope="row">
                            <h6 th:if="${point.usageDetail} == '충전'" style="vertical-align: middle; color:blue; font-weight: 300;">충전</h6>
                            <h6 th:if="${point.usageDetail} != '충전'" style="vertical-align: middle; color:red; font-weight: 300;">차감</h6>
                        </th>
                        <td th:if="${point.usageDetail} == '충전'" style="vertical-align: middle;color:blue; font-weight: 300;" th:text="'+'+${point.point}"><h6>+5,000</h6></td>
                        <td th:if="${point.usageDetail} != '충전'" style="vertical-align: middle;color:red; font-weight: 300;" th:text="'-'+${point.point}"><h6>-5,000</h6></td>
                        <td style="vertical-align: middle; font-weight: 300;" th:text="${point.usageDetail}"><h6>충전</h6></td>
                        <td style="vertical-align: middle; font-weight: 300;" th:text="${point.saleNumber}"><h6>-</h6></td>
                        <td style="vertical-align: middle; font-weight: 300;" th:text="${#temporals.format(point.createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        
        </section>

        <!-- Pagination with icons -->
        <nav id="pagination" aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:href="@{/mypage/point(page=${pointList.number - 1})}"
                       aria-label="Previous" th:class="'page-link' + (${pointList.number} <= 0 ? ' disabled-link' : '')">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNumber : ${paginationBarNumbers}">
                    <a th:text="${pageNumber + 1}"
                       th:href="@{/mypage/point(page=${pageNumber})}"
                       th:class="'page-link' + (${pageNumber} == ${pointList.number} <= 0 ? ' disabled-link' : '')">
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/mypage/point(page=${pointList.number + 1})}"
                       aria-label="Next" th:class="'page-link' + (${pointList.number} >= ${pointList.totalPages - 1} ? ' disabled-link' : '')">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Pagination with icons -->

    </main>
<footer th:replace="layout/front-footer :: .footer"></footer>
</body>

</html>