<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/front-head :: .head"></head>

<body class="sub_page">

<header th:replace="layout/front-header :: .header"></header>
<header th:replace="layout/front-header-mypage :: #mypage-header"></header>

<aside th:replace="layout/front-aside-mypage :: .mysidebar"></aside>


   <!-- brand section -->
    <main id="main" class="main">
        <section class="layout_padding2">
            <div class="container-fluid">
                <div class="brand_heading">
                <h3 class="custom_heading">
                    주문 내역 조회
                </h3>
                <p th:text="${orders.getTotalElements} + ' 건'">
                    전체결과:
                </p>
                </div>
            </div>
            <div class="container-fluid brand_item-container">
                    <table class="table table-hover ">
                    <thead>
                    <tr>
                        <th scope="col">상품정보</th>
                        <th scope="col">주문일자</th>
                        <th scope="col">주문번호</th>
                        <th scope="col">주문금액(원)</th>
                        <th scope="col">주문상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="orderlist : ${orders}">
                        <th scope="row">
                                <div style="display:flex;">
                                    <div>
                                        <img src="/static/assets/img/watch.png" style="width: 100px; height:100px;" alt="" class="" />
                                    </div>
                                    <div style="display: flex; flex-direction: column">
                                        <h6 th:text="${orderlist.productBrandName}">브랜드</h6>
                                        <h6>
                                            <a href="#" th:text="${orderlist.productName}">
                                                상품명
                                            </a>
                                        </h6>
                                        <h6 th:text="'주문그룹: ' + ${orderlist.productSellType}">판매그룹:중고</h6>
                                    </div>
                                </div>
                        </th>
                        <td style="vertical-align: middle;"><h6 th:text="${#temporals.format(orderlist.createdAt,'yyyy-MM-dd HH:mm:ss')}">2022.03.10</h6></td>
                        <td style="vertical-align: middle;"><h6 th:text="${orderlist.id}">12345678</h6></td>
                        <td style="vertical-align: middle;"><h6 th:text="${#numbers.formatInteger(orderlist.productPrice,3,'COMMA')}+'원'">200,000원</h6></td>
                        <td style="vertical-align: middle;">
                            <div style="display:flex; flex-direction: column; align-items: flex-start;">
                                <h6 style="margin-left: 13px;" th:if="${orderlist.stateStep} == '주문완료'" th:text="${orderlist.stateStep}">주문확정</h6>
                                <h6 th:if="${orderlist.stateStep} == '취소요청'">취소확인중</h6>
                                <h6 th:if="${orderlist.stateStep} == '주문취소'">취소확정</h6>
                                <form th:if="${orderlist.stateStep} == '주문완료'" th:action="@{|/mypage/${orderlist.id}/loading|}" method="post">
                                    <button type="submit" class="btn btn-danger" >취소요청</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>


<footer th:replace="layout/front-footer :: .footer"></footer>
</body>

</html>