<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/front-head :: .head"></head>

<body class="sub_page">

<header th:replace="layout/front-header :: .header"></header>
<header th:replace="layout/front-header-mypage :: #mypage-header"></header>

<aside th:replace="layout/front-aside-mypage :: .mysidebar"></aside>
    <!-- brand section -->
    <main id="main" class="main">
        <section class="layout_padding2">
            <div class="container-fluid">
                <div class="brand_heading">
                <h3 class="custom_heading">
                    포인트 충전
                </h3>
                <!-- <div style="display: flex; justify-content: space-between;">
                    <p>
                        전체결과: n 건
                    </p>
                    <button type="submit" class="btn btn-info mb-2"><a href="#" style="color:white">충전하기</a></button>
                </div> -->
                </div>
            </div>
            <div class="container-fluid brand_item-container">

              <form action="/mypage/point/new/loading" method="post">
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">잔여포인트</label>
                  <div class="col-sm-9 p-2 ml-2" th:if="${user.userPoint}<1000" th:text="${user.userPoint}+'P'">0</div>
                  <div class="col-sm-9 p-2 ml-2" th:if="${user.userPoint}>=1000" th:text="${#numbers.formatInteger(user.userPoint,3,'COMMA')}+'P'">
                    3,300P
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="userPoint" class="col-sm-2 col-form-label">충전포인트</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="userPoint" id="userPoint">
                  </div>
                </div>
              <div class="row mb-3">
                  <label class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-info">충전하기</button>
                    <button type="button" class="btn btn-secondary"><a href="/mypage/point" style="color:white">뒤로가기</a></button>
                  </div>
                </div>
            </form>
            </div>
        
        </section>
    </main>
<footer th:replace="layout/front-footer :: .footer"></footer>
</body>

</html>