<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/front-head :: .head"></head>
<header th:replace="layout/front-header :: .header"></header>
<body class="sub_page">

<aside id="sidebar" class="mysidebar">
    <div id="accordion" class="sidebar-nav">
        <div class="nav-item" th:each="bcategory : ${categoryList}">
            <div class="nav-link collapsed flex" style="justify-content: space-between;" th:id="'heading'+${bcategoryStat.count}" data-toggle="collapse"
                 th:data-target="'#collapse'+${bcategoryStat.count}" aria-expanded="true" th:aria-controls="'collapse'+${bcategoryStat.count}">
                <h6 class="mb-0 font-weight-bold" th:text="${bcategory.categoryBName}">
                    상의
                </h6>
                <h6 class="mb-0 font-weight-bold">+</h6>
            </div>
            <div th:id="'collapse'+${bcategoryStat.count}" class="collapse"
                 th:aria-labelledby="'heading'+${bcategoryStat.count}" data-parent="#accordion">
                <div class="nav-link collapsed" th:each="mcategory : ${bcategory.categoryMDtos()}">
                    <h6 class="mb-0" style="font-size:15px;">
                        <a th:href="@{|/searchcate/${mcategory.id}|}" class="text-black-50" th:text="${mcategory.categoryMName()}">짧은 상의</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</aside>

    <!-- brand section -->
    <main id="main" class="main p-1">
        <section class="section">
            <div class="row align-items-top">
                <div class="col-lg-12">

                    <!-- Card with header and footer -->
                    <div class="card">
                        <div class="card-header">옵션 검색</div>
                        <div class="card-body">
                            <h5 class="card-title">상세 조건</h5>
                            <form class="search-form" action="/product">
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">색상</label>
                                    <div class="col-sm-10">
                                        <select class="form-select form-control" name="productColor">
                                             <option value="" selected>전체</option>
                                            <option th:each="product : ${products}" th:value="${product.productColor}" th:text="${product.productColor}">example</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">브랜드</label>
                                    <div class="col-sm-10">
                                        <select class="form-select form-control" name="productBrand">
                                            <option value="" selected>전체</option>
                                            <option th:each="brand : ${brandList}" th:value="${brand.brandName}" th:text="${brand.brandName}">example</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">성별</label>
                                    <div class="col-sm-10">
                                        <select class="form-select form-control" name="productGender">
                                            <option value="" selected>전체</option>
                                            <option value="Male">남자</option>
                                            <option value="Female">여자</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">사이즈</label>
                                    <div class="col-sm-10">
                                        <select class="form-select form-control" name="productSize">
                                            <option value="" selected>전체</option>
                                            <option th:each="num : ${#numbers.sequence(90,290, 5)}" th:value="${num}" th:text="${num}">14</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">상품등급</label>
                                    <div class="col-sm-10">
                                        <select class="form-select form-control" name="productGrade">
                                            <option value="" selected>전체</option>
                                            <option value="1">S</option>
                                            <option value="2">A</option>
                                            <option value="3">B</option>
                                            <option value="3">C</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <!--d아-->
                                    <label class="col-sm-2 col-form-label">상품가격</label>
                                    <label class="col-sm-1 col-form-label" id="value1">1000</label>
                                    <input type="hidden" name="minPrice" id="minPrice" value="1000">
                                    <div class="col-sm-8">
                                        <div class="slider">
                                            <input type="range" class="a"  id="input-left" min="1" max="100" value="1"  step="1" />
                                            <input type="range" class="a" id="input-right" min="1" max="100"  value="100"  step="1"/>
                                            <div class="track"  style="">
                                                <div class="range" ></div>
                                                <div class="thumb left"></div>
                                                <div class="thumb right"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="col-sm-1 col-form-label" name="maxPrice" id="value2">10000000</label>
                                    <input type="hidden" name="maxPrice" id="maxPrice" value="10000000">
                                </div>
                                <div class="search-bar mb-2 row pl-2">
                                    <input type="text" class="form-control mr-4" style="width: 90%;" name="query" placeholder="검색" title="Enter search keyword">
                                     <button type="submit" class="btn btn-outline-info row " style="width: 8%;"><i class="bi bi-search-heart">검색</i></button>
                                </div>
                        </form>
                        </div>
                    </div><!-- End Card with header and footer -->
                </div>
            </div>
        </section>

        <section class="layout_padding2">
            <div class="container-fluid">
                <div class="brand_heading">
                <h3 class="custom_heading font-weight-light">
                    중고 탭 검색결과 >
                </h3>
                <p th:text="'전체결과: ' +${products.totalElements}+' 건'">
                    전체결과: n 건
                </p>
                </div>
            </div>
            <div class="album py-3 bg-light">
                <div class="container-fluid">
                  <div class="row">

                    <div class="col-md-2" th:each="product: ${products}">
                      <div class="card mb-4 box-shadow">
                        <a th:href="@{|/product/${product.id}|}">
                        <img class="card-img-top p-1" th:src="${product.imageList[0].filePath}" style="width: 150px;height: 150px;" alt="Card image cap">
                        <div class="p-2">
                          <p class="card-text font-weight-lighter mb-1 text-black-50" th:text="${product.productBrandName}">브랜드</p>
                          <p class="card-text font-weight-light mb-1"><a th:href="@{|/product/${product.id}|}" th:text="${product.productName}">상품명</a></p>
                          <p class="card-text font-weight-light" th:text="${product.productPrice}">40.000P</p>
                          <div class="d-flex justify-content-between align-items-center"></div>
                        </div>
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
        </section>

        <!-- Pagination with icons -->
        <nav id="pagination" aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:href="@{/product(page=${products.number - 1}, sort=(${param.sort} != null ? ${param.sort} : '') + (${products.sort.getOrderFor('param.sort')} != null ? (${products.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                      query=${param.query})}" aria-label="Previous" th:class="'page-link' + (${products.number} <= 0 ? ' disabled' : '')">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNumber : ${paginationBarNumbers}">
                    <a th:text="${pageNumber + 1}"
                       th:href="@{/product(page=${pageNumber},
                          sort=(${param.sort} != null ? ${param.sort} : '') + (${products.sort.getOrderFor('param.sort')} != null ? (${products.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                          query=${param.query}
                      )}"
                       th:class="'page-link' + (${pageNumber} == ${products.number} <= 0 ? ' disabled' : '')">
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/product(page=${products.number + 1}, sort=(${param.sort} != null ? ${param.sort} : '') + (${products.sort.getOrderFor('param.sort')} != null ? (${products.sort.getOrderFor('param.sort').direction.name} != 'DESC' ? ',desc' : '') : ''),
                      query=${param.query})}" aria-label="Next" th:class="'page-link' + (${products.number} >= ${products.totalPages - 1} ? ' disabled' : '')">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav><!-- End Pagination with icons -->

    </main>

    <footer id="footer" class="footer">
            <!-- footer section -->
            <section class="container-fluid footer_section">
                <p>
                    © 2022 All Rights Reserved By
                    <a href="#">Lux ARP Project</a>
                </p>
                </section>
                <!-- footer section -->
    </footer>


  <!-- end info_section -->

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/bootstrap.js"></script>
  <script src="/static/assets/js/frontmain.js"></script>

</body>

</html>