<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/front-head :: .head"></head>
<body class="sub_page">
<div th:replace="layout/front-header-profile :: #profile-header"></div>
<!-- contact section -->
<!--<div class="layout_padding" style="padding: 150px 0;">
	<h2 class="custom_heading text-center">
		LUX
	</h2>
	<div class="container" style="padding: 0 300px;">
		<div class="container full-height justify-content-center">
			<div class="col-12 text-center align-self-center py-5">
				<div class="section pb-5 pt-5 pt-sm-2 text-center">
					<h6 class="mb-0 pb-3"><span>명품 중고/경매 거래 사이트, LUX </span></h6>
					<div class="card-3d-wrap mx-auto">
						<div class="card-3d-wrapper">
							<div class="card-front">
								<div class="center-wrap">
									<div class="section text-center">
										<form action="/join_request" method="post">
											<h4 class="mb-4 pb-3">회원가입</h4>
											<div class="form-group">
												<input type="email" name="userName" th:value="${joinMemberDto.getUserName()} == null ? null : ${joinMemberDto.getUserName()}" class="form-control"
													   placeholder="이메일을 입력해주세요." id="username" autocomplete="off">
												<th:block th:if="${userName != null}">
													<a th:if="${userName == 'emailRegexpError'}"  class="text-danger">입력한
														@@ -40,7 +40,7 @@ <h4 class="mb-4 pb-3">회원가입</h4>
														<i class="input-icon uil uil-at"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" name="password"  th:value="${joinMemberDto.getPassword()} == null ? null : ${joinMemberDto.password}" class="form-control"
													   placeholder="패스워드를 입력해주세요." id="password" autocomplete="off">
												<th:block th:if="${password != null}">
													<a th:if="${password == 'passwordRegexpError'}" class="text-danger">입력한
														@@ -51,7 +51,7 @@ <h4 class="mb-4 pb-3">회원가입</h4>
														<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" name="passwordRepeat" th:value="${joinMemberDto.getPasswordRepeat()} == null ? null : ${joinMemberDto.getPasswordRepeat()}" class="form-control"
													   placeholder="패스워드를 한번 더 입력해주세요." id="passwordRepeat"
													   autocomplete="off">
												<th:block th:if="${passwordRepeat != null}">
													@@ -61,24 +61,24 @@ <h4 class="mb-4 pb-3">회원가입</h4>
													<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<div class="form-group mt-2">
												<input type="text" class="form-control" th:value="${joinMemberDto.getName()} == null ? null : ${joinMemberDto.getName()}" placeholder="이름을 입력해 주세요" id ="name" name ="name">
												<th:block th:if="${name != null}">
													<a th:if="${name == 'nullTypeName'}"
													   class="text-danger">이름을 입력해 주세요.</a>
												</th:block>
											</div>
											<div class="form-group mt-2">
												<input type="tel" class="form-control" th:value="${joinMemberDto.getPhoneNumber() } == null ? null : ${ joinMemberDto.getPhoneNumber()}" placeholder="휴대폰 번호를 입력해 주세요"  id ="phoneNumber" name = "phoneNumber">
												<th:block th:if="${phoneNumber != null}">
													<a th:if="${phoneNumber == 'nullTypePhoneNumber'}"
													   class="text-danger">휴대폰 번호를 입력해 주세요.</a>
													<a th:if="${phoneNumber == 'phoneRegexpError'}" class="text-danger">휴대폰 번호를 '-'를 입력하지 않고 다시 입력해 주세요.</a>
												</th:block>
											</div>
											<div class="form-group mt-2">
												<input type="text" class="form-control"th:value="${joinMemberDto.getAge() } == null ? null : ${joinMemberDto.getAge()}"  placeholder="나이를 입력해 주세요" id="age" name ="age" >
												<th:block th:if="${age != null}">
													<a th:if="${age == 'nullTypeAge'}"
													   class="text-danger">나이를 입력해 주세요</a>
												</th:block>
											</div>
											<div class="form-group mt-2">
												<a>성별 : </a>
												<input type="radio" class="" name="gender" value="남자" id ="male" checked><label for = "male">남자</label>
												<input type="radio" class="" name="gender" value="여자" id="female"><label for = "female">여자</label>
											</div>
											<div class="form-group mt-2">
												<button type="submit" class="btn btn-info mt-2 w-100" value="로그인">회원가입
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->

<!-- contact section -->
<div class="layout_padding" style="padding: 150px 0;">
    <h2 class="custom_heading text-center">
        LUX
    </h2>
    <div class="container" style="padding: 0 300px;">
        <div class="container full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">

                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3"><span>명품 중고/경매 거래 사이트, LUX </span></h6>
                    <!-- <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/> -->
                    <label for="reg-log"></label>
                    <!-- <a href="/"><img src="/static/assets/img/lux.png" alt=""></a> -->
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">

                                    <div class="section text-center">
                                        <form action="/login_request" method="post">
                                            <h4 class="mb-4 pb-3">회원가입</h4>
                                            <div class="form-group">
                                                <input type="email" name="userName" th:value="${joinMemberDto.getUserName()} == null ? null : ${joinMemberDto.getUserName()}" class="form-control"
                                                       placeholder="이메일을 입력해주세요." id="username" autocomplete="off">
                                                <th:block th:if="${userName != null}">
                                                    <a th:if="${userName == 'emailRegexpError'}"  class="text-danger">입력한
                                                        이메일이 올바르지 않습니다. 다시 입력해 주세요.</a>
                                                    <a th:if="${userName == 'nullTypeEmail'}" class="text-danger">이메일이
                                                        입력되지 않았습니다. 다시 입력해 주세요.</a>
                                                    <a th:if="${userName == 'duplicationEmail'}" class="text-danger">중복되는
                                                        이메일이 있습니다. 다른 이메일을 입력하시거나 해당 이메일로 입력해 주세요.</a>
                                                </th:block>
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="password"  th:value="${joinMemberDto.getPassword()} == null ? null : ${joinMemberDto.password}" class="form-control"
                                                       placeholder="패스워드를 입력해주세요." id="password" autocomplete="off">
                                                <th:block th:if="${password != null}">
                                                    <a th:if="${password == 'passwordRegexpError'}" class="text-danger">입력한
                                                        비밀번호가 올바르지 않습니다. 8-16자리 ,영문 대소문자 ,특수기호를 이용하여 비밀번호를 입력해 주세요</a>
                                                    <a th:if="${password == 'nullTypePassword'}" class="text-danger">비밀번호가
                                                        입력되지 않았습니다. 다시 입력해 주세요.</a>
                                                </th:block>
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="passwordRepeat" th:value="${joinMemberDto.getPasswordRepeat()} == null ? null : ${joinMemberDto.getPasswordRepeat()}" class="form-control"
                                                       placeholder="패스워드를 한번 더 입력해주세요." id="passwordRepeat"
                                                       autocomplete="off">
                                                <th:block th:if="${passwordRepeat != null}">
                                                    <a th:if="${passwordRepeat == 'notMatchPassword'}"
                                                       class="text-danger">입력하신 비밀번호와 일치하지 않습니다. 다시 입력해 주세요.</a>
                                                </th:block>
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="text" class="form-control" th:value="${joinMemberDto.getName()} == null ? null : ${joinMemberDto.getName()}" placeholder="사용할 닉네임을 입력해 주세요" id ="name" name ="name">
                                                <th:block th:if="${name != null}">
                                                    <a th:if="${name == 'nullTypeName'}"
                                                       class="text-danger">이름을 입력해 주세요.</a>
                                                    <a th:if="${name == 'duplicationUserName'}"
                                                       class="text-danger">사용되는 닉네임이 있습니다. 다른 닉네임을 입력해 주세요.</a>
                                                </th:block>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="tel" class="form-control" th:value="${joinMemberDto.getPhoneNumber() } == null ? null : ${ joinMemberDto.getPhoneNumber()}" placeholder="휴대폰 번호를 입력해 주세요"  id ="phoneNumber" name = "phoneNumber">
                                                <th:block th:if="${phoneNumber != null}">
                                                    <a th:if="${phoneNumber == 'nullTypePhoneNumber'}"
                                                       class="text-danger">휴대폰 번호를 입력해 주세요.</a>
                                                    <a th:if="${phoneNumber == 'phoneRegexpError'}" class="text-danger">휴대폰 번호를 '-'를 입력하지 않고 다시 입력해 주세요.</a>
                                                    <a th:if="${phoneNumber == 'duplicationPhoneNumber'}" class="text-danger">중복된 휴대폰 번호로 회원가입된 계정이 있습니다. 해당 계정으로 로그인 하시거나 다른 휴대폰 번호를 이용하여 회원가입 하십시오.</a>
                                                </th:block>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="text" class="form-control"th:value="${joinMemberDto.getAge() } == null ? null : ${joinMemberDto.getAge()}"  placeholder="나이를 입력해 주세요" id="age" name ="age" >
                                                <th:block th:if="${age != null}">
                                                    <a th:if="${age == 'nullTypeAge'}"
                                                       class="text-danger">나이를 입력해 주세요</a>
                                                </th:block>
                                            </div>
                                            <div class="form-group mt-2">
                                                <a>성별 : </a>
                                                <input type="radio" class="" name="gender" value="male" id ="male" checked><label for = "male">남자</label>
                                                <input type="radio" class="" name="gender" value="female" id="female"><label for = "female">여자</label>
                                            </div>
                                            <div class="form-group mt-2">
                                                <button type="submit" class="btn btn-info mt-2 w-100" value="로그인">회원가입
                                                </button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/front-footer :: .footer"></footer>

</body>
</html>
