<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/front-head :: .head"></head>
<header th:replace="layout/front-header :: .header"></header>
<body class="sub_page">

<aside id="sidebar" class="mysidebar">
    <div id="accordion" class="sidebar-nav">

        <div class="nav-item" th:each="bcategory : ${categoryList}">

            <div class="nav-link collapsed flex" style="justify-content: space-between;" th:id="'heading'+${bcategoryStat.count}" data-toggle="collapse"
                 th:data-target="'#collapse'+${bcategoryStat.count}" aria-expanded="true" th:aria-controls="'collapse'+${bcategoryStat.count}">
                <h6 class="mb-0 font-weight-bold" th:text="${bcategory.categoryBName}">
                    상의
                </h6>
                <h6 class="mb-0 font-weight-bold">+</h6>
            </div>

            <div th:id="'collapse'+${bcategoryStat.count}" class="collapse"
                 th:aria-labelledby="'heading'+${bcategoryStat.count}" data-parent="#accordion">
                <div class="nav-link collapsed" th:each="mcategory : ${bcategory.categoryMDtos()}">
                    <h6 class="mb-0" style="font-size:15px;">
                        <a th:href="@{|/searchcate/${mcategory.id}|}" class="text-black-50" th:text="${mcategory.categoryMName()}">짧은 상의</a>
                    </h6>
                </div>
            </div>

        </div>

    </div>
</aside>
<main id="main" class="main">
    <section class="layout_padding2">
        <div class="container-fluid">
            <div class="brand_heading">
                <h3 style="font-weight: 300;" class="custom_heading">
                    <strong style="color: #b50;" th:text="${param.query}"></strong>에 대한 검색결과 >
                </h3>
                <div style="display: flex; justify-content: space-between;">
                </div>
            </div>
        </div>

    </section>
    <section class="layout_padding2">
        <div class="container-fluid">
            <div class="brand_heading">
                <h3 class="custom_heading">
                    중고 >
                    <div style="text-align: right">
                        <a th:href="@{|/product|}" >더보기</a>
                    </div>
                </h3>
                <div style="display: flex; justify-content: space-between;">
                    <p th:text="'전체결과: ' + ${#lists.size(productList)} + ' 건'">
                        중고탭 검색결과: n 건
                    </p>
                </div>
            </div>
        </div>
        <!-- 중고 검색 리스트-->
        <div class="album py-3 bg-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2" th:each="product: ${productList}">
                        <div class="card mb-4 box-shadow">
                            <a th:href="@{|/product/${product.id}|}">
                                <img class="card-img-top p-1" th:src="${product.imageList[0].filePath}" alt="Card image cap">
                                <div class="p-2">
                                    <p class="card-text font-weight-lighter mb-1 text-black-50" th:text="${product.productBrandName}">브랜드</p>
                                    <p class="card-text font-weight-light mb-1"><a th:if="${product.productName().length()} > 10" th:href="@{|/product/${product.id}|}" th:text="${#strings.replace(product.productName,#strings.substring(product.productName,10,product.productName.length()),'...')}">상품명</a></p>
                                    <p class="card-text font-weight-light mb-1"><a th:if="${product.productName().length()} <= 10" th:href="@{|/product/${product.id}|}" th:text="${product.productName}">상품명</a></p>
                                    <p class="card-text font-weight-light" th:text="${#numbers.formatInteger(product.productPrice,3,'COMMA')}">40.000P</p>
                                    <div class="d-flex justify-content-between align-items-center"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="layout_padding2">
        <div class="container-fluid">
            <div class="brand_heading">
                <h3 class="custom_heading">
                    경매 >
                    <div style="text-align: right">
                        <a th:href="@{|/auction|}" >더보기</a>
                    </div>
                </h3>
                <div style="display: flex; justify-content: space-between;">
                      <p th:text="'전체결과: ' + ${#lists.size(auctionList)} + ' 건'">
                        경매탭 검색결과: n 건
                    </p>
                </div>
            </div>
        </div>
        <div class="album py-3 bg-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2" th:each="auction: ${auctionList}">
                        <div class="card mb-4 box-shadow">
                            <div th:if="${auction.stateStep=='경매전'}">
                                <img class="card-img-top p-1" th:src="${auction.productResponse.imageList[0].filePath}" alt="Card image cap">
                            </div>
                            <div th:unless="${auction.stateStep=='경매전'}">
                                <a th:href="@{|/auction/detail/${auction.id}|}">
                                    <img class="card-img-top p-1" th:src="${auction.productResponse.imageList[0].filePath}" alt="Card image cap">
                                </a>
                            </div>
                            <div class="p-2">
                                <p class="card-text font-weight-lighter mb-1 text-black-50" th:text="${auction.productResponse.productBrandName}">브랜드</p>
                                <p class="card-text font-weight-light mb-1"><a th:if="${auction.productResponse.productName.length()} > 10" th:href="@{|/auction/detail/${auction.id}|}" th:text="${#strings.replace(auction.productResponse.productName,#strings.substring(auction.productResponse.productName,10,auction.productResponse.productName.length()),'...')}">상품명</a></p>
                                <p class="card-text font-weight-light mb-1"><a th:if="${auction.productResponse.productName.length()} <= 10" th:href="@{|/auction/detail/${auction.id}|}" th:text="${auction.productResponse().productName()}">상품명</a></p>
                                <p class="card-text font-weight-light" th:text="${#numbers.formatInteger(auction.presentPrice(),3,'COMMA')}">40.000P</p>
                                <p class="card-text font-weight-light" th:text="${#temporals.format(auction.auctionStartDate(),'yyyy-MM-dd HH:mm:ss')}"></p>
                                <p class="card-text font-weight-light" th:text="${#temporals.format(auction.auctionClosingDate(),'yyyy-MM-dd HH:mm:ss')}"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="sec7-text-box">
                                        <p class="time-title" th:id="'title'+${auctionStat.count}"></p>
                                        <div class="time" >
                                            <span th:id="'days'+${auctionStat.count}"></span>
                                            <span th:id="'hours'+${auctionStat.count}"></span>
                                            <span th:id="'minutes'+${auctionStat.count}"></span>
                                            <span th:id="'seconds'+${auctionStat.count}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
<hr>
    </section>
    <section class="layout_padding2">
        <div class="container-fluid">
            <div class="brand_heading">
                <h3 class="custom_heading">
                    검수 >
                    <div style="text-align: right">
                        <a th:href="@{|/appraisalResult|}" >더보기</a>
                     </div>
                </h3>
                <div style="display: flex; justify-content: space-between;">
                    <p th:text="'전체결과: ' + ${#lists.size(appraisalResponseList)} + ' 건'">
                        검수탭 검색결과: n 건
                    </p>
                </div>
            </div>
        </div>
        <div class="album py-3 bg-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2" th:each="app: ${appraisalResponseList}">
                        <div class="card mb-4 box-shadow">
                            <div class="p-2">
                                <a th:href="@{|/appraisalResult/${app.id}|}">
                                    <img class="card-img-top p-1" th:src="${app.appraisal().imageList[0].filePath}" alt="Card image cap">
                                </a>
                            <div class="p-2">
                                <p class="card-text font-weight-lighter mb-1 text-black-50" th:text="${app.appraisal.appraisalBrandName()}">브랜드</p>
                                <p class="card-text font-weight-light mb-1"><a th:if="${app.appraisal.appraisalProductName().length()} > 10" th:href="@{|/appraisalResult/${app.id}|}" th:text="${#strings.replace(app.appraisal.appraisalProductName(),#strings.substring(app.appraisal.appraisalProductName(),10,app.appraisal.appraisalProductName().length()),'...')}">상품명</a></p>
                                <p class="card-text font-weight-light mb-1"><a th:if="${app.appraisal.appraisalProductName().length()} <= 10" th:href="@{|/appraisalResult/${app.id}|}" th:text="${app.appraisal.appraisalProductName()}">상품명</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

</main>
<footer id="footer" class="footer">
    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            © 2022 All Rights Reserved By
            <a href="#">Lux ARP Project</a>
        </p>
    </section>
    <!-- footer section -->
</footer>
<!-- end info_section -->

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/assets/lib/js/bootstrap.js"></script>
<script src="/static/assets/js/frontmain.js"></script>

<script th:inline="javascript">
    function remaindTime() {
        let auctions=[[${auctionList}]];
        //현재시간
        var now = new Date();

        for(i=0; i<auctions.length;i++){
            var open = new Date([[${auctionList}]][i].auctionStartDate);
            //종료시간
            var end = new Date([[${auctionList}]][i].auctionClosingDate);

            var auctionId=[[${auctionList}]][i].id;

            var statestep=[[${auctionList}]][i].stateStep;

            var nt = now.getTime();
            var ot = open.getTime();
            var et = end.getTime();

            if(nt<ot){
                //경매 전
                $(".time").fadeIn();
                document.getElementById("title"+(i+1)).innerHTML="경매 시작까지";
                sec =parseInt(ot - nt) / 1000;
                day  = parseInt(sec/60/60/24);
                sec = (sec - (day * 60 * 60 * 24));
                hour = parseInt(sec/60/60);
                sec = (sec - (hour*60*60));
                min = parseInt(sec/60);
                sec = parseInt(sec-(min*60));
                if(hour<10){hour="0"+hour;}
                if(min<10){min="0"+min;}
                if(sec<10){sec="0"+sec;}

                document.getElementById("days"+(i+1)).innerHTML = day+"일";
                document.getElementById("hours"+(i+1)).innerHTML = hour+"시";
                document.getElementById("minutes"+(i+1)).innerHTML = min+"분";
                document.getElementById("seconds"+(i+1)).innerHTML = sec+"초";

            } else if(nt>et){
                //후 경매 종료  최종가격,경매상태

                if (statestep !="경매완료") {
                    $.ajax({
                        type: "POST",
                        url: "/auction/after/" + auctionId + "/11",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json"
                    }).done(function (res) {
                        location.href = "/auction";
                        console.log("완료");
                    }).fail(function (error) {
                        console.log("function error : " + error);
                    });

                }

                $(".time").fadeOut();
                document.getElementById("title"+(i+1)).innerHTML="경매 마감<br/><br/>";

            }else {
                //중  경매 상태를 경매전 -> 경매 중으로 변경

                if (statestep !="경매중") {
                    $.ajax({
                        type: "POST",
                        url: "/auction/present/" + auctionId + "/10",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json"
                    }).done(function (res) {
                        location.href = "/auction";
                        console.log("완료");
                    }).fail(function (error) {
                        console.log("function error : " + error);
                    });
                }

                $(".time").fadeIn();
                document.getElementById("title"+(i+1)).innerHTML=" 경매 마감까지";
                sec =parseInt(et - nt) / 1000;
                day  = parseInt(sec/60/60/24);
                sec = (sec - (day * 60 * 60 * 24));
                hour = parseInt(sec/60/60);
                sec = (sec - (hour*60*60));
                min = parseInt(sec/60);
                sec = parseInt(sec-(min*60));
                if(hour<10){hour="0"+hour;}
                if(min<10){min="0"+min;}
                if(sec<10){sec="0"+sec;}

                document.getElementById("days"+(i+1)).innerHTML = day+"일";
                document.getElementById("hours"+(i+1)).innerHTML = hour+"시";
                document.getElementById("minutes"+(i+1)).innerHTML = min+"분";
                document.getElementById("seconds"+(i+1)).innerHTML = sec+"초";

            }
        }

    }
    setInterval(remaindTime,1000);
</script>

</body>

</html>