<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/front-head :: .head"></head>
<header th:replace="layout/front-header :: .header"></header>
<body class="sub_page">

<aside id="sidebar" class="mysidebar">
    <div id="accordion" class="sidebar-nav">

        <div class="nav-item" th:each="bcategory : ${categoryList}">

            <div class="nav-link collapsed flex" style="justify-content: space-between;" th:id="'heading'+${bcategoryStat.count}" data-toggle="collapse"
                 th:data-target="'#collapse'+${bcategoryStat.count}" aria-expanded="true" th:aria-controls="'collapse'+${bcategoryStat.count}">
                <h6 class="mb-0 font-weight-bold" th:text="${bcategory.categoryBName}">
                    상의
                </h6>
                <h6 class="mb-0 font-weight-bold">+</h6>
            </div>

            <div th:id="'collapse'+${bcategoryStat.count}" class="collapse"
                 th:aria-labelledby="'heading'+${bcategoryStat.count}" data-parent="#accordion">
                <div class="nav-link collapsed" th:each="mcategory : ${bcategory.categoryMDtos()}">
                    <h6 class="mb-0" style="font-size:15px;">
                        <a href="#" class="text-black-50" th:text="${mcategory.categoryMName()}">짧은 상의</a>
                    </h6>
                </div>
            </div>

        </div>

    </div>
</aside>
<main id="main" class="main">
    <section class="layout_padding2">
        <div class="container-fluid">
            <div class="brand_heading">
                <h3 style="font-weight: 300;" class="custom_heading">
                    <strong style="color: #b50;">'뫄뫄'</strong>에 대한 검색결과 >
                </h3>
                <div style="display: flex; justify-content: space-between;">
<!--                    <p th:text="'전체결과: ' + ${points.getTotalElements} + ' 건'">-->
<!--                        전체 검색결과: n 건-->
<!--                    </p>-->
                </div>
            </div>
        </div>

    </section>
    <section class="layout_padding2">
        <div class="container-fluid">
            <div class="brand_heading">
                <h3 class="custom_heading">
                    중고 >
                </h3>
                <div style="display: flex; justify-content: space-between;">
<!--                    <p th:text="'전체결과: ' + ${points.getTotalElements} + ' 건'">-->
<!--                        중고탭 검색결과: n 건-->
<!--                    </p>-->
                </div>
            </div>
        </div>
        <div class="container-fluid brand_item-container" style="display: flex; justify-content:flex-start; flex-wrap: wrap;">


            <a href="#">
            <div class="brand_item-box">
                    <div>
                        <img src="width:300px;height:300px;">
                        <div class="brand_detail-box">
                            <h6 class="font-weight-light text-black-50">
                                고야드-클러치백
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                💸 40,000P
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                🖱 조회: 27
                            </h6>
                        </div>
                    </div>
                </div>
            </a>

        </div>

    </section>
    <section class="layout_padding2">
        <div class="container-fluid">
            <div class="brand_heading">
                <h3 class="custom_heading">
                    경매 >
                </h3>
                <div style="display: flex; justify-content: space-between;">
<!--                    <p th:text="'전체결과: ' + ${points.getTotalElements} + ' 건'">-->
<!--                        경매탭 전체결과: n 건-->
<!--                    </p>-->
                </div>
            </div>
        </div>
        <div class="container-fluid brand_item-container">
            <div class="container">
            </div>
            <div class="container-fluid brand_item-container"  style="display: flex; justify-content: center;" >
                <div class="brand_item-box">
                    <div>
                        <img src="width:300px;height:300px;">
                        <div class="brand_detail-box">
                            <h6 class="font-weight-light text-black-50">
                                고야드-클러치백
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                💸 현재가: 40,000P
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                🕘 마감: 11-10(목) 18:00
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                🖱 조회: 27
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                🧺 입찰: 0
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="brand_item-box">
                    <div>
                        <img src="width:300px;height:300px;">
                        <div class="brand_detail-box">
                            <h6 class="font-weight-light text-black-50">
                                고야드-클러치백
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                💸 현재가: 40,000P
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                🕘 마감: 11-10(목) 18:00
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                🖱 조회: 27
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                🧺 입찰: 0
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="brand_item-box">
                    <div>
                        <img src="width:300px;height:300px;">
                        <div class="brand_detail-box">
                            <h6 class="font-weight-light text-black-50">
                                고야드-클러치백
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                💸 현재가: 40,000P
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                🕘 마감: 11-10(목) 18:00
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                🖱 조회: 27
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                🧺 입찰: 0
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="brand_item-box">
                    <div>
                        <img src="width:300px;height:300px;">
                        <div class="brand_detail-box">
                            <h6 class="font-weight-light text-black-50">
                                고야드-클러치백
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                💸 현재가: 40,000P
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                🕘 마감: 11-10(목) 18:00
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                🖱 조회: 27
                            </h6>
                            <h6 class="font-weight-normal text-black-50">
                                🧺 입찰: 0
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="layout_padding2">
        <div class="container-fluid">
            <div class="brand_heading">
                <h3 class="custom_heading">
                    검수
                </h3>
                <div style="display: flex; justify-content: space-between;">
<!--                    <p th:text="'전체결과: ' + ${points.getTotalElements} + ' 건'">-->
<!--                        검수탭 전체결과: n 건-->
<!--                    </p>-->
                </div>
            </div>
        </div>
<!--        <div class="container-fluid brand_item-container">-->
<!--            <table class="table table-hover ">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th scope="col">상품</th>-->
<!--                    <th scope="col">내용</th>-->
<!--                    <th scope="col">적용일시</th>-->
<!--                    <th scope="col">상태</th>-->
<!--                </tr>-->

<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <th scope="row" style="width: 120px;">-->
<!--                        <a href="#"><img src="#" style="width: 100px; height:100px;"></a>-->
<!--                    </th>-->
<!--                    <td style="vertical-align: middle; font-weight: 300;"><h6>브랜드-카테고리중<br>브랜드 상품명<br>유저명</h6></td>-->
<!--                    <td style="vertical-align: middle; font-weight: 300; width: 150px;"><h6>2022-11-02 18:04:05</h6></td>-->
<!--                    <td style="vertical-align: middle; font-weight: 300;" th:text="${#temporals.format(point.createdAt,'yyyy-MM-dd HH:mm:ss')}">검수완료</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th scope="row" style="width: 120px;">-->
<!--                        <a href="#"><img src="#" style="width: 100px; height:100px;"></a>-->
<!--                    </th>-->
<!--                    <td style="vertical-align: middle; font-weight: 300;"><h6>브랜드-카테고리중<br>브랜드 상품명<br>유저명</h6></td>-->
<!--                    <td style="vertical-align: middle; font-weight: 300; width: 150px;"><h6>2022-11-02 18:04:05</h6></td>-->
<!--                    <td style="vertical-align: middle; font-weight: 300;" th:text="${#temporals.format(point.createdAt,'yyyy-MM-dd HH:mm:ss')}">검수완료</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th scope="row" style="width: 120px;">-->
<!--                        <a href="#"><img src="#" style="width: 100px; height:100px;"></a>-->
<!--                    </th>-->
<!--                    <td style="vertical-align: middle; font-weight: 300;"><h6>브랜드-카테고리중<br>브랜드 상품명<br>유저명</h6></td>-->
<!--                    <td style="vertical-align: middle; font-weight: 300; width: 150px;"><h6>2022-11-02 18:04:05</h6></td>-->
<!--                    <td style="vertical-align: middle; font-weight: 300;" th:text="${#temporals.format(point.createdAt,'yyyy-MM-dd HH:mm:ss')}">검수완료</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th scope="row" style="width: 120px;">-->
<!--                        <a href="#"><img src="#" style="width: 100px; height:100px;"></a>-->
<!--                    </th>-->
<!--                    <td style="vertical-align: middle; font-weight: 300;"><h6>브랜드-카테고리중<br>브랜드 상품명<br>유저명</h6></td>-->
<!--                    <td style="vertical-align: middle; font-weight: 300; width: 150px;"><h6>2022-11-02 18:04:05</h6></td>-->
<!--                    <td style="vertical-align: middle; font-weight: 300;" th:text="${#temporals.format(point.createdAt,'yyyy-MM-dd HH:mm:ss')}">검수완료</td>-->
<!--                </tr>-->

<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->

    </section>

</main>
<footer id="footer" class="footer">
    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            © 2022 All Rights Reserved By
            <a href="#">Lux ARP Project</a>
        </p>
    </section>
    <!-- footer section -->
</footer>


<!-- end info_section -->

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/assets/js/bootstrap.js"></script>
<script src="/static/assets/js/frontmain.js"></script>
</body>

</html>