<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head th:replace="layout/front-head :: .head"></head>
<header th:replace="layout/front-header :: .header"></header>
<body class="sub_page">

<aside id="sidebar" class="mysidebar">
    <div id="accordion" class="sidebar-nav">
        <div class="nav-item" th:each="bcategory : ${categoryList}">
            <div class="nav-link collapsed flex" style="justify-content: space-between;" th:id="'heading'+${bcategoryStat.count}" data-toggle="collapse"
                 th:data-target="'#collapse'+${bcategoryStat.count}" aria-expanded="true" th:aria-controls="'collapse'+${bcategoryStat.count}">
                <h6 class="mb-0 font-weight-bold" th:text="${bcategory.categoryBName}">
                    상의
                </h6>
                <h6 class="mb-0 font-weight-bold">+</h6>
            </div>
            <div th:id="'collapse'+${bcategoryStat.count}" class="collapse"
                 th:aria-labelledby="'heading'+${bcategoryStat.count}" data-parent="#accordion">
                <div class="nav-link collapsed" th:each="mcategory : ${bcategory.categoryMDtos()}">
                    <h6 class="mb-0" style="font-size:15px;">
                        <a href="#" class="text-black-50" th:text="${mcategory.categoryMName()}">짧은 상의</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- brand section -->
<main id="main" class="main p-5">

    <div class="container" style="font-weight: 300;">

        <div class="gy-4 mb-5 bg-light" style="display:flex;justify-content: center">
            <div>
                <div class="text-center p-5"><p style="font-size: 25px;">구매가 성공적으로 이루어졌습니다. 감사합니다.</p></div>
                <div class="mb-3 text-center">
                    <a class="btn btn-secondary" href="/">홈으로 이동</a>
                    <a class="btn btn-info" href="/mypage">마이페이지로 이동</a>
                </div>
            </div>
        </div>
    </div>


</main>

<footer id="footer" class="footer fixed-bottom">
    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            © 2022 All Rights Reserved By
            <a href="#">Lux ARP Project</a>
        </p>
    </section>
    <!-- footer section -->
</footer>


<!-- end info_section -->

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/assets/js/bootstrap.js"></script>
<script src="/static/assets/js/frontmain.js"></script>

</body>

</html>