<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/front-head :: .head"></head>
<header th:replace="layout/front-header :: .header"></header>
<body class="sub_page">

<aside id="sidebar" class="mysidebar">
    <div id="accordion" class="sidebar-nav">

        <div class="nav-item" th:each="bCate : ${cateBList}">

            <div class="nav-link collapsed flex" style="justify-content: space-between;" th:id="'heading'+${bCateStat.count}" data-toggle="collapse"
                 th:data-target="'#collapse'+${bCateStat.count}" aria-expanded="true" th:aria-controls="'collapse'+${bCateStat.count}">
                <h6 class="mb-0 font-weight-bold" th:text="${bCate.cateBNm}">
                    상의
                </h6>
                <h6 class="mb-0 font-weight-bold">+</h6>
            </div>

            <div th:id="'collapse'+${bCateStat.count}" class="collapse"
                 th:aria-labelledby="'heading'+${bCateStat.count}" data-parent="#accordion">
                <div class="nav-link collapsed" th:each="mCate : ${bCate.cateMList}">
                    <h6 class="mb-0" style="font-size:15px;">
                        <a th:href="@{|/searchcate/${mCate.id}|}" class="text-black-50" th:text="${mCate.cateMNm}">짧은 상의</a>
                    </h6>
                </div>
            </div>

        </div>

    </div>
</aside>
<main id="main" class="main">
    <section class="layout_padding2">
        <div class="container-fluid">
            <div class="brand_heading">
                <h3 class="custom_heading mb-3" th:text="'검수 상세 - ' + ${appraisal.appState}">
                    검수 상세
                </h3>
            </div>
        </div>
        <div class="container-fluid brand_item-container">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td class="bg-light">상품명</td>
                    <td colspan="5">
                        <div class="col-sm-10" th:text="${appraisal.appProdNm}">
                            샤넬 명품백
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="bg-light">브랜드</td>
                    <td colspan="3">
                        <div class="col-sm-10" th:text="${appraisal.appBrand}">
                            가니
                        </div>
                    </td>
                    <td class="bg-light">사이즈</td>
                    <td colspan="3">
                        <div class="col-sm-10" th:text="${appraisal.appSize}">
                            s
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="bg-light"><label>성별</label></td>
                    <td colspan="3">
                        <div class="col-sm-10" th:text="${appraisal.appGender}">
                            Female
                        </div>
                    </td>
                    <td class="bg-light">색상</td>
                    <td colspan="">
                        <div class="col-sm-10" th:text="${appraisal.appColor}">
                            Orange
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="bg-light">
                        <div>
                            등록날짜
                        </div>
                    </td>
                    <td colspan="5">
                        <div class="col-sm-10" th:text="${#temporals.format(appraisal.createdAt,'yyyy-MM-dd HH:mm:ss')}">
                            2022-11-01 17:09:44
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="bg-light">이미지</td>
                    <td colspan="5">
                        <div class="col-sm-10 center flex-column align-items-center" style="display: flex; border: 0;">
                            <img class="mb-2" th:each="image : ${appraisal.imageList}" th:src="${image.filePath}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="bg-light">
                        <div>
                            매입가격(원)
                        </div>
                    </td>
                    <td colspan="5">
                        <div class="col-sm-10" th:if="(${appraisal.appResultId != null} and ${appraisal.userId} == ${loginId})" th:text="${#numbers.formatInteger(appraisal.appPrice,3,'COMMA')}">
                        </div>
                        <div class="col-sm-10" th:if="${appraisal.userId} != ${loginId}">
                            게시자만 볼 수 있습니다.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="bg-light" >
                        <div>
                            검수등급
                        </div>
                    </td>
                    <td colspan="5">
                        <div class="col-sm-10" th:if="${appraisal.appResultId != null} and ${appraisal.userId} == ${loginId}" th:text="${appraisal.appGrade}">
                            게시자만 볼 수 있게 처리
                        </div>
                        <div class="col-sm-10" th:if="${appraisal.userId} != ${loginId}">
                            게시자만 볼 수 있습니다.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="bg-light">
                        <div>
                            검수코멘트
                        </div>
                    </td>
                    <td colspan="5">
                        <div class="col-sm-10" th:if="${appraisal.userId} == ${loginId}" th:text="${appraisal.appComment}">
                            게시자만 볼 수 있게 처리
                        </div>
                        <div class="col-sm-10" th:if="${appraisal.userId} != ${loginId}">
                            게시자만 볼 수 있습니다.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="bg-light">
                        <div>
                            검수처리날짜
                        </div>
                    </td>
                    <td colspan="5">
                        <div class="col-sm-10" th:if="${appraisal.appResultId != null} and ${appraisal.userId} == ${loginId}" th:text="${#temporals.format(appraisal.modifiedAt, 'yyyy-MM-dd HH:mm:ss')}">
                            게시자만 볼 수 있게 처리
                        </div>
                        <div class="col-sm-10" th:if="${appraisal.userId} != ${loginId}">
                            게시자만 볼 수 있습니다.
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row mb-3" th:if="${appraisal.appState == '검수완료'} and ${appraisal.userId} == ${loginId}" >
                <input type="hidden" id="appraisalId" th:value="${appraisal.id}">
                <div class="col-sm-12">
                    <button type="button" th:if="${appraisal.appState != '판매거절'} and ${appraisal.appState != '판매'}" class="btn btn-success" id="app-sell" style="float: right; margin-right: 8px;" >매입하기</button>
                    <button type="button" th:if="${appraisal.appState != '판매거절'} and ${appraisal.appState != '판매'}" class="btn btn-danger" id="app-refuse" style="float: right; margin-right: 8px;" >매입거부</button>
                </div>
            </div>
        </div>

    </section>

</main>
<footer id="footer" class="footer">
    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            © 2022 All Rights Reserved By
            <a href="#">Lux ARP Project</a>
        </p>
    </section>
    <!-- footer section -->
</footer>


<!-- end info_section -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/lib/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/assets/js/frontmain.js"></script>
<script type="text/javascript" src="/static/assets/js/front/appraisal/app-control.js"></script>
<script type="text/javascript" src="/static/assets/js/front/service.js"></script>
</body>

</html>